<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
    <title>극장</title>

</head>

<div layout:fragment="content">
    <div class="page-util">
        <div class="inner-wrap">
            <div class="location">
                <span>Home</span>
                <a href="/movie" title="영화 페이지로 이동">영화</a>
                <a href="/movie/movieall" title="전체영화 페이지로 이동">전체영화</a>
            </div>
        </div>
    </div>
    <!-- contents -->
    <div id="contents">
        <script th:src="@{/js/movie/movieall.js}"></script>
        <!-- inner-wrap -->
        <div class="inner-wrap">
            <h2 class="tit">전체영화</h2>
   <!--         <div class="movie-search">
                <input type="text" title="영화명을 입력하세요" id="ibxMovieNmSearch" name="ibxMovieNmSearch" placeholder="영화제목/배우/감독으로 검색" class="input-text">
                <button type="button" class="btn-search-input" id="btnSearch">검색</button>

            </div>
            <div class="movie-list-util">
                <ul class="float">
                    <li>
                        <div class="movie-fixed">
                            <p th:text="dddd"></p></div>

                    </li>
                    <li th:text="bbbb">dd</li>
                    <li th:text="cccc">dd</li>
                </ul>
            </div>-->

            <div class="tab-list fixed">
                <ul id="topMenu">
                    <li >
                        <a th:href="@{/movie}" title="박스오피스 탭으로 이동">박스오피스</a>
                    </li>
                    <li class="on">
                        <a th:href="@{/movie/movieall}" title="전체영화 탭으로 이동">전체영화</a>
                    </li>
                    <li>
                        <a href="/movie/special" title="특별상영 탭으로 이동">특별상영</a>
                    </li>
                    <li>
                        <a href="/movie/film" title="필름소사이어티 탭으로 이동">필름소사이어티</a>
                    </li>
                    <li>
                        <a href="/movie/classic" title="클래식소사이어티 탭으로 이동">클래식소사이어티</a>
                    </li>
                </ul>
            </div>
            <!-- movie-list-util -->
            <div class="movie-list-util mt40">
                <!-- 박스오피스 -->
                <div class="topSort" style="display: block;">
                    <div class="movie-sorting sortTab">
                        <!-- 						<span><button type="button" class="btn on" sort-type="ticketing">예매율순</button></span> -->
                        <!-- 						<span><button type="button" class="btn" sort-type="accmAdnc">누적관객순</button></span> -->
                        <!-- 						<span><button type="button" class="btn" sort-type="megaScore">메가스코어순</button></span> -->
                    </div>
                    <div class="onair-condition">
                        <button type="button" title="개봉작만 보기" class="btn-onair btnOnAir">개봉작만</button>
                    </div>
                </div>
                <!--// 박스오피스 -->
                <!-- 상영예정작 -->
                <div class="topSort" style="display: none;">
                    <div class="movie-sorting sortTab">
              <span>
                <button type="button" class="btn on" sort-type="rfilmDe">개봉일순</button>
              </span>
                        <span>
                <button type="button" class="btn" sort-type="title">가나다순</button>
              </span>
                    </div>
                </div>
                <!--// 상영예정작 -->
                <!-- 특별상영 -->
                <div class="topSort" style="display: none;">
                    <div class="onair-condition">
                        <button type="button" title="개봉작만 보기" class="btn-onair btnOnAir">개봉작만</button>
                    </div>
                </div>
                <!--// 특별상영 -->
                <!-- 필름소사이어티 -->
                <div class="topSort" style="display: none;">
                    <div class="movie-sorting sortTab">
              <span>
                <button type="button" class="btn on" sort-type="ticketing" tab-cd="">전체</button>
              </span>
                    </div>
                    <div class="onair-condition">
                        <button type="button" title="개봉작만 보기" class="btn-onair btnOnAir">개봉작만</button>
                    </div>
                </div>
                <!--// 필름소사이어티 -->
                <!-- 클래식소사이어티 -->
                <div class="topSort" style="display: none;">
                    <div class="movie-sorting sortTab">
              <span>
                <button type="button" class="btn on" sort-type="ticketing" tab-cd="">전체</button>
              </span>
                    </div>
                    <div class="onair-condition">
                        <button type="button" title="개봉작만 보기" class="btn-onair btnOnAir">개봉작만</button>
                    </div>
                </div>
                <!--// 클래식소사이어티 -->
                <!-- 장르모아보기 -->
                <div class="topSort" style="display: none;">
                    <div class="movie-sorting sortTab">
              <span>
                <button type="button" class="btn on" sort-type="ticketing">예매율순</button>
              </span>
                        <span>
                <button type="button" class="btn" sort-type="accmAdnc">누적관객순</button>
              </span>
                        <span>
                <button type="button" class="btn" sort-type="megaScore">메가스코어순</button>
              </span>
                    </div>
                    <div class="onair-condition">
                        <button type="button" title="개봉작만 보기" class="btn-onair btnOnAir">개봉작만</button>
                    </div>
                </div>
                <!--// 장르모아보기 -->
                <!-- 검색결과 없을 때 -->
                <p class="no-result-count">
                    <strong id="totCnt" th:text="${movies.size()}"></strong>개의 영화가 검색되었습니다.
                </p>
                <!--// 검색결과 없을 때 -->
                <div class="movie-search">
                    <input type="text" title="영화명을 입력하세요" id="movieSearch" name="ibxMovieNmSearch" placeholder="영화제목/배우/감독으로 검색" class="input-text">
                    <button type="button" class="btn-search-input" id="btnSearch">검색</button>
                </div>
            </div>
            <!--// movie-list-util -->
            <div class="bg-loading" style="display: none;">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- movie-list -->
            <div class="movie-list">
                <ol class="list" id="movieList">
                    <li tabindex="0" class="no-img" th:each="movie, i : ${movies}" th:movie-no="${movie.no}" th:movie-title="${movie.title}">
                        <div class="movie-list-info">
                            <img th:src="${movie.getMainPoster()}" class="poster lozad" onerror="noImg(this)">
                            <div class="curation">
                                <p class="film" style="display: none">필름 소사이어티</p>
                                <p class="classic" style="display: none">클래식 소사이어티</p>
                            </div>
                            <div class="movie-score">
                                <a th:href="@{/movie/detail(movieNo=${movie.no})}" class="wrap movieBtn" data-no="23029300" th:title="|${movie.title} 상세보기|">
                                    <div class="summary" th:text="${movie.plot}"></div>
                                    <div class="my-score big">
                                        <div class="preview">
                                            <p class="tit">관람평</p>
                                            <p class="number" th:text="${movie.score}"> <span class="ir">점</span>
                                            </p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="tit-area">
                            <p th:class="|movie-grade age-${movie.contentRating}|">,</p>
                            <p th:title="${movie.title}" th:class="|tit movie-title|" th:text="${movie.title}"></p>
                        </div>
                        <div class="rate-date">
                            <span class="rate"  th:text="|예매율 ${movie.seatsOpen != 0 ? movie.seatsBooked / movie.seatsOpen : 0} %|" ></span>
                            <span class="date" th:text="|개봉일 ${movie.openDate != null ? movie.openDate :  '미정'}|"></span>
                        </div>
        </div>
    </div>
</div>
</html>