<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
    <title>이벤트</title>
</head>
<div layout:fragment="content" id="schdlContainer">
    <div class="page-util">
        <div class="inner-wrap">
            <div class="location">
                <span>Home</span>
                <a href="/event" title="진행중 이벤트 페이지로 이동">이벤트</a>
                <a href="javascript:void(0)" title="이벤트 상세">이벤트 상세</a>
            </div>
            <!--  
            <div class="sns-share">
                <div class="btn-sns-share-wrap">
                    <div class="cont-area">
                        <div class="btn-sns-share-group">
                            <button type="button" title="페이스북 공유하기" class="btn btnSns face">페이스북
                            </button>
                            <button type="button" title="밴드 공유하기" class="btn btnSns band">밴드
                            </button>
                            <button type="button" title="트위터 공유하기" class="btn btnSns twitter">트위터
                            </button>
                            <button type="button" title="링크 공유하기" class="btn btnSns link">링크공유
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </div>
    <div id="contents">
        <!-- event-detail -->
        <div class="event-detail">
            <h2 class="tit" th:text="${event.title}"></h2>
            <p class="event-detail-date">
                <span>기간</span>
                <em th:text="${#dates.format(event.startDate, 'yyyy.MM.dd') + ' ~ ' + #dates.format(event.endDate, 'yyyy.MM.dd')}"></em>
            </p>
            <div class="event-html">
                <img th:src="@{|/images/event/${event.detailImage}|}">
            </div>
        </div>
    </div>
</div>
</html>