<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
   	<title>이벤트</title>
    <script type="text/javascript" th:src="@{/js/event/detail.js}"></script>    
</head>
<div layout:fragment="content" id="schdlContainer">
    <div class="page-util">
        <div class="inner-wrap">
            <div class="d-flex justify-content-between ">
            	<div class="location">
	                <span>Home</span>
	                <a th:href="@{/event}" title="이벤트 메인 페이지로 이동">이벤트</a>
	                <a title="이벤트 상세">이벤트 상세</a>
            	</div>
	            <div class="sns-share">
	                <button class="btn btn-outline-white btn-sm mb-2" id="link-btn" style="border: none; " 
                    data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="URL이 클립보드에 복사되었습니다."
                    >공유하기<i class="iconset ico-share-toggle"></i></button>
	            </div>
            </div>
        </div>
    </div>
    <div id="contents">
        <!-- event-detail -->
        <div class="event-detail">
            <h2 class="tit" th:text="${event.title}"></h2>
            <p class="event-detail-date">
                <span>기간</span>
                <em th:text="${#dates.format(event.startDate, 'yyyy.MM.dd') + ' ~ ' + #dates.format(event.endDate, 'yyyy.MM.dd')}"></em>
            </p>
            <div class="event-html">
                <img th:src="@{|/images/event/${event.detailImage}|}">
            </div>
        </div>
    </div>
</div>
</html>