<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
    <title>이벤트</title>
</head>
<div layout:fragment="content">
    <div class="page-util">
        <div class="inner-wrap">
            <div class="location">
                <span>Home</span>
                <a href="/event" title="이벤트 메인 페이지로 이동">이벤트</a>
                <a href="/event/end" title="지난 이벤트 페이지로 이동">지난 이벤트</a>
            </div>
        </div>
    </div>
    <div id="contents">
        <div class="inner-wrap">
            <h2 class="tit">지난 이벤트</h2>
            <ul class="dot-list">
                <!-- 로그인 전 -->
                <li> 응모하신 이벤트의 당첨 여부는 당첨자발표의 <button type="button" class="reset click" style="display: inline">
                    <strong class="font-gblue">나의 응모결과 확인</strong>
                    <span class="ir" data-width="235">
                <span class="cont-area">
                  <span class="login-alert-tooltip"> 로그인이 필요한 서비스 입니다. <br>
                    <a id="moveLogin" href="#layer_login_common" class="btn-modal-open" w-data="850" h-data="484" title="로그인 바로가기">로그인 바로가기 <i class="iconset ico-arr-right-green"></i>
                    </a>
                  </span>
                </span>
              </span>
                </button> 을 통해 확인하실 수 있습니다. </li>
                <!--// 로그인 전 -->
            </ul>
        </div>
        <div id="boardSearch" class="inner-wrap" style="">
            <div class="board-list-util mt0">
                <p class="result-count">
                    <strong>전체 <b>10,232</b>건 </strong>
                </p>
                <div class="board-search">
                    <input type="text" title="검색어를 입력해 주세요." placeholder="검색어를 입력해 주세요." class="input-text">
                    <button type="button" class="btn-search-input">검색</button>
                </div>
            </div>
        </div>
        <div id="event-list-wrap">
            <div class="inner-wrap">
                <div class="event-list finish ">
                    <input type="hidden" id="totCount" name="totCount" value="10232">
                    <ul>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="12857" data-netfunnel="N" class="eventBtn" title="[수도권동부] <스즈메의 문단속> 개봉 기념 컵홀더 증정 상세보기">
                                <p class="cate">극장</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/03/10/ykLrzRBYeDDSTdjahHNUvWNPrOTVv3s4.jpg" alt="[수도권동부] <스즈메의 문단속> 개봉 기념 컵홀더 증정" onerror="noImg(this);">
                                </p>
                                <p class="tit"> [수도권동부] &lt;스즈메의 문단속&gt; 개봉 기념 컵홀더 증정 </p>
                                <p class="date"> 2023.03.10 ~ 2024.03.10 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="12411" data-netfunnel="N" class="eventBtn" title="[대구이시아] 라운지 이용권 런칭! 상세보기">
                                <p class="cate">극장</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2022/12/27/IwOFR5fvobJmrVwYXm4M8cqjdwQj0LoO.jpg" alt="[대구이시아] 라운지 이용권 런칭!" onerror="noImg(this);">
                                </p>
                                <p class="tit"> [대구이시아] 라운지 이용권 런칭! </p>
                                <p class="date"> 2022.12.15 ~ 2023.12.31 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="13193" data-netfunnel="N" class="eventBtn" title="[대전] 꽝 없는 추억의뽑기 도전 상세보기">
                                <p class="cate">극장</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/04/28/NfvExHLEpeZt5CkL6Vebn4kA77m6C0r0.jpg" alt="[대전] 꽝 없는 추억의뽑기 도전" onerror="noImg(this);">
                                </p>
                                <p class="tit"> [대전] 꽝 없는 추억의뽑기 도전 </p>
                                <p class="date"> 2023.04.29 ~ 2023.07.30 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="13767" data-netfunnel="N" class="eventBtn" title="[극장판 슈퍼윙스: 맥시멈 스피드] 선착순 빵원티켓 상세보기">
                                <p class="cate">영화</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/13/iQJsSgsR5NsIHVCWWy3nCId2IaS3mSd5.jpg" alt="[극장판 슈퍼윙스: 맥시멈 스피드] 선착순 빵원티켓" onerror="noImg(this);">
                                </p>
                                <p class="tit"> [극장판 슈퍼윙스: 맥시멈 스피드] 선착순 빵원티켓 </p>
                                <p class="date"> 2023.07.28 ~ 2023.07.29 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="13732" data-netfunnel="N" class="eventBtn" title="[몬스터 패밀리2] 선착순 빵원티켓 상세보기">
                                <p class="cate">영화</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/24/NCh2t0HPJ5bnynIJagl2rgSaUpTfafFr.jpg" alt="[몬스터 패밀리2] 선착순 빵원티켓" onerror="noImg(this);">
                                </p>
                                <p class="tit"> [몬스터 패밀리2] 선착순 빵원티켓 </p>
                                <p class="date"> 2023.07.27 ~ 2023.07.28 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="13722" data-netfunnel="N" class="eventBtn" title="[클소 토크] 엔니오 : 더 마에스트로 상세보기">
                                <p class="cate">영화</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/21/5aC17mAaWZHvFFRZZQImhqci0SPRHNxQ.jpg" alt="[클소 토크] 엔니오 : 더 마에스트로" onerror="noImg(this);">
                                </p>
                                <p class="tit"> [클소 토크] 엔니오 : 더 마에스트로 </p>
                                <p class="date"> 2023.07.28 ~ 2023.07.28 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="13650" data-netfunnel="N" class="eventBtn" title="<풍재기시> 2주차 현장 증정 이벤트 상세보기">
                                <p class="cate">영화</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/10/JWLkj7UYscg6BqXsatpBiA935aJsnq7Y.jpg" alt="<풍재기시> 2주차 현장 증정 이벤트" onerror="noImg(this);">
                                </p>
                                <p class="tit"> &lt;풍재기시&gt; 2주차 현장 증정 이벤트 </p>
                                <p class="date"> 2023.07.13 ~ 2023.07.27 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="13731" data-netfunnel="N" class="eventBtn" title="[비공식작전] 선착순 빵원티켓 상세보기">
                                <p class="cate">영화</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/24/Y09HZsDkfp1YMe1qw8iGG9Pv7nwuvGI9.jpg" alt="[비공식작전] 선착순 빵원티켓" onerror="noImg(this);">
                                </p>
                                <p class="tit"> [비공식작전] 선착순 빵원티켓 </p>
                                <p class="date"> 2023.07.26 ~ 2023.07.27 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="13640" data-netfunnel="N" class="eventBtn" title="<극장판 피노키오 위대한 모험> SNS 관람인증 이벤트 상세보기">
                                <p class="cate">영화</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/07/GHOlqJA7udPdK8nBnvbh00qqWA8R9o3m.jpg" alt="<극장판 피노키오 위대한 모험> SNS 관람인증 이벤트" onerror="noImg(this);">
                                </p>
                                <p class="tit"> &lt;극장판 피노키오 위대한 모험&gt; SNS 관람인증 이벤트 </p>
                                <p class="date"> 2023.07.13 ~ 2023.07.26 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="13624" data-netfunnel="N" class="eventBtn" title="<디어 마이 러브> 오리지널 A3 포스터 증정 이벤트 상세보기">
                                <p class="cate">영화</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/05/K71GeI41ekLMzacTIUiRMjrz7bsHxVSx.jpg" alt="<디어 마이 러브> 오리지널 A3 포스터 증정 이벤트" onerror="noImg(this);">
                                </p>
                                <p class="tit"> &lt;디어 마이 러브&gt; 오리지널 A3 포스터 증정 이벤트 </p>
                                <p class="date"> 2023.07.12 ~ 2023.07.26 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="13657" data-netfunnel="N" class="eventBtn" title="<명탐정코난: 흑철의 어영> 1주차 현장 증정 이벤트 상세보기">
                                <p class="cate">영화</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/12/jy51gyP1vb4iyckJqi1utZBMu1wv6Aa1.jpg" alt="<명탐정코난: 흑철의 어영> 1주차 현장 증정 이벤트" onerror="noImg(this);">
                                </p>
                                <p class="tit"> &lt;명탐정코난: 흑철의 어영&gt; 1주차 현장 증정 이벤트 </p>
                                <p class="date"> 2023.07.20 ~ 2023.07.26 </p>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/event/detail/1}" data-no="13623" data-netfunnel="N" class="eventBtn" title="<미션 임파서블: 데드 레코닝 PART ONE> 돌비 포스터 증정 이벤트 상세보기">
                                <p class="cate">영화</p>
                                <!--<p class="img"><img src="../../../static/pc/images/event/@img-event-list-megabox.jpg" alt="" /></p>-->
                                <p class="img">
                                    <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/05/g89Kkwg1PAgNKH3L8o7upIG700cRaOIS.png" alt="<미션 임파서블: 데드 레코닝 PART ONE> 돌비 포스터 증정 이벤트" onerror="noImg(this);">
                                </p>
                                <p class="tit"> &lt;미션 임파서블: 데드 레코닝 PART ONE&gt; 돌비 포스터 증정 이벤트 </p>
                                <p class="date"> 2023.07.12 ~ 2023.07.26 </p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="btn-more v1" style="">
            <button type="button" class="btn">더보기 <i class="iconset ico-btn-more-arr"></i>
            </button>
        </div>
    </div>
</div>
</html>