<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/event/list.js}"></script>
    <title>이벤트</title>
</head>
<div layout:fragment="content">
    <div class="page-util">
        <div class="inner-wrap">
            <div class="location">
                <span>Home</span>
                <a th:href="@{/event}" title="이벤트 메인 페이지로 이동">이벤트</a>
            </div>
        </div>
    </div>
    <div id="contents">
    <div class="inner-wrap">
    	<h2 class="tit">이벤트</h2>
	    <div class="tab-list fixed">
	        <ul>
	            <li data-cat-no="1" th:classappend="${param.catNo == null || #strings.equals(param.catNo, '1') ? 'on' : ''}">
	                <a th:href="@{/event}" title="전체">전체</a>
	            </li>
	            <li data-cat-no="2" th:classappend="${#strings.equals(param.catNo, '2') ? 'on' : ''}">
	                <a th:href="@{/event/list(catNo=2)}" title="MGV Pick 탭으로 이동">MGV Pick</a>
	            </li>
	            <li data-cat-no="3" th:classappend="${#strings.equals(param.catNo, '3') ? 'on' : ''}">
	                <a th:href="@{/event/list(catNo=3)}" title="영화 탭으로 이동">영화</a>
	            </li>
	            <li data-cat-no="4" th:classappend="${#strings.equals(param.catNo, '4') ? 'on' : ''}">
	                <a th:href="@{/event/list(catNo=4)}" title="극장 탭으로 이동">극장</a>
	            </li>
	        </ul>
	    </div>
	 </div>
	 
     <div id="boardSearch" class="inner-wrap" style="">
     <div class="board-list-util mt40">
     <p class="result-count"><strong>전체 <span class="font-gblue" id="totalCnt" th:text="${result.pagination.totalRows}"></span>건</strong></p>
		<form method="get" id="actionForm" th:action="@{list}">
                <div class="board-search">
                	<input type="hidden" name="catNo" th:value="${param.catNo == null ? 1 : param.catNo}" />
                    <input type="search" name="keyword" th:value="${param.keyword == null ? '' : param.keyword}" title="검색어를 입력해 주세요." placeholder="검색어를 입력해 주세요." class="input-text" autocomplete="off">
                    <button type="button" class="btn-search-input">검색</button>
                </div>
        </form>
        </div>
        </div>
        <div id="event-list-wrap">
            <div class="inner-wrap">
                <div class="event-list ">
                    <input type="hidden" id="totCount" name="totCount" value="25">
                    <ul>
                        <li th:each="event : ${result.eventList}">
                            <a th:href="@{/event/detail(no=${event.no},page=${param.page}, status=${param.status}, catNo=${param.catNo}, keyword=${param.keyword})}" class="eventBtn">
                                <p class="img">
                                    <img th:src="@{|/images/event/${event.mainImage}|}" onerror="noImg(this);">
                                </p>
                                <p class="tit" th:text="${event.title}"></p>
                                <p class="date" th:text="${#dates.format(event.startDate, 'yyyy.MM.dd') + ' ~ ' + #dates.format(event.endDate, 'yyyy.MM.dd')}"></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</html>