<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
    <title>이벤트</title>
</head>
<div class="container" id="schdlContainer" layout:fragment="content">
    <div class="page-util fixed">
        <div class="inner-wrap">
            <div class="location">
                <span>Home</span>
                <a href="/event/end" title="지난 이벤트 페이지로 이동">이벤트</a>
                <a href="javascript:void(0)" title="이벤트 상세">이벤트 상세</a>
            </div>
            <div class="sns-share">
                <a href="#" class="btn btn-common-share" title="공유하기"> 공유하기
                    <!-- 공유하기 -->
                    <i class="iconset ico-share-toggle"></i>
                </a>
                <div class="btn-sns-share-wrap">
                    <div class="cont-area">
                        <div class="btn-sns-share-group">
                            <!-- <button type="button" title="카카오톡 공유하기" class="btn btnSns kakao">카카오톡 </button> 카카오톡 -->
                            <button type="button" title="페이스북 공유하기" class="btn btnSns face">페이스북
                                <!-- 페이스북 -->
                            </button>
                            <button type="button" title="밴드 공유하기" class="btn btnSns band">밴드
                                <!-- 밴드 -->
                            </button>
                            <button type="button" title="트위터 공유하기" class="btn btnSns twitter">트위터
                                <!-- 트위터 -->
                            </button>
                            <button type="button" title="링크 공유하기" class="btn btnSns link">링크공유
                                <!-- 링크공유 -->
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="contents" class="location-fixed">
        <!-- event-detail -->
        <div class="event-detail">
            <h2 class="tit">&lt;더 문&gt; 메가박스 회원 시사회</h2>
            <p class="event-detail-date">
                <span>기간</span>
                <em>2023.07.21 ~ 2023.07.26</em>
            </p>
            <!--
                    가로가 100% 일때
                    <div class="event-html full">

                    가로가 1100px 일때
                    <div class="event-html">
                -->
            <div class="event-html">
                <meta http-equiv="Content-Type" content="text/html; charset=euc-kr">
                <title></title>
                <style type="text/css"></style>
                <table align="center" border="0" cellpadding="0" cellspacing="0" style="width:1100px">
                    <tbody>
                    <tr>
                        <td>
                            <img alt="" border="0" src="https://www.megabox.co.kr/SharedImg\editorImg\2023\07\21\0adLmtRd9scExRaaYPieODxewRf5MXRb.jpg" style="height:1576px; width:1100px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img alt="" border="0" src="https://www.megabox.co.kr/SharedImg\editorImg\2023\07\21\qm8Aj2iqTGPBw0qFHyzSVpZpvFS34Fvs.jpg" style="height:1463px; width:1100px" usemap="#Map">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img alt="" border="0" src="https://www.megabox.co.kr/SharedImg\editorImg\2023\07\21\LWJpAPCXJrdAiYYJ0NXHkjeAKDswqnyI.jpg" style="height:1096px; width:1100px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img alt="" border="0" src="https://www.megabox.co.kr/SharedImg\editorImg\2023\07\21\bdYLZrdpFSmLQ7PcClOTJqWuCRUlEbi0.jpg" style="height:878px; width:1100px">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img alt="" border="0" src="https://www.megabox.co.kr/SharedImg\editorImg\2023\07\21\lMxOxTbVtYyfgzVqfmzRShjNymkbJiWc.jpg" style="height:1387px; width:1100px">
                        </td>
                    </tr>
                    </tbody>
                </table>
                <map id="Map" name="Map">
                    <area alt="link" coords="172,1336,526,1412" href="https://www.megabox.co.kr/movie-detail?rpstMovieNo=23035200" shape="rect" target="_blank">
                    <area alt="link" coords="575,1335,930,1411" href="https://m.megabox.co.kr/re/WebApp/booking/movie?movieNo=23035200" shape="rect" target="_blank">
                </map>
            </div>
            <!--// iframe 아닐 때  -->
        </div>
        <!--// event-detail -->
        <!-- 댓글 이벤트 상세페이지 -->

        <!-- inner-wrap -->
        <div class="inner-wrap">
            <!-- comment-write : 댓글 쓰기 -->
            <div class="comment-write mb40">
                <div class="comment-util">
                    <p class="result-count">댓글 ( <span>6,983</span>) </p>
                </div>
                <div class="branch">
                    <select title="지점 선택">
                        <option value="">지점을 선택해 주세요</option>
                        <option value="1">코엑스</option>
                        <option value="2">성수</option>
                        <option value="3">남양주현대아울렛 스페이스원</option>
                        <option value="4">하남스타필드</option>
                        <option value="5">금정AK플라자</option>
                        <option value="6">안성스타필드</option>
                        <option value="7">송도</option>
                        <option value="8">영통</option>
                        <option value="9">고양스타필드</option>
                        <option value="10">상암월드컵경기장</option>
                        <option value="11">대전신세계 아트앤사이언스</option>
                        <option value="12">대구이시아</option>
                        <option value="13">포항</option>
                        <option value="14">부산대</option>
                        <option value="15">울산</option>
                        <option value="16">사상</option>
                    </select>
                </div>
                <div class="comment">
                    <!-- 이벤트 종료 -->
                    <textarea class="input-textarea" cols="5" rows="5" title="댓글 입력" disabled="disabled" placeholder="이벤트 기간이 종료 되었습니다."></textarea>
                    <div class="comment-function">
                        <p class="reset">
                            <span id="textareaCnt" class="text-count">0</span> / 200
                        </p>
                        <div class="btn">
                            <button type="button" disabled="disabled">등록</button>
                        </div>
                    </div>
                </div>
            </div>
            <!--// comment-write : 댓글 쓰기 -->
            <!-- comment list : 댓글 목록 -->
            <div class="comment-list">
                <div class="comment-box">
                    <!-- 내 댓글인 경우 가림처리되어도 가려지지 않음 -->
                    <div class="user-photo">
                        <!-- 유저 이미지가 있을때  -->
                        <img src="/static/pc/images/mypage/bg-photo.png" alt="" onerror="noImg(this, 'human')">
                    </div>
                    <div class="user-comment">
                        <p class="user-id">sap041**(성수)</p>
                        <p class="text">대한민국에서 이런 sf영화가 나올 수 있다니... 게다가 감독과 배우들 라인업까지 기대를 안 할수가 없네요! 제작 기사를 봤을 때부터 굉장히 기다렸던 작품인데 드디어 개봉이라니ㅠㅠ 극장에서 큰 화면으로 꼭 보고 싶습니다. 웅장한 우주를 생생하게 느끼고 싶어요!</p>
                        <div class="post-funtion">
                            <div class="wrap">
                                <!-- 작성시간 -->
                                <span>3 일전</span>
                                <div class="balloon-space user">
                                    <div class="balloon-cont">
                                        <!-- to 개발 : 일반사용자일때 나오는 창-->
                                        <div class="user">
                                            <p class="reset a-c">광고성 내용 및 욕설/비방하는 <br>내용이 있습니까? </p>
                                            <button type="button">댓글 신고 <i class="iconset ico-arr-right-green"></i>
                                            </button>
                                        </div>
                                        <div class="btn-close">
                                            <a href="" title="닫기">
                                                <img src="../../../static/pc/images/common/btn/btn-balloon-close.png" alt="닫기">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--// 말풍선 -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="eventRlyNo" value="732359">
                    <input type="hidden" name="eventBrchOrd" value="2">
                </div>
                <div class="comment-box">
                    <!-- 내 댓글인 경우 가림처리되어도 가려지지 않음 -->
                    <div class="user-photo">
                        <!-- 유저 이미지가 있을때  -->
                        <img src="/static/pc/images/mypage/bg-photo.png" alt="" onerror="noImg(this, 'human')">
                    </div>
                    <div class="user-comment">
                        <p class="user-id">wlsgk02**(남양주현대아울렛 스페이스원)</p>
                        <p class="text">SF영화 매니아로서 너무 기대가 됩니다 꼭 보고싶어요!</p>
                        <div class="post-funtion">
                            <div class="wrap">
                                <!-- 작성시간 -->
                                <span>3 일전</span>
                                <div class="balloon-space user">
                                    <div class="balloon-cont">
                                        <!-- to 개발 : 일반사용자일때 나오는 창-->
                                        <div class="user">
                                            <p class="reset a-c">광고성 내용 및 욕설/비방하는 <br>내용이 있습니까? </p>
                                            <button type="button">댓글 신고 <i class="iconset ico-arr-right-green"></i>
                                            </button>
                                        </div>
                                        <div class="btn-close">
                                            <a href="" title="닫기">
                                                <img src="../../../static/pc/images/common/btn/btn-balloon-close.png" alt="닫기">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--// 말풍선 -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="eventRlyNo" value="732358">
                    <input type="hidden" name="eventBrchOrd" value="3">
                </div>
                <div class="comment-box">
                    <!-- 내 댓글인 경우 가림처리되어도 가려지지 않음 -->
                    <div class="user-photo">
                        <!-- 유저 이미지가 있을때  -->
                        <img src="https://img.megabox.co.kr/SharedImg/2021/03/14/7QTEBH968uWxgAsyEu1647F5huvZJt7t_640.jpeg" alt="" onerror="noImg(this, 'human')">
                    </div>
                    <div class="user-comment">
                        <p class="user-id">aatkdl12**(대구이시아)</p>
                        <p class="text">[대구이시아] &lt;더 문&gt; 태양 흑점 폭발로 태양풍이 우리호를 덮치고, 달에 초대형 유성우가 떨어지기 시작, 혼자 달에 고립된 황선우 대원, 5년전 나래호 사고의 비극이 더 이상 일어나지 않도록 전임 센터장 김재국, 나로 우주센터 관계자, 정부가 대원 황선우를 무사귀한 시키기 위해 총력을 기울인다. 달 표면, 탐사선 등등 굉장한 스케일 정말 기대됩니다. </p>
                        <div class="post-funtion">
                            <div class="wrap">
                                <!-- 작성시간 -->
                                <span>3 일전</span>
                                <div class="balloon-space user">
                                    <div class="balloon-cont">
                                        <!-- to 개발 : 일반사용자일때 나오는 창-->
                                        <div class="user">
                                            <p class="reset a-c">광고성 내용 및 욕설/비방하는 <br>내용이 있습니까? </p>
                                            <button type="button">댓글 신고 <i class="iconset ico-arr-right-green"></i>
                                            </button>
                                        </div>
                                        <div class="btn-close">
                                            <a href="" title="닫기">
                                                <img src="../../../static/pc/images/common/btn/btn-balloon-close.png" alt="닫기">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--// 말풍선 -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="eventRlyNo" value="732357">
                    <input type="hidden" name="eventBrchOrd" value="12">
                </div>
                <div class="comment-box">
                    <!-- 내 댓글인 경우 가림처리되어도 가려지지 않음 -->
                    <div class="user-photo">
                        <!-- 유저 이미지가 있을때  -->
                        <img src="/static/pc/images/mypage/bg-photo.png" alt="" onerror="noImg(this, 'human')">
                    </div>
                    <div class="user-comment">
                        <p class="user-id">cosmos**(코엑스)</p>
                        <p class="text">비슷한 이야기의 영화로 몇 년 전 헐리웃 영화 [마션]과 올해 초 개봉했던 중국 영화 [문 맨]이 떠오르는데요. [신과 함께] 시리즈로 유명한 김용화 감독의 신작이네요. 김용화 감독은 [미녀는 괴로워], [국가대표]로 이름을 알리고 [신과 함께] 시리즈로 흥행감독의 자리에 올랐는데요. 이번 우주 SF영화는 어떨지 보고 싶어요~</p>
                        <div class="post-funtion">
                            <div class="wrap">
                                <!-- 작성시간 -->
                                <span>3 일전</span>
                                <div class="balloon-space user">
                                    <div class="balloon-cont">
                                        <!-- to 개발 : 일반사용자일때 나오는 창-->
                                        <div class="user">
                                            <p class="reset a-c">광고성 내용 및 욕설/비방하는 <br>내용이 있습니까? </p>
                                            <button type="button">댓글 신고 <i class="iconset ico-arr-right-green"></i>
                                            </button>
                                        </div>
                                        <div class="btn-close">
                                            <a href="" title="닫기">
                                                <img src="../../../static/pc/images/common/btn/btn-balloon-close.png" alt="닫기">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--// 말풍선 -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="eventRlyNo" value="732356">
                    <input type="hidden" name="eventBrchOrd" value="1">
                </div>
                <div class="comment-box">
                    <!-- 내 댓글인 경우 가림처리되어도 가려지지 않음 -->
                    <div class="user-photo">
                        <!-- 유저 이미지가 있을때  -->
                        <img src="/static/pc/images/mypage/bg-photo.png" alt="" onerror="noImg(this, 'human')">
                    </div>
                    <div class="user-comment">
                        <p class="user-id">kevinv10**(대전신세계 아트앤사이언스)</p>
                        <p class="text">더 문 보러 가즈아!!!</p>
                        <div class="post-funtion">
                            <div class="wrap">
                                <!-- 작성시간 -->
                                <span>3 일전</span>
                                <div class="balloon-space user">
                                    <div class="balloon-cont">
                                        <!-- to 개발 : 일반사용자일때 나오는 창-->
                                        <div class="user">
                                            <p class="reset a-c">광고성 내용 및 욕설/비방하는 <br>내용이 있습니까? </p>
                                            <button type="button">댓글 신고 <i class="iconset ico-arr-right-green"></i>
                                            </button>
                                        </div>
                                        <div class="btn-close">
                                            <a href="" title="닫기">
                                                <img src="../../../static/pc/images/common/btn/btn-balloon-close.png" alt="닫기">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--// 말풍선 -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="eventRlyNo" value="732355">
                    <input type="hidden" name="eventBrchOrd" value="11">
                </div>
                <div class="comment-box">
                    <!-- 내 댓글인 경우 가림처리되어도 가려지지 않음 -->
                    <div class="user-photo">
                        <!-- 유저 이미지가 있을때  -->
                        <img src="/static/pc/images/mypage/bg-photo.png" alt="" onerror="noImg(this, 'human')">
                    </div>
                    <div class="user-comment">
                        <p class="user-id">vrvr17**(성수)</p>
                        <p class="text">달을 주제로 어떻게 스토리가 전개 될지 너무너무 기대되네요ㅎㅎ</p>
                        <div class="post-funtion">
                            <div class="wrap">
                                <!-- 작성시간 -->
                                <span>3 일전</span>
                                <div class="balloon-space user">
                                    <div class="balloon-cont">
                                        <!-- to 개발 : 일반사용자일때 나오는 창-->
                                        <div class="user">
                                            <p class="reset a-c">광고성 내용 및 욕설/비방하는 <br>내용이 있습니까? </p>
                                            <button type="button">댓글 신고 <i class="iconset ico-arr-right-green"></i>
                                            </button>
                                        </div>
                                        <div class="btn-close">
                                            <a href="" title="닫기">
                                                <img src="../../../static/pc/images/common/btn/btn-balloon-close.png" alt="닫기">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--// 말풍선 -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="eventRlyNo" value="732354">
                    <input type="hidden" name="eventBrchOrd" value="2">
                </div>
                <div class="comment-box">
                    <!-- 내 댓글인 경우 가림처리되어도 가려지지 않음 -->
                    <div class="user-photo">
                        <!-- 유저 이미지가 있을때  -->
                        <img src="https://img.megabox.co.kr/SharedImg/2022/09/26/gLG8p50I6c9ZjAwMzSYTRIl6QovWSNVD_640.jpeg" alt="" onerror="noImg(this, 'human')">
                    </div>
                    <div class="user-comment">
                        <p class="user-id">hyunnyv**(성수)</p>
                        <p class="text">SF영화 정말 좋아하는데.. 드디어 한국에서도 이런 영화가 나오는군요~!! 예고편 정말 긴장감 넘치던데.. 얼른 영화관에서 싶네요~!!!</p>
                        <div class="post-funtion">
                            <div class="wrap">
                                <!-- 작성시간 -->
                                <span>3 일전</span>
                                <div class="balloon-space user">
                                    <div class="balloon-cont">
                                        <!-- to 개발 : 일반사용자일때 나오는 창-->
                                        <div class="user">
                                            <p class="reset a-c">광고성 내용 및 욕설/비방하는 <br>내용이 있습니까? </p>
                                            <button type="button">댓글 신고 <i class="iconset ico-arr-right-green"></i>
                                            </button>
                                        </div>
                                        <div class="btn-close">
                                            <a href="" title="닫기">
                                                <img src="../../../static/pc/images/common/btn/btn-balloon-close.png" alt="닫기">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--// 말풍선 -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="eventRlyNo" value="732350">
                    <input type="hidden" name="eventBrchOrd" value="2">
                </div>
                <div class="comment-box">
                    <!-- 내 댓글인 경우 가림처리되어도 가려지지 않음 -->
                    <div class="user-photo">
                        <!-- 유저 이미지가 있을때  -->
                        <img src="/static/pc/images/mypage/bg-photo.png" alt="" onerror="noImg(this, 'human')">
                    </div>
                    <div class="user-comment">
                        <p class="user-id">ssemi52**(코엑스)</p>
                        <p class="text">김희애 배우님 새로운 연기 너무 보고싶어요!!</p>
                        <div class="post-funtion">
                            <div class="wrap">
                                <!-- 작성시간 -->
                                <span>3 일전</span>
                                <div class="balloon-space user">
                                    <div class="balloon-cont">
                                        <!-- to 개발 : 일반사용자일때 나오는 창-->
                                        <div class="user">
                                            <p class="reset a-c">광고성 내용 및 욕설/비방하는 <br>내용이 있습니까? </p>
                                            <button type="button">댓글 신고 <i class="iconset ico-arr-right-green"></i>
                                            </button>
                                        </div>
                                        <div class="btn-close">
                                            <a href="" title="닫기">
                                                <img src="../../../static/pc/images/common/btn/btn-balloon-close.png" alt="닫기">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--// 말풍선 -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="eventRlyNo" value="732346">
                    <input type="hidden" name="eventBrchOrd" value="1">
                </div>
                <div class="comment-box">
                    <!-- 내 댓글인 경우 가림처리되어도 가려지지 않음 -->
                    <div class="user-photo">
                        <!-- 유저 이미지가 있을때  -->
                        <img src="/static/pc/images/mypage/bg-photo.png" alt="" onerror="noImg(this, 'human')">
                    </div>
                    <div class="user-comment">
                        <p class="user-id">dmswld**(상암월드컵경기장)</p>
                        <p class="text">더문 너무 궁금해요!!!</p>
                        <div class="post-funtion">
                            <div class="wrap">
                                <!-- 작성시간 -->
                                <span>3 일전</span>
                                <div class="balloon-space user">
                                    <div class="balloon-cont">
                                        <!-- to 개발 : 일반사용자일때 나오는 창-->
                                        <div class="user">
                                            <p class="reset a-c">광고성 내용 및 욕설/비방하는 <br>내용이 있습니까? </p>
                                            <button type="button">댓글 신고 <i class="iconset ico-arr-right-green"></i>
                                            </button>
                                        </div>
                                        <div class="btn-close">
                                            <a href="" title="닫기">
                                                <img src="../../../static/pc/images/common/btn/btn-balloon-close.png" alt="닫기">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--// 말풍선 -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="eventRlyNo" value="732345">
                    <input type="hidden" name="eventBrchOrd" value="10">
                </div>
                <div class="comment-box">
                    <!-- 내 댓글인 경우 가림처리되어도 가려지지 않음 -->
                    <div class="user-photo">
                        <!-- 유저 이미지가 있을때  -->
                        <img src="/static/pc/images/mypage/bg-photo.png" alt="" onerror="noImg(this, 'human')">
                    </div>
                    <div class="user-comment">
                        <p class="user-id">contagious**(성수)</p>
                        <p class="text">궁금해요 !!</p>
                        <div class="post-funtion">
                            <div class="wrap">
                                <!-- 작성시간 -->
                                <span>3 일전</span>
                                <div class="balloon-space user">
                                    <div class="balloon-cont">
                                        <!-- to 개발 : 일반사용자일때 나오는 창-->
                                        <div class="user">
                                            <p class="reset a-c">광고성 내용 및 욕설/비방하는 <br>내용이 있습니까? </p>
                                            <button type="button">댓글 신고 <i class="iconset ico-arr-right-green"></i>
                                            </button>
                                        </div>
                                        <div class="btn-close">
                                            <a href="" title="닫기">
                                                <img src="../../../static/pc/images/common/btn/btn-balloon-close.png" alt="닫기">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <!--// 말풍선 -->
                            </div>
                        </div>
                    </div>
                    <input type="hidden" name="eventRlyNo" value="732343">
                    <input type="hidden" name="eventBrchOrd" value="2">
                </div>
            </div>
            <!--// comment list : 댓글 목록 -->
            <div class="btn-more v1" style="">
                <button type="button" class="btn">더보기 <i class="iconset ico-btn-more-arr"></i>
                </button>
            </div>
        </div>
        <!--// inner-wrap -->
        <!-- 빵원쿠폰플러스/빵원쿠폰/응모하기/쿠폰다운/URL링크/포인트플러스 이벤트 상세페이지 -->
    </div>
</div>
</html>