<!DOCTYPE html>
<html layout:decorate="~{ layout/admin }" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="extra-head-content">
<title>관리자페이지</title>
<style>
	.delete {
		background-color: orangered;
		float: left;
		margin-right: 5px;
	}
	.modify {
		background-color: deepskyblue;
		float: left;
	}
	.add {
		background-color: forestgreen;
		float: right;
	}
</style>
</head>
<body>
	<div layout:fragment="content" >
		<div class="container-fluid" >
			<!--  Row 1 -->
			<div class="row mb-3">
				<div class="col-12">
					<div class="card" >
						<div class="card-body">
							<h5 class="card-title fw-semibold mb-4">상품관리</h5>
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>상품번호</th>
										<th>상품명</th>
										<th>상품가격</th>
										<th>상품판매여부</th>
										<th>상품카테고리</th>
										<th>등록일</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
									</tr>
								</tbody>
							</table>
							<div class="util-button">
								<button class="btn btn-danger delete" onclick="location.href=''">삭제</a></button>
								<button class="btn btn-success modify" onclick="location.href=''">수정</a></button>
								<button class="btn btn-primary add" onclick="location.href='/admin/product/addProduct'">등록</a></button>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	
</script>
</html>