<!DOCTYPE html>
<html layout:decorate="~{ layout/admin }" xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="extra-head-content">
    <title>관리자페이지</title>
    <style>
        .add {
            background-color: forestgreen;
            float: right;
        }
    </style>
</head>
<body>
<div layout:fragment="content" >
    <div class="container-fluid" >
        <!--  Row 1 -->
        <div class="row mb-3">
            <div class="col-12">
                <div class="card" >
                    <div class="card-body">
                        <h5 class="card-title fw-semi-bold mb-4">패키지관리</h5>
                        <table class="table">
                            <thead>
                            <tr>
                                <th></th>
                                <th>패키지 번호</th>
                                <th>패키지명</th>
                                <th>패키지 가격</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="">
                                <td></td>
                                <td th:text=""></td>
                                <td th:text=""></td>
                                <td th:text=""></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="util-button">
                            <button class="btn btn-primary add" onclick="location.href='/admin/product/add-form'">등록</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>

</script>
</html>