<div th:fragment="sub-header" class="inner-wrap">
    <h2 class="tit">진행중인 이벤트</h2>
    <div class="tab-list fixed">
        <ul>
            <li th:classappend="${#strings.equals(param.cateNo, null)} ? 'on' : ''">
                <a th:href="@{/event}" title="전체">전체</a>
            </li>
            <li th:classappend="${#strings.equals(param.cateNo, '2')} ? 'on' : ''">
                <a th:href="@{/event/list(cateNo=2)}" title="메가Pick 탭으로 이동">메가Pick</a>
            </li>
            <li th:classappend="${#strings.equals(param.cateNo, '3')} ? 'on' : ''">
                <a th:href="@{/event/list(cateNo=3)}" title="영화 탭으로 이동">영화</a>
            </li>
            <li th:classappend="${#strings.equals(param.cateNo, '4')} ? 'on' : ''">
                <a th:href="@{/event/list(cateNo=4)}" title="극장 탭으로 이동">극장</a>
            </li>
            <li th:classappend="${#strings.equals(param.cateNo, '5')} ? 'on' : ''">
                <a th:href="@{/event/list(cateNo=5)}" title="제휴/할인 탭으로 이동">제휴/할인</a>
            </li>
            <li th:classappend="${#strings.equals(param.cateNo, '6')} ? 'on' : ''">
                <a th:href="@{/event/list(cateNo=6)}" title="시사회/무대인사 탭으로 이동">시사회/무대인사</a>
            </li>
        </ul>
    </div>
</div>