<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE|$CONTENT_TITLE">MGV, 관리자 페이지</title>
    <th:block th:replace="~{ fragments/common/config :: config }"></th:block>
    <th:block th:replace="~{ fragments/common/login-modal :: config }"></th:block>
    <th:block th:fragment="extra-head-content"></th:block>
    <link rel="stylesheet" th:href="@{/ui-templates/css/styles.min.css}"/>
</head>
<body>
<div class="body-wrap page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="relative" data-header-position="fixed">>
    <nav th:replace="~{ fragments/common/header :: header }"></nav>
    <div th:replace="~{ fragments/common/login-modal :: modal }"></div>
    <div class="mgv-container main-container area-ad">
        <aside class="left-sidebar" th:replace="~{ fragments/admin/sidebar :: sidebar }"></aside>
        <div class="body-wrapper">
            <div layout:fragment="content"></div>
        </div>
        
    </div>
    <div th:replace="~{ fragments/common/footer :: footer }"></div>

</div>
</body>
</html>