<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE|$CONTENT_TITLE">MGV, 관리자 페이지</title>
    <th:block th:replace="~{ fragments/common/config :: config }"></th:block>
    <th:block th:replace="~{ fragments/common/login-modal :: config }"></th:block>
    <th:block th:fragment="extra-head-content"></th:block>
    <link rel="stylesheet" th:href="@{/ui-templates/css/styles.min.css}"/>
    <script th:src="@{/ui-templates/js/sidebarmenu.js}"></script>
    <script th:src="@{/ui-templates/js/app.min.js}"></script>
    <script th:src="@{/ui-templates/libs/simplebar/dist/simplebar.js}"></script>
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css}">
</head>
<body>
<div class="body-wrap page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="relative" data-header-position="relative">
    <nav th:replace="~{ fragments/common/header :: header }"></nav>
    <div th:replace="~{ fragments/common/login-modal :: modal }"></div>
    <div class="mgv-container main-container area-ad">
    	<div class="row">
    		<div class="col-12">
		        <aside class="left-sidebar" th:replace="~{ fragments/admin/sidebar :: sidebar }"></aside>
		        <div class="body-wrapper" style="min-height: 100vh;">
			        <header class="app-header" th:replace="~{ fragments/admin/header :: header }"></header>
		            <div layout:fragment="content"></div>
		        </div>
    		</div>
    	</div>
    </div>
	<div class="row ">
		<div class="col-12">
		    <div th:replace="~{ fragments/common/footer :: footer }"></div>
		</div>
	</div>
</div>
</body>
</html>