<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE|$CONTENT_TITLE">영화 그 이상의 감동. MGV</title>
    <th:block th:replace="~{ fragments/common/config :: config }"></th:block>
    <th:block th:replace="~{ fragments/common/login-modal :: config }"></th:block>
    <th:block th:fragment="extra-head-content"></th:block>
</head>
<body>
<div th:replace="~{ fragments/common/login-modal :: modal }"></div>
<nav th:replace="~{ fragments/common/header :: header }"></nav>
<nav th:replace="~{ fragments/board/navbar :: navbar-fragment}" style="width:2000px;"></nav>
<div class="container mb-5" style="width: 1150px;">
    <div layout:fragment="content"></div>
</div>
<div th:replace="~{ fragments/common/footer :: footer }"></div>
</body>
</html>