<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title layout:title-pattern="$LAYOUT_TITLE|$CONTENT_TITLE">영화 그 이상의 감동. MGV</title>
    <th:block th:replace="~{ fragments/common/config :: config }"></th:block>
    <th:block th:replace="~{ fragments/common/login-modal :: config }"></th:block>
    <th:block th:fragment="extra-head-content"></th:block>
</head>
<body>
<nav th:replace="~{ fragments/common/header :: header }"></nav>
<div th:replace="~{ fragments/common/login-modal :: modal }"></div>
<div class="container mt-5 mb-5" style="width: 1200px;">
    <div class="row">
        <div class="col-3 ps-4 pe-5">
            <div th:replace="~{ fragments/support/sidebar :: sidebar-fragment}"></div>
        </div>
        <div class="col-9 ps-2 pe-4 mb-5" style="margin-top: -40px;">
            <th:block layout:fragment="content"></th:block>
        </div>
    </div>
</div>
<div th:replace="~{ fragments/common/footer :: footer }"></div>
</body>
</html>