<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user}">
<div id="contents" layout:fragment="content">
  <div class="sub_tit_profile">
  	<span class="thumb">
  		<img th:src="@{/images/board/sample.png}" width="80" height="80" alt="프로필사진" class="border-sub">
  	</span>
  	<div data-v-792e3682="" class="text">
  		<div data-v-792e3682="" class="nick_area">
    	 사용자 아이디
  		</div>
  	</div>  
  </div>	            
</div>
</html>