<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/support}">
<head th:fragment="extra-head-content">
	<link th:href=@{/css/support/one.css} rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/support/one.js}"></script>
</head>
<div id="contents" layout:fragment="content">
     <h2 class="tit">나의 문의내역</h2>
     <div class="tab-block-one mb30">
        <ul>
            <li class="tab-link current">
                <button type="button" class="btn rounded-0 current" data-tab="tab-one" title="1:1 문의내역">1:1 문의내역</button>
            </li>
        </ul>
    </div>
    <div class="clearfix" style="margin-top: -10px; margin-bottom: -10px;">
        <ul class="dot-list">
            <li>
               	고객센터를 통해 남기신 <span id="tabType"></span>을 확인하실 수 있습니다.
                <a href="/support/one" class="button float-r" title="일대일 문의 등록하기">1:1 문의하기</a>
            </li>
        </ul>
    </div>

        <div class="table-wrap mt30">
            <div class="board-view">
            <div class="tit-area">
                <p class="tit" th:text=${one.title}></p>
            </div>

            <div class="info">
                <p>
                    <span class="tit">문의지점</span>
                    <span class="txt" th:text="${one.theater == null ? '서울 - 센터' : one.location.name +' - '+one.theater.name}"></span>
                </p>
                <p>
                    <span class="tit">문의유형</span>
                    <span class="txt" th:text="${one.category.name}"></span>
                </p>
                <p>
				   <span class="tit">답변상태</span>
				   <span class="txt" th:text="${one.answered == 'Y' ? '답변완료' : '미답변'}"></span>
				</p>
                <p>    
                    <span class="txt" th:text="${#dates.format(one.createDate, 'yyyy.MM.dd')}"></span>
                </p>
            </div>

            <div class="cont">
				<p th:text="${one.content}">
                </p>
            </div>
        </div>
        </div>

        <div class="btn-group pt40" style="display: block;">
			  <button type="button" class="button large" onclick="document.querySelector('#form').submit();">목록</button>
			  <button type="button" class="button large">삭제</button>
        </div>
        
        <form id="form" method="post" action="/support/one/myinquery">
        	<input type="hidden" name="data-tab" value="tab-one">
	    	<input type="hidden" name="answered" th:value="${param.answered}"/>
	    	<input type="hidden" name="page" th:value="${param.page}"/>
	    	<input type="hidden" name="keyword" th:value="${param.keyword}"/>
        </form>
</div>














