<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/board}"
      th:with="menu='영화'">

<head th:fragment="extra-head-content">
    <title>게시판</title>
    <style>
        .page-item.active .page-link {
            z-index: 1;
            color: #ccc;
            font-weight: bold;
            background-color: #333;
            border-color: #444;

        }

        .page-link:focus, .page-link:hover {
            color: #ccc;
            background-color: #222;
            border-color: #444;
        }
    </style>
    <script type="text/javascript" th:src="@{/js/board/mboardList.js}"></script>  
</head>
<div layout:fragment="content" class="container my-3">

    <div class="row mb-3">
        <div class="col-12">

            <div>
                <div class="d-flex justify-content-start float-start">
                    <div class="mt-2 ">
                        <p class="result-count"><strong>전체 <span id="total-rows" class="font-gblue" th:text="${result.pagination.totalRows}">5</span>건</strong>
                        </p>
                    </div>

                    <div class="float-start ps-2">
                        <form id="form-board-search" method="get" th:action="@{list}" 
                              class="row row-cols-lg-auto g-3 align-items-center justify-content-end ">
							<input type="hidden" name="sort" th:value="${param.sort }" />
							<input type="hidden" name="rows" th:value="${param.rows }" />
							<input type="hidden" name="page" value="${param.page }" />
                            <div class="col-12 ">
                                <select class="form-select form-select-sm  form-control-sm" name="opt">
                                    <option value=""> 검색옵션</option>
                                    <option th:value="movieTitle"
                                            th:classappend="${#strings.equals(param.opt, 'movieTitle') ? 'selected' : '' }">
                                         영화제목
                                    </option>
                                    <option th:value="title"
                                            th:classappend="${#strings.equals(param.opt, 'title') ? 'selected' : '' }">
                                        제목
                                    </option>
                                    <option th:value="content"
                                            th:classappend="${#strings.equals(param.opt, 'content') ? 'selected' : '' }"> 내용
                                    </option>
                                    <option th:value="all"
                                            th:classappend="${#strings.equals(param.opt, 'all') ? 'selected' : '' }">
                                        제목/내용
                                    </option>
                                    <option th:value="writer"
                                            th:classappend="${#strings.equals(param.opt, 'writer') ? 'selected' : '' }">
                                        작성자
                                    </option>
                                </select>
                            </div>
                            <div class="col-12">
                                <input type="text" class="form-control form-control-sm" name="keyword" th:value="${param.keyword}"/>
                            </div>
                            <div class="col-12">
                                <button type="button" class="btn btn-outline-dark btn-sm" onclick="searchBoard()">검색</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div>
                    <div class="d-flex justify-content-end mb-3 float-end ps-3 ">
                        <select class="form-select me-1 form-select-sm" style="width: 100px" name="sort" onchange="changeSort()" th:value="${param.sort}">
                            <option class="sort-select" th:value="new" th:selected="${param.sort eq 'new'}">최신순</option>
							<option class="sort-select" th:value="old" th:selected="${param.sort eq 'old'}">오래된순</option>
							<option class="sort-select" th:value="view" th:selected="${param.sort eq 'view'}">조회수순</option>
							<option class="sort-select" th:value="comment" th:selected="${param.sort eq 'comment'}">댓글순</option>

                        </select>
                        <select class="form-select me-2 form-select-sm pe-6" style="width: 100px" name="rows" onchange="changeRows()" th:value="${param.rows}">
                            <option class="rows-select"
                            		th:value="10"
                                    th:selected="${param.rows eq '10'}"> 10개씩
                            </option>
                            <option class="rows-select"
                            		th:value="20"
                                    th:selected="${param.rows eq '20'}"> 20개씩
                            </option>
                            <option class="rows-select"
                            		th:value="50"
                                    th:selected="${param.rows eq '50'}"> 50개씩
                            </option>
                        </select>
                    </div>

                </div>

            </div>
            <hr class="mt-5 mb-0">

            <table class="table table-sm" id="table-Tboard">
                <colgroup>
                    <col width="5%">
                    <col width="60%">
                    <col width="10%">
                    <col width="5%">
                    <col width="20%">
                </colgroup>
                <thead>
                <tr>
                    <th>No</th>
                    <th class="text-center">제목</th>
                    <th>글쓴이</th>
                    <th>조회수</th>
                    <th>작성시간</th>
                </tr>
                </thead>
                <tbody>
				<tr th:if="${#lists.isEmpty(result.movieBoards)}">
					<td colspan="5">게시글이 존재하지 않습니다.</td>
				</tr>	
					
                <tr th:if="${not #lists.isEmpty(result.movieBoards)}"
                	th:each="board : ${result.movieBoards}">
                    <td th:text="${board.no}">1</td>
                    <td><a class="text-black text-decoration-none"
                           th:href="@{/board/theater/detail(no=1)}" th:text="${board.name} ">게시글제목</a> <span th:text="${'('+#numbers.formatInteger(board.commentCount, 1, 'COMMA')+')'}">(게시글 댓글수)</span></td>
                    <td class="fw-light" th:text="${board.userId}">작성자아이디</td>
                    <td class="fw-light" th:text="${#numbers.formatInteger(board.readCount, 1, 'COMMA')}">조회수</td>
<!-- 
	
                    <td class="fw-light" th:text="${#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm:ss')}">작성일</td>
-->                    
                    <td class="fw-light" th:text="${board.createDate}">작성일</td>

                </tr>

                </tbody>
            </table>

            <div class="text-end">
                <a th:href=@{/board/theater/add} class="btn btn-dark btn-sm" style="text-decoration: none; color: white; ">새 게시글
                    등록</a>
            </div>


        </div>
    </div>
      <div class="row mb-3">
      	<div class="col-12">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a th:href="@{list(page=${result.pagination.prePage})}" class="page-link"
                           style="background-color: #000; color: white;"
                           th:classappend="${result.pagination.first ? 'disabled' : ''}"
                           th:onclick="changePage(event, ${result.pagination.prePage})">이전</a>
                    </li>

                    <li class="page-item" th:each="num : ${result.pagination.pageNumbers}">
                        <a th:href="@{list(page=${num})}" 
                           th:text="${num}"
                           th:classappend="${result.pagination.page == (num) ? 'active' : '' }"
                           class="page-link"
                           style="background-color: white; color: #000;"
                           th:onclick="changePage(event, ${num})">1</a>
                    </li>

                    <li class="page-item">
                        <a th:href="@{list(page=${result.pagination.nextPage})}" class="page-link"
                           style="background-color: #000; color: white;"
                           th:classappend="${result.pagination.last ? 'disabled' : ''}"
                           th:onclick="changePage(event, ${result.pagination.nextPage})">다음</a>
                    </li>
                </ul>
            </nav>
      	</div>
     </div>
</div>


</html>
