<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/support}">
<head th:fragment="extra-head-content">
	<link th:href=@{/css/support/faq.css} rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/support/faq.js}"></script>
	<script type="text/javascript" th:src="@{/js/support/chat.js}"></script>
</head>
<div layout:fragment="content"  id="contents">
    <h2 class="tit">고객센터 홈</h2>
    
    <!-- input-search-area -->
	<form th:action="@{/support/faq}" type="GET">
		 <div class="input-search-area mb30">
			<div class="input-area">
				<label for="search01" class="label">빠른검색</label>

				<div class="board-search w460px">
					<input type="search" id="searchTxt" title="검색어를 입력해 주세요." placeholder="검색어를 입력해 주세요." class="input-text" name="keyword" value="" maxlength="15"  autocomplete="off">
					<button type="button" id="searchBtn" class="btn-search-input">검색</button>
				</div>
			</div>

			<div class="btn-area">

			</div>
		</div>
	</form>
    <!--// input-search-area -->
    
	<div class="row mb-4 mt-4">
		<div class="col-4 text-left">
			<a th:href="@{/support/lost}" class="text-black text-decoration-none" style="font-size:18px; line-height:3">
				<img th:src="@{/images/support/lost.png}" width="60" height="60"><br/>
				분실물 문의<br/>
			</a>
			<a style="font-size:13px;">
				잃어버린 물건을 접수해 주시면 <br/>
				신속히 찾아드리겠습니다.
			</a>		
		</div>
		<div class="col-4 text-left">
			<a th:href="@{/support/one}" class="text-black text-decoration-none" style="font-size:18px; line-height:3">
				<img th:src="@{/images/support/oneonone.png}" width="60" height="60"><br/>
				1:1 문의<br/>
			</a>
			<a style="font-size:13px;">
				해결되지않은 문제가 있나요?<br/> 
				1:1문의로 문의주세요.
			</a>
		</div>
		<div class="col-4 text-left">
			<a th:href="@{/support/notice}" class="text-black text-decoration-none" style="font-size:18px; line-height:3">
				<img th:src="@{/images/support/notice.png}" width="60" height="60"><br/>
				공지사항<br/>
			</a>
			<a style="font-size:13px;">
				MGV의 공지사항을 확인하세요.
			</a>
		</div>
		<div class="col-4 text-left">
			<a sec:authorize="isAuthenticated()" th:href="@{/support/chat}" id="btn-open-chat" class="text-black text-decoration-none" style="font-size:18px; line-height:3"><br/>
				<img th:src="@{/images/support/support.png}" width="60" height="60"><br/>
				상담톡<br/>
			</a>
			<a sec:authorize="isAnonymous()" th:href="@{/support/chat}" id="btn-chat-anonymous" class="text-black text-decoration-none" style="font-size:18px; line-height:3"><br/>
			<img th:src="@{/images/support/support.png}" width="60" height="60"><br/>
				상담톡<br/>
			</a>
			<a style="font-size:13px;">
				상담원과 채팅 상담을 원하시면<br/> 
				상담 톡을 이용해보세요.
			</a>
		</div>
		<div class="col-4 text-left">
			<a th:href="@{/support/faq}" class="text-black text-decoration-none" style="font-size:18px; line-height:3"><br/>
				<img th:src="@{/images/support/faq.png}" width="60" height="60"><br/>
				자주 묻는 질문<br/>
			</a>
			<a style="font-size:13px;">
				자주 묻는 질문<br/> 
				빠르고 간편하게 검색하세요.
			</a>
		</div>
	</div>
	<hr>
	
	<!--
	<div class="notice-wrap row">
		<div class="block-left col-6">
			<div class="tit-area">
				<h3 class="tit small">자주 묻는 질문 BEST5</h3>
				<a th:href="@{/support/faq}" class ="more">
				더보기 
				<i class="iconset ico-arr-right-gray m107"></i>
				</a>
			</div>
			<div>
				<ol class="decimal-list" th:each="faq, iterStat : ${result.faqList}">
					<li th:if="${iterStat.index < 5}">
						<a th:href="@{/support/faq}" class="faqBtn" th:if="${iterStat.index < 5}">
							<span class="font-roboto" th:text="${faq.orderNo}">&nbsp;</span>
							<span class="font-gblue" th:text="${faq.category.name}"></span>
							<span class="date" th:text="${#dates.format(faq.updateDate, 'yyyy.MM.dd')}"></span>
							
							<span th:text="${faq.title}" class="d-inline-block text-truncate" 
								style="max-width: 190px;">
							</span>
						</a>
					</li>
				</ol>
			</div>
		</div>
		
		<div class="block-right col-6">
			<div class="tit-area">
				<h3 class="tit small">공지사항</h3>
				<a th:href="@{/support/notice}" class ="more">
				더보기 
				<i class="iconset ico-arr-right-gray m107"></i>
				</a>
			</div>
		</div>
	</div>
	-->
	
	<div class="row mt-4">
		<div class="col-6 mb-4">
			<div>
			<p class="float-start" style="font-size:18px;">자주 묻는 질문 BEST5</p>
			<a th:href="@{/support/faq}" class ="float-end mt-2 text-black text-decoration-none" style="font-size:14px;">더보기 <i class="iconset ico-arr-right-gray m107"></i></a>
			</div>
			
			<table class="table table-borderless border-top  border-dark">
				<tbody style="font-size:14px;" th:each="faq, iterStat : ${faqResult.faqList}">
					<tr th:if="${iterStat.index < 5}" style="cursor: pointer;">
						<td th:text="${faq.orderNo}"></td>
						<td class="font-green" th:text="${faq.category.name}"></td>
						<td>
							<a th:text="${faq.title}" class="d-inline-block text-truncate" 
								th:href="@{/support/faq}"
								style="max-width: 190px;">
							</a>
						</td>
						<td th:text="${#dates.format(faq.updateDate, 'yyyy.MM.dd')}"></td>
					</tr>
				</tbody>
			</table>
			<hr style="margin-top:-15px;">
		</div>
		
		<div class="col-6 mb-4">
			<div>
				<p class="float-start" style="font-size:18px;">공지사항</p>
				<a class ="float-end mt-2 text-black text-decoration-none" style="font-size:14px;">더보기 <i class="iconset ico-arr-right-gray m107"></i></a>
			</div>
			<table class="table table-borderless border-top  border-dark">
			 
				<!-- <tbody style="font-size:14px;" th:each="notice, iterStat : ${noticeResult.noticeList}">
					<tr th:if="${iterStat.index < 5}" style="cursor: pointer;">
						<td><img th:src="@{/images/support/notice.png}" width="15" height="15"></td>
						<td th:text="${notice.type == '공지' ? '공지' : '이벤트'}"></td>
						<td>
							<a th:text="${notice.title}" class="d-inline-block text-truncate" 
								th:href="@{/support/notice}"
								style="max-width: 190px;">
							</a>
						</td>
						<td th:text="${#dates.format(notice.updateDate, 'yyyy.MM.dd')}"></td>
					</tr>
				</tbody> -->
			
			</table>
		</div>
	</div>
		
		<div class="row mt-4">
			<div class="col-12">
				<p style="font-size:25px; color:#331c6d;">이벤트</p> 
				<div class="row">
					<div class="col-6 mb-4">
						<img th:src="@{/images/support/event-1.jpg}" class="img-thumbnail border-0">
					</div>
					<div class="col-6 mb-4">
						<img th:src="@{/images/support/event-2.jpg}" class="img-thumbnail border-0">
					</div>
				</div>
			</div>
		</div>
	</div>
<th:block layout:fragment="script">
 <script type="text/javascript">
	$("#btn-open-chat").click(function(event) {
		event.preventDefault();
		window.open("/support/chat", "chat-window", "width=450,height=550,status=no,toolbar=no,left=1200,top=200");
	});
	
	$("#btn-chat-anonymous").click(function(event) {
		event.preventDefault();
		Swal.fire({
			icon: 'warning',
			title: "이용 제한",
			text: "로그인 후 이용 가능한 서비스입니다."
		})
	});
	
</script>
</th:block>
