<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/support}">
<head th:fragment="extra-head-content">
	<link th:href=@{/css/support/faq.css} rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/support/faq.js}"></script>
	<script type="text/javascript" th:src="@{/js/support/chat.js}"></script>
</head>
<div layout:fragment="content"  id="contents">
    <h2 class="tit">고객센터 홈</h2>
    
    <!-- input-search-area -->
	<form th:action="@{/support/faq}" type="GET">
		 <div class="input-search-area mb30">
			<div class="input-area">
				<label for="search01" class="label">빠른검색</label>

				<div class="board-search w460px">
					<input type="search" id="searchTxt" title="검색어를 입력해 주세요." placeholder="검색어를 입력해 주세요." class="input-text" name="keyword" value="" maxlength="15"  autocomplete="off">
					<button type="button" id="searchBtn" class="btn-search-input">검색</button>
				</div>
			</div>

			<div class="btn-area">

			</div>
		</div>
	</form>
    <!--// input-search-area -->
    
	<div class="row mb-4 mt-4">
		<div class="col-4 text-left">
			<a th:href="@{/support/lost}" class="text-black text-decoration-none" style="font-size:18px; line-height:3">
				<img th:src="@{/images/support/lost.png}" width="60" height="60"><br/>
				분실물 문의<br/>
			</a>
			<a style="font-size:13px;">
				잃어버린 물건을 접수해 주시면 <br/>
				신속히 찾아드리겠습니다.
			</a>		
		</div>
		<div class="col-4 text-left">
			<a th:href="@{/support/one}" class="text-black text-decoration-none" style="font-size:18px; line-height:3">
				<img th:src="@{/images/support/oneonone.png}" width="60" height="60"><br/>
				1:1 문의<br/>
			</a>
			<a style="font-size:13px;">
				해결되지않은 문제가 있나요?<br/> 
				1:1문의로 문의주세요.
			</a>
		</div>
		<div class="col-4 text-left">
			<a th:href="@{/support/notice}" class="text-black text-decoration-none" style="font-size:18px; line-height:3">
				<img th:src="@{/images/support/notice.png}" width="60" height="60"><br/>
				공지사항<br/>
			</a>
			<a style="font-size:13px;">
				MGV의 공지사항을 확인하세요.
			</a>
		</div>
		<div class="col-4 text-left">
			<a th:href="@{/support/chat}" id="btn-open-chat" class="text-black text-decoration-none" style="font-size:18px; line-height:3"><br/>
				<img th:src="@{/images/support/support.png}" width="60" height="60"><br/>
				상담톡<br/>
			</a>
			<a style="font-size:13px;">
				상담원과 채팅 상담을 원하시면<br/> 
				상담 톡을 이용해보세요.
			</a>
		</div>
		<div class="col-4 text-left">
			<a th:href="@{/support/faq}" class="text-black text-decoration-none" style="font-size:18px; line-height:3"><br/>
				<img th:src="@{/images/support/faq.png}" width="60" height="60"><br/>
				자주 묻는 질문<br/>
			</a>
			<a style="font-size:13px;">
				자주 묻는 질문<br/> 
				빠르고 간편하게 검색하세요.
			</a>
		</div>
	</div>
	<hr>
	
	<div class="row mt-4">
		<div class="col-6 mb-4">
			<div>
			<p class="float-start" style="font-size:18px;">자주 묻는 질문 BEST5</p>
			<a th:href="@{/support/faq}" class ="float-end mt-2 text-black text-decoration-none" style="font-size:14px;">더보기 <img th:src="@{/images/support/next.png}" width="11" height="11"></a>
			</div>
			
			<table class="table table-borderless  border-bottom">
				<tbody style="font-size:14px;">
					<tr class="border-top  border-dark">
						<td>1</td>
						<td>[기프트카드]</td>
						<td>
						<span class="d-inline-block text-truncate" style="max-width: 190px;">
							기프트카드를 보냈는데 상대방이	받지 못한다고 합니다.								
						</span>
						</td>
						<td>2023.07.12</td>
					</tr>
					<tr>
						<td>2</td>
						<td>[기프트카드]</td>
						<td>
						<span class="d-inline-block text-truncate" style="max-width: 190px;">
							선물은 어떤 경로로 보낼 수 있나요?						
						</span>
						</td>
						<td>2023.07.12</td>
					</tr>
					<tr>
						<td>3</td>
						<td>[기프트카드]</td>
						<td>
						<span class="d-inline-block text-truncate" style="max-width: 190px;">
							신용카드의 구매 한도는 얼마이며, 법인카드로 결제가 가능한가요?								
						</span>
						</td>
						<td>2023.07.12</td>
					</tr>
					<tr>
						<td>4</td>
						<td>[기프트카드]</td>
						<td>
						<span class="d-inline-block text-truncate" style="max-width: 190px;">
							여러 명에게 선물한 후 부분적으로 취소가 가능한가요?						
						</span>
						</td>
						<td>2023.07.12</td>
					</tr>
					<tr class="">
						<td>5</td>
						<td>[기프트카드]</td>
						<td>
						<span class="d-inline-block text-truncate" style="max-width: 190px;">
							예약 전송을 할 수 있나요?								
						</span>
						</td>
						<td>2023.07.12</td>
					</tr>
				
				</tbody>
			</table>
		</div>
		<div class="col-6 mb-4">
			<div>
				<p class="float-start" style="font-size:18px;">공지사항</p>
				<a th:href="@{/support/notice}" class ="float-end mt-2 text-black text-decoration-none" style="font-size:14px;">더보기 <img th:src="@{/images/support/next.png}" width="11" height="11"></a>
			</div>
			<table class="table table-borderless border-bottom">
				<tbody style="font-size:14px;">
					<tr class="border-top  border-dark">
						<td>
							<img th:src="@{/images/support/notice.png}" width="15" height="15">
						</td>
						<td>[공지]</td>
						<td>
							<span class="d-inline-block text-truncate" style="max-width: 190px;">
								메가박스 이용 약관 변경 안내								
							</span>
						</td>
						<td>2023.07.12</td>
					</tr>
					<tr>
						<td>
							<img th:src="@{/images/support/location.png}" width="15" height="15">
						</td>
						<td>[원주]</td>
						<td>
							<span class="d-inline-block text-truncate" style="max-width: 190px;">
								[원주] 운영시간 변경 공지 (7/12부터~)						
							</span>
						</td>
						<td>2023.07.12</td>
					</tr>
					<tr>
						<td>
							<img th:src="@{/images/support/location.png}" width="15" height="15">
						</td>
						<td>[분당]</td>
						<td>
							<span class="d-inline-block text-truncate" style="max-width: 190px;">
								[분당] "현금없는 극장" 운영 안내				
							</span>
						</td>
						<td>2023.07.12</td>
					</tr>
					<tr>
						<td>
							<img th:src="@{/images/support/notice.png}" width="15" height="15">
						</td>
						<td>[공지]</td>
						<td>
							<span class="d-inline-block text-truncate" style="max-width: 190px;">
								[OK캐쉬백] 시스템 (On/Off-Line) 정기 예방 점검 안내 (7/13)		
							</span>
						</td>
						<td>2023.07.12</td>
					</tr>
					<tr>
						<td>
							<img th:src="@{/images/support/location.png}" width="15" height="15">
						</td>
						<td>[코엑스]</td>
						<td>
							<span class="d-inline-block text-truncate" style="max-width: 190px;">
								 [코엑스]시사회 진행에 따른 고객 안내 (7월 13일)
							</span>
						</td>
						<td>2023.07.12</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
		
		<div class="row mt-4">
			<div class="col-12">
				<p style="font-size:25px; color:#331c6d;">이벤트</p> 
				<div class="row">
					<div class="col-6 mb-4">
						<img th:src="@{/images/support/event-1.jpg}" class="img-thumbnail border-0">
					</div>
					<div class="col-6 mb-4">
						<img th:src="@{/images/support/event-2.jpg}" class="img-thumbnail border-0">
					</div>
				</div>
			</div>
		</div>
	</div>
<th:block layout:fragment="script">
 <script type="text/javascript">
	$("#btn-open-chat").click(function(event) {
		event.preventDefault();
		window.open("/support/chat", "chat-window", "width=500,height=450,status=no,toolbar=no,left=1200,top=200");
	});
</script>
</th:block>
