<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
    <title>장바구니</title>
    <script th:src="@{/js/store/cart.js}"></script>
    <script th:src="@{/js/common/TossPayment.js}"></script>
    <script src="https://js.tosspayments.com/v1"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
<div layout:fragment="content">
        <div id="contents">
            <div class="inner-wrap">
                <!-- store-payment -->
                <div class="store-payment">
                    <!-- 주문 form -->
                    <h2 class="tit">장바구니</h2>
                    <h3 class="tit">장바구니 목록</h3>
                    <div class="table-wrap">
                        <!-- 삭제 form -->
                        <form action="/cart/delete" method="post" class="delete-form">
                            <input type="hidden" name="cartNo" class="delete-cartNo">
                        </form>
                        <form action="/order/order" id="order-form" method="post" class="order-form">
                        <table class="board-list">
                            <caption>주문상품정보 목록 표</caption>
                            <colgroup>
                                <col style="width:120px;">
                                <col>
                                <col style="width:150px;">
                                <col style="width:120px;">
                                <col style="width:80px;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="colgroup" colspan="2">상품정보</th>
                                <th scope="col">구매수량</th>
                                <th scope="col">상품금액</th>
                                <th scope="col">삭제</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cart : ${carts}">
                                <td class="a-c" th:if="${cart.getProduct()}">
                                    <div class="goods-info" th:if="${cart.getProduct.getImagePath()}">
                                        <p class="img"><a th:href="@{/store/detail/product(productNo=${cart.getProduct().getNo()})}"><img th:src="${cart.getProduct().getImagePath()}" onerror="noImg(this);"></a></p>
                                    </div>
                                </td>
                                <th scope="row" th:if="${cart.getProduct()}">
                                    <div class="goods-info">
                                        <p class="product-name"><a th:href="@{/store/detail/product(productNo=${cart.getProduct().getNo()})}" th:text="${cart.getProduct().getName()}"></a></p>
                                        <p class="bundle" th:text="${cart.getProduct().getDescription()}"></p>
                                    </div>
                                </th>
                                <td class="a-c" th:if="${cart.getPkg()}">
                                    <div class="goods-info" th:if="${cart.getPkg().getImagePath()}">
                                        <p class="img"><a th:href="@{/store/detail/package(packageNo=${cart.getPkg().getNo()})}"><img th:src="${cart.getPkg().getImagePath()}" onerror="noImg(this);"></a></p>
                                    </div>
                                </td>
                                <th scope="row" th:if="${cart.getPkg()}">
                                    <div class="goods-info">
                                        <p class="package-name"><a th:href="@{/store/detail/package(packageNo=${cart.getPkg().getNo()})}" th:text="${cart.getPkg().getName()}"></a></p>
                                        <p class="bundle" th:text="${cart.getPkg().getComposition()}"></p>
                                    </div>
                                </th>
                                <td><em id="purcQtyView" th:text="${cart.getAmount()}"></em></td>
                                <td>
                                    <div class="goods-info">
                                        <em id="prdtSumAmtView" class="discountedPrice" th:text="${cart.getTotalDiscountedPrice()}"></em>원
                                    </div>
                                </td>
                                <td>
                                    <a href="#" class="btn delete-btn" th:data-cart-no="${cart.getNo()}" style="color: black;">
                                        <i class="bi bi-trash"></i>
                                    </a>
                                </td>
                                <div class="product-container" th:if="${cart.getProduct()}">
                                    <input type="hidden" name="product-name" id="product-name" th:value="${cart.getProduct().getName()}"> <!-- 상품 이름 -->
                                    <input type="hidden" name="product-no" id="product-no" th:value="${cart.getProduct().getNo()}"> <!-- 상품 번호 -->
                                    <input type="hidden" name="product-amount" id="product-amount" th:value="${cart.getAmount()}"> <!-- 상품 수량 -->
                                    <input type="hidden" name="product-price" id="product-price" th:value="${cart.getTotalDiscountedPrice()}"> <!-- 총 가격 -->
                                    <input type="hidden"  name="product-catNo" id="product-catNo" th:value="${cart.getCatNo()}"> <!-- 카테고리 번호 -->
                                </div>
                                <div class="package-container" th:if="${cart.getPkg()}">
                                    <input type="hidden" name="package-name" id="package-name" th:value="${cart.getPkg().getName()}"> <!-- 패키지 이름 -->
                                    <input type="hidden" name="package-no" id="package-no" th:value="${cart.getPkg().getNo()}"> <!-- 패키지 번호 -->
                                    <input type="hidden" name="package-amount" id="package-amount" th:value="${cart.getAmount()}"> <!-- 패키지 수량 -->
                                    <input type="hidden" name="package-price" id="package-price" th:value="${cart.getTotalDiscountedPrice()}"> <!-- 총 가격 -->
                                    <input type="hidden" name="package-catNo" id="package-catNo" th:value="${cart.getCatNo()}"> <!-- 카테고리 번호 -->
                                </div>
                            </tr>
                                    <input type="hidden" name="order-total-price" id="order-total-price" th:value="${totalDiscountedPrice}">
                            </tbody>
                        </table>
                        </form>
                    </div>
                    <h3 class="tit mt40">총 결제금액</h3>
                    <!-- payment-final -->
                    <div class="payment-final">
                        <div class="calc">
                            <div class="cell all">
                                <p class="txt">총 상품금액</p>
                                <p class="price">
                                    <em id="totPrdtAmtView" th:text="${#numbers.formatDecimal(totalOriginalPrice, 0, 'COMMA', 0, 'POINT')}">0</em>
                                    <span>원</span>
                                </p>
                            </div>
                            <i class="iconset ico-circle-minus">빼기</i>
                            <div class="cell sale">
                                <p class="txt">할인금액</p>
                                <p class="price">
                                    <em id="totDcAmtView" th:text="${#numbers.formatDecimal(discountPrice, 0, 'COMMA', 0, 'POINT')}">0</em>
                                    <span>원</span>
                                </p>
                            </div>
                            <i class="iconset ico-circle-equal">등호</i>
                            <div class="cell real">
                                <p class="txt">최종 결제금액</p>
                                <p class="price">
                                    <em id="lstPayAmtView" th:text="${#numbers.formatDecimal(totalDiscountedPrice, 0, 'COMMA', 0, 'POINT')}">0</em>
                                    <span>원</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group pt40" style="display: block;">
                        <button type="button" id="btn-tosspay" class="button  purple large w170px btn-order-form">구매</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>