<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
    <title>장바구니</title>
    <style></style>
</head>
<body>
    <div layout:fragment="content">
        <div id="contents">
            <div class="inner-wrap">
                <!-- store-payment -->
                <div class="store-payment">
                    <h2 class="tit">장바구니</h2>
                    <h3 class="tit">장바구니 목록</h3>
                    <div class="table-wrap">
                        <table class="board-list">
                            <caption>주문상품정보 목록 표</caption>
                            <colgroup>
                                <col style="width:120px;">
                                <col>
                                <col style="width:150px;">
                                <col style="width:80px;">
                                <col style="width:200px;">
                            </colgroup>
                            <thead>
                            <tr>
                                <th scope="colgroup" colspan="2">상품정보</th>
                                <th></th>
                                <th scope="col">구매수량</th>
                                <th scope="col">총 상품금액</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="cart : ${carts}" th:if="${cart.getProduct()}">
                                <td class="a-c">
                                    <div class="goods-info" th:if="${cart.getProduct.getImagePath()}">
                                        <p class="img"><a th:href="@{/store/detail/product(productNo=${cart.getProduct().getNo()})}"><img th:src="${cart.getProduct().getImagePath()}" onerror="noImg(this);"></a></p>
                                    </div>
                                </td>
                                <th scope="row">
                                    <div class="goods-info">
                                        <p class="name"><a th:href="@{/store/detail/product(productNo=${cart.getProduct().getNo()})}" th:text="${cart.getProduct().getName()}"></a></p>
                                        <p class="bundle" th:text="${cart.getProduct().getDescription()}"></p>
                                    </div>
                                </th>
                                <td></td>
                                <td><em id="purcQtyView" th:text="${cart.getAmount()}"></em></td>
                                <td>
                                    <div class="goods-info">
                                        <em id="prdtSumAmtView" class="price" th:text="${cart.getTotalPrice()}"></em>원
                                    </div>
                                </td>
                            </tr>
                            <tr th:each="cart : ${carts}" th:if="${cart.getPkg()}">
                                <td class="a-c">
                                    <div class="goods-info">
                                        <p class="img"><a th:href="@{/store/detail/package(packageNo=${cart.getPkg().getNo()})}"><img th:src="${cart.getPkg().getImagePath()}" onerror="noImg(this);"></a></p>
                                    </div>
                                </td>
                                <th scope="row">
                                    <div class="goods-info">
                                        <p class="name"><a th:href="@{/store/detail/package(packageNo=${cart.getPkg().getNo()})}" th:text="${cart.getPkg().getName()}"></a></p>
                                        <p class="bundle" th:text="${cart.getPkg().getComposition()}"></p>
                                    </div>
                                </th>
                                <td></td>
                                <td><em id="purcQtyViews" th:text="${cart.getAmount()}"></em></td>
                                <td>
                                    <div class="goods-info">
                                        <em id="prdtSumAmtViews" class="price" th:text="${cart.getTotalPrice()}"></em>원
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <h3 class="tit mt40">총 결제금액</h3>
                    <!-- payment-final -->
                    <div class="payment-final">
                        <div class="calc">
                            <div class="cell all">
                                <p class="txt">총 상품금액</p>
                                <p class="price">
                                    <em id="totPrdtAmtView">10,000</em>
                                    <span>원</span>
                                </p>
                            </div>
                            <i class="iconset ico-circle-minus">빼기</i>
                            <div class="cell sale">
                                <p class="txt">할인금액</p>
                                <p class="price">
                                    <em id="totDcAmtView">0</em>
                                    <span>원</span>
                                </p>
                            </div>
                            <i class="iconset ico-circle-equal">등호</i>
                            <div class="cell real">
                                <p class="txt">최종 결제금액</p>
                                <p class="price">
                                    <em id="lstPayAmtView">10,000</em>
                                    <span>원</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="btn-group pt40" style="display: block;">
                        <a href="" class="button large w170px" id="btn_store_back" title="취소">장바구니 비우기</a>
                        <a href="#" class="button purple large w170px btn-modal-open" id="btn_store_pay_adapter" title="결제">결제하러 가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>