<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
    <title>결제 성공</title>
    <link rel="stylesheet" href="/static/css/product/success.css">
</head>
<body>
<div layout:fragment="content">
    <div style="padding-bottom: 15px;"></div>
    <div>
        <img th:src="@{/images/success/상품 구매완료.png}">
    </div>
    <div class="frame">
        <button type="button" class="custom-btn btn-8" onclick="location.href='http://localhost/'"><span>구매내역</span></button>
        <button type="button" class="custom-btn btn-8" onclick="location.href='http://localhost/'"><span>홈</span></button>
    </div>
</div>
</body>
</html>