<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="config">
    
</head>
<div></div>
<div id="notification-modal" class="modal notification-modal" style="z-index: 1001; display: none;">
    <div class="modal-container">
        <h1 class="modal-title">알림</h1>
        <p>
            <span></span>
            <span></span>
        </p>
        <div class="modal-buttons">
            <button id="close-notification" class="input-button">닫기</button>
        </div>
    </div>
</div>
</html>