<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="config">

</head>
<div th:fragment="modal" id="find-modal" class="modal find-modal" style="z-index: 1000">
    <div class="wrap">
        <header class="layer-header">
            <h3 class="tit">알림</h3>
        </header>
        <div class="layer-con" style="height:250px">
            <p class="txt-common">회원님의 아이디는 [] 입니다.<br>가입일 : </p>
            <p th:text="|회원님의 아이디는 [${user.id}] 입니다.|<br>| 가입일 : ${user.createDate} |"></p>
            <div class="btn-group">
                <button type="button" class="button lyclose" style="display: none;"></button>
                <button type="button" class="button purple confirm">확인</button>
            </div>
        </div>
        <button type="button" class="btn-layer-close">레이어 닫기</button>
    </div>
</div>
</html>