<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin}">
<head th:fragment="extra-head-content">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script th:src="@{/js/admin/event/home.js}"></script>
</head>
<title>관리자페이지</title>
<div layout:fragment="content" style="margin-top: -40px;">
    <div id="contents">
    	<div class="d-flex justify-content-between">
	         <h2 class="tit">이벤트</h2>
	         <a href="/admin/event/insertform" class="button purple" title="이벤트 등록">등록</a>
   		</div>
   		
	    <div class="tab-list fixed">
	        <ul>
	            <li data-cat-no="1" th:classappend="${param.catNo == null || #strings.equals(param.catNo, '1') ? 'on' : ''}">
	                <a title="전체">전체</a>
	            </li>
	            <li data-cat-no="2"  th:classappend="${#strings.equals(param.catNo, '2') ? 'on' : ''}">
	                <a title="MGV Pick 탭으로 이동">MGV Pick</a>
	            </li>
	            <li data-cat-no="3"  th:classappend="${#strings.equals(param.catNo, '3') ? 'on' : ''}">
	                <a title="영화 탭으로 이동">영화</a>
	            </li>
	            <li data-cat-no="4"  th:classappend="${#strings.equals(param.catNo, '4') ? 'on' : ''}">
	                <a title="극장 탭으로 이동">극장</a>
	            </li>
	        </ul>
	    </div>
	    
	    <div class="board-list-util">
	    <p class="result-count"><strong>전체 <span class="font-gblue" id="totalCnt" th:text="${result.pagination.totalRows}"></span>건</strong></p>
		<form method="get" id="actionForm" th:action="@{list}">    
		     <div class="ml07 bs3  d-flex justify-content-end">
		         	<select id="location" title="진행 여부" name="status"
			                                class="form-select form-select-sm  ml06 form-control-sm mb-3"
			                                style="width: 130px; ">
			                            <option value="" selected> 진행 여부</option>
			                            <option value="wait" th:selected="${#strings.equals(param.status , 'wait')}">진행 예정</option>
			                            <option value="run" th:selected="${#strings.equals(param.status, 'run')}">진행중</option>
			                            <option value="finish" th:selected="${#strings.equals(param.status, 'finish')}">종료</option>
		         	</select>
		       
			        <div class="board-search">
			        	<input type="hidden" name="catNo" th:value="${param.catNo == null ? 1 : param.catNo}" />
			        	<input type="hidden" name="page" th:value="${param.page == null ? 1 : param.page}" />
			            <input type="search" name="keyword" title="검색어를 입력해 주세요." th:value="${param.keyword == null ? '' : param.keyword}" placeholder="검색어를 입력해 주세요." class="input-text"  autocomplete="off">
			            <button type="button" id="searchBtn" class="btn-search-input">검색</button>
			        </div>
			 </div>
		</form>
		</div>
	    <div class="table-wrap" style="min-height: 512px;">
	        <table class="board-list" id="table-event">
	            <colgroup>
	                <col style="width:72px;">
	                <col style="width:133px;">
	                <col>
	                <col style="width:116px;">
	                <col style="width:116px;">
	            </colgroup>
	            <thead>
	            <tr style="text-align: center;">
	                <th scope="col">번호</th>
	                <th scope="col">카테고리</th>
	                <th scope="col">제목</th>
	                <th scope="col">시작일</th>
	                <th scope="col">종료일</th>
	            </tr>
	            </thead>
	            <tbody class="eventList">
	            	<tr th:if="${#lists.isEmpty(result.eventList)}">
	            		<td colspan="5">게시글이 존재하지 않습니다.</td>
	            	</tr>
		            <tr th:each="event: ${result.eventList}">
		                <td th:text="${event.no}"></td>
		                <td th:text="${event.category.name}"></td>
		                <td style="text-align:left;">
		                	 <a class="text-black text-decoration-none
	                      		d-inline-block text-truncate" style="max-width: 400px;"
	                      		th:href="@{/admin/event/detail(no=${event.no},page=${param.page}, status=${param.status}, catNo=${param.catNo}, keyword=${param.keyword})}"
		                		th:text="${event.title}">
		                	 </a>
		                </td>
		                <td th:text="${#dates.format(event.startDate, 'yyyy.MM.dd')}"></td>
		                <td th:text="${#dates.format(event.endDate, 'yyyy.MM.dd')}"></td>
		            </tr>
	            </tbody>
	        </table>
	    </div>
	    
	    <!-- pagination -->
	    <div class="row mb-3">
	      	<div class="col-12">
			    <nav>
					<ul class="pagination justify-content-center">
					    <li class="page-item" th:if="${result.pagination.currentBlock > 1}">
					        <a title="첫번째 페이지 보기"
					           th:href="@{list(page=1)}"
					           class="page-link page-number-link control first"
					           data-page="1"></a>
					    </li>
					    <li class="page-item" th:if="${result.pagination.currentBlock > 1}">
					        <a title="이전 10페이지 보기"
					           th:href="@{list(page=${(result.pagination.currentBlock -1)* 10})}"
					           class="page-link page-number-link control prev"
					           th:attr="data-page=${(result.pagination.currentBlock -1)* 10}"></a>
					    </li>
					    <li class="page-item" th:each="num : ${result.pagination.pageNumbers}">
	                        <a th:href="@{list(page=${num})}" 
	                           th:text="${num}"
	                           th:classappend="${result.pagination.page == (num) ? 'active' : '' }"
	                           class="page-link page-number-link"
	                           th:attr="data-page=${num}">1</a>
	                    </li>
	                    <li class="page-item" th:if="${result.pagination.currentBlock < result.pagination.totalBlocks}">
					        <a title="이후 10페이지 보기"
					           th:href="@{list(page=${result.pagination.currentBlock * 10 + 1})}"
					           class="page-link page-number-link control next"
					           th:attr="data-page=${result.pagination.currentBlock * 10 + 1}"></a>
					    </li>
	                 	<li class="page-item">
					        <a title="마지막 페이지 보기"
					           th:href="@{list(page=${result.pagination.totalPages})}"
					           class="page-link page-number-link control last"
					           th:attr="data-page=${result.pagination.totalPages}"></a>
					    </li>
					    
					</ul>
				</nav>
			</div>
		</div>
	    <!--// pagination -->
            
    </div>
</div>
</html>