<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
    <title>극장</title>
    <style>
        ul { padding-left: 0; !important; }
    </style>
</head>

<div layout:fragment="content">
    <div class="page-util">
        <div class="inner-wrap">
            <div class="location">
                <span>Home</span>
                <a href="/kr/co/mgv/theater/list" title="극장 페이지로 이동">극장</a>
                <a href="/kr/co/mgv/theater/list" title="전체극장 페이지로 이동">전체극장</a>
            </div>
        </div>
    </div>

    <!-- content -->
    <div id="contents" class="no-padding">

        <!--// theater-main -->
        <div class="inner-wrap">

            <h2 class="tit mt40">전체극장</h2>

            <div class="theater-box" style="height: 292px;">
                <div class="theater-place">
                    <ul>

                        <li class="on">
                            <button type="button" class="sel-city">서울
                            </button>

                            <div class="theater-list">
                                <ul>
                                    <li data-brch-no="1372">
                                        <a href="/kr/co/mgv/theater?brchNo=1372" title="강남 상세보기">강남</a>
                                    </li>

                                    <li data-brch-no="0023">


                                        <a href="/kr/co/mgv/theater?brchNo=0023" title="강남대로(씨티) 상세보기">강남대로(씨티)</a>


                                    </li>

                                    <li data-brch-no="1341">


                                        <a href="/kr/co/mgv/theater?brchNo=1341" title="강동 상세보기">강동</a>


                                    </li>

                                    <li data-brch-no="1431">


                                        <a href="/kr/co/mgv/theater?brchNo=1431" title="군자 상세보기">군자</a>


                                    </li>

                                    <li data-brch-no="0041">


                                        <a href="/kr/co/mgv/theater?brchNo=0041" title="더 부티크 목동현대백화점 상세보기">더 부티크 목동현대백화점</a>


                                    </li>

                                    <li data-brch-no="1003">


                                        <a href="/kr/co/mgv/theater?brchNo=1003" title="동대문 상세보기">동대문</a>


                                    </li>

                                    <li data-brch-no="1572">


                                        <a href="/kr/co/mgv/theater?brchNo=1572" title="마곡 상세보기">마곡</a>


                                    </li>

                                    <li data-brch-no="1581">


                                        <a href="/kr/co/mgv/theater?brchNo=1581" title="목동 상세보기">목동</a>


                                        <i class="iconset ico-theater-renewal"></i>


                                    </li>

                                    <li data-brch-no="1311">


                                        <a href="/kr/co/mgv/theater?brchNo=1311" title="상봉 상세보기">상봉</a>


                                    </li>

                                    <li data-brch-no="1211">


                                        <a href="/kr/co/mgv/theater?brchNo=1211" title="상암월드컵경기장 상세보기">상암월드컵경기장</a>


                                    </li>

                                    <li data-brch-no="1331">


                                        <a href="/kr/co/mgv/theater?brchNo=1331" title="성수 상세보기">성수</a>


                                    </li>

                                    <li data-brch-no="1371">


                                        <a href="/kr/co/mgv/theater?brchNo=1371" title="센트럴 상세보기">센트럴</a>


                                    </li>

                                    <li data-brch-no="1381">


                                        <a href="/kr/co/mgv/theater?brchNo=1381" title="송파파크하비오 상세보기">송파파크하비오</a>


                                    </li>

                                    <li data-brch-no="1202">


                                        <a href="/kr/co/mgv/theater?brchNo=1202" title="신촌 상세보기">신촌</a>


                                    </li>

                                    <li data-brch-no="1561">


                                        <a href="/kr/co/mgv/theater?brchNo=1561" title="이수 상세보기">이수</a>


                                    </li>

                                    <li data-brch-no="1321">


                                        <a href="/kr/co/mgv/theater?brchNo=1321" title="창동 상세보기">창동</a>


                                    </li>

                                    <li data-brch-no="1351">


                                        <a href="/kr/co/mgv/theater?brchNo=1351" title="코엑스 상세보기">코엑스</a>


                                    </li>

                                    <li data-brch-no="1212">


                                        <a href="/kr/co/mgv/theater?brchNo=1212" title="홍대 상세보기">홍대</a>


                                    </li>

                                    <li data-brch-no="1571">


                                        <a href="/kr/co/mgv/theater?brchNo=1571" title="화곡 상세보기">화곡</a>


                                    </li>

                                    <li data-brch-no="1562">


                                        <a href="/kr/co/mgv/theater?brchNo=1562" title="ARTNINE 상세보기">ARTNINE</a>


                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li>
                            <button type="button" class="sel-city">경기

                            </button>

                            <div class="theater-list">
                                <ul>

                                    <li data-brch-no="4121">


                                        <a href="/kr/co/mgv/theater?brchNo=4121" title="고양스타필드 상세보기">고양스타필드</a>


                                    </li>

                                    <li data-brch-no="0029">


                                        <a href="/kr/co/mgv/theater?brchNo=0029" title="광명AK플라자 상세보기">광명AK플라자</a>


                                    </li>

                                    <li data-brch-no="0053">


                                        <a href="/kr/co/mgv/theater?brchNo=0053" title="광명소하 상세보기">광명소하</a>


                                    </li>

                                    <li data-brch-no="0035">


                                        <a href="/kr/co/mgv/theater?brchNo=0035" title="금정AK플라자 상세보기">금정AK플라자</a>


                                    </li>

                                    <li data-brch-no="4152">


                                        <a href="/kr/co/mgv/theater?brchNo=4152" title="김포한강신도시 상세보기">김포한강신도시</a>


                                    </li>

                                    <li data-brch-no="0039">


                                        <a href="/kr/co/mgv/theater?brchNo=0039" title="남양주 상세보기">남양주</a>


                                    </li>

                                    <li data-brch-no="0019">


                                        <a href="/kr/co/mgv/theater?brchNo=0019" title="남양주현대아울렛 스페이스원 상세보기">남양주현대아울렛 스페이스원</a>


                                    </li>

                                    <li data-brch-no="4451">


                                        <a href="/kr/co/mgv/theater?brchNo=4451" title="동탄 상세보기">동탄</a>


                                    </li>

                                    <li data-brch-no="4652">


                                        <a href="/kr/co/mgv/theater?brchNo=4652" title="미사강변 상세보기">미사강변</a>


                                    </li>

                                    <li data-brch-no="4104">


                                        <a href="/kr/co/mgv/theater?brchNo=4104" title="백석벨라시타 상세보기">백석벨라시타</a>


                                    </li>

                                    <li data-brch-no="4722">


                                        <a href="/kr/co/mgv/theater?brchNo=4722" title="별내 상세보기">별내</a>


                                    </li>

                                    <li data-brch-no="4221">


                                        <a href="/kr/co/mgv/theater?brchNo=4221" title="부천스타필드시티 상세보기">부천스타필드시티</a>


                                    </li>

                                    <li data-brch-no="4631">


                                        <a href="/kr/co/mgv/theater?brchNo=4631" title="분당 상세보기">분당</a>


                                    </li>

                                    <li data-brch-no="0030">


                                        <a href="/kr/co/mgv/theater?brchNo=0030" title="수원 상세보기">수원</a>


                                    </li>

                                    <li data-brch-no="0052">


                                        <a href="/kr/co/mgv/theater?brchNo=0052" title="수원AK플라자(수원역) 상세보기">수원AK플라자(수원역)</a>


                                        <i class="iconset ico-theater-open"></i>


                                    </li>

                                    <li data-brch-no="0042">


                                        <a href="/kr/co/mgv/theater?brchNo=0042" title="수원남문 상세보기">수원남문</a>


                                    </li>

                                    <li data-brch-no="0036">


                                        <a href="/kr/co/mgv/theater?brchNo=0036" title="수원호매실 상세보기">수원호매실</a>


                                    </li>

                                    <li data-brch-no="4291">


                                        <a href="/kr/co/mgv/theater?brchNo=4291" title="시흥배곧 상세보기">시흥배곧</a>


                                    </li>

                                    <li data-brch-no="4253">


                                        <a href="/kr/co/mgv/theater?brchNo=4253" title="안산중앙 상세보기">안산중앙</a>


                                    </li>

                                    <li data-brch-no="0020">


                                        <a href="/kr/co/mgv/theater?brchNo=0020" title="안성스타필드 상세보기">안성스타필드</a>


                                    </li>

                                    <li data-brch-no="4821">


                                        <a href="/kr/co/mgv/theater?brchNo=4821" title="양주 상세보기">양주</a>


                                    </li>

                                    <li data-brch-no="4431">


                                        <a href="/kr/co/mgv/theater?brchNo=4431" title="영통 상세보기">영통</a>


                                    </li>

                                    <li data-brch-no="0012">


                                        <a href="/kr/co/mgv/theater?brchNo=0012" title="용인기흥 상세보기">용인기흥</a>


                                    </li>

                                    <li data-brch-no="4462">


                                        <a href="/kr/co/mgv/theater?brchNo=4462" title="용인테크노밸리 상세보기">용인테크노밸리</a>


                                    </li>

                                    <li data-brch-no="4804">


                                        <a href="/kr/co/mgv/theater?brchNo=4804" title="의정부민락 상세보기">의정부민락</a>


                                    </li>

                                    <li data-brch-no="4111">


                                        <a href="/kr/co/mgv/theater?brchNo=4111" title="일산 상세보기">일산</a>


                                    </li>

                                    <li data-brch-no="4112">


                                        <a href="/kr/co/mgv/theater?brchNo=4112" title="킨텍스 상세보기">킨텍스</a>


                                    </li>

                                    <li data-brch-no="4132">


                                        <a href="/kr/co/mgv/theater?brchNo=4132" title="파주금촌 상세보기">파주금촌</a>


                                    </li>

                                    <li data-brch-no="4115">


                                        <a href="/kr/co/mgv/theater?brchNo=4115" title="파주운정 상세보기">파주운정</a>


                                    </li>

                                    <li data-brch-no="4131">


                                        <a href="/kr/co/mgv/theater?brchNo=4131" title="파주출판도시 상세보기">파주출판도시</a>


                                    </li>

                                    <li data-brch-no="4651">


                                        <a href="/kr/co/mgv/theater?brchNo=4651" title="하남스타필드 상세보기">하남스타필드</a>


                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li>
                            <button type="button" class="sel-city">인천

                            </button>

                            <div class="theater-list">
                                <ul>

                                    <li data-brch-no="4041">


                                        <a href="/kr/co/mgv/theater?brchNo=4041" title="검단 상세보기">검단</a>


                                    </li>

                                    <li data-brch-no="4062">


                                        <a href="/kr/co/mgv/theater?brchNo=4062" title="송도 상세보기">송도</a>


                                    </li>

                                    <li data-brch-no="4001">


                                        <a href="/kr/co/mgv/theater?brchNo=4001" title="영종 상세보기">영종</a>


                                    </li>

                                    <li data-brch-no="4051">


                                        <a href="/kr/co/mgv/theater?brchNo=4051" title="인천논현 상세보기">인천논현</a>


                                    </li>

                                    <li data-brch-no="0027">


                                        <a href="/kr/co/mgv/theater?brchNo=0027" title="청라지젤 상세보기">청라지젤</a>


                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li>
                            <button type="button" class="sel-city">대전/충청/세종

                            </button>

                            <div class="theater-list">
                                <ul>

                                    <li data-brch-no="3141">


                                        <a href="/kr/co/mgv/theater?brchNo=3141" title="공주 상세보기">공주</a>


                                    </li>

                                    <li data-brch-no="0018">


                                        <a href="/kr/co/mgv/theater?brchNo=0018" title="논산 상세보기">논산</a>


                                    </li>

                                    <li data-brch-no="3021">


                                        <a href="/kr/co/mgv/theater?brchNo=3021" title="대전 상세보기">대전</a>


                                    </li>

                                    <li data-brch-no="0028">


                                        <a href="/kr/co/mgv/theater?brchNo=0028" title="대전신세계 아트앤사이언스 상세보기">대전신세계 아트앤사이언스</a>


                                    </li>

                                    <li data-brch-no="0009">


                                        <a href="/kr/co/mgv/theater?brchNo=0009" title="대전유성 상세보기">대전유성</a>


                                    </li>

                                    <li data-brch-no="3011">


                                        <a href="/kr/co/mgv/theater?brchNo=3011" title="대전중앙로 상세보기">대전중앙로</a>


                                    </li>

                                    <li data-brch-no="0017">


                                        <a href="/kr/co/mgv/theater?brchNo=0017" title="대전현대아울렛 상세보기">대전현대아울렛</a>


                                    </li>

                                    <li data-brch-no="3391">


                                        <a href="/kr/co/mgv/theater?brchNo=3391" title="세종(조치원) 상세보기">세종(조치원)</a>


                                    </li>

                                    <li data-brch-no="3392">


                                        <a href="/kr/co/mgv/theater?brchNo=3392" title="세종나성 상세보기">세종나성</a>


                                    </li>

                                    <li data-brch-no="0008">


                                        <a href="/kr/co/mgv/theater?brchNo=0008" title="세종청사 상세보기">세종청사</a>


                                    </li>

                                    <li data-brch-no="3631">


                                        <a href="/kr/co/mgv/theater?brchNo=3631" title="오창 상세보기">오창</a>


                                    </li>

                                    <li data-brch-no="3651">


                                        <a href="/kr/co/mgv/theater?brchNo=3651" title="진천 상세보기">진천</a>


                                    </li>

                                    <li data-brch-no="3301">


                                        <a href="/kr/co/mgv/theater?brchNo=3301" title="천안 상세보기">천안</a>


                                    </li>

                                    <li data-brch-no="0049">


                                        <a href="/kr/co/mgv/theater?brchNo=0049" title="청주사창 상세보기">청주사창</a>


                                    </li>

                                    <li data-brch-no="3501">


                                        <a href="/kr/co/mgv/theater?brchNo=3501" title="홍성내포 상세보기">홍성내포</a>


                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li>
                            <button type="button" class="sel-city">부산/대구/경상

                            </button>

                            <div class="theater-list">
                                <ul>

                                    <li data-brch-no="0040">


                                        <a href="/kr/co/mgv/theater?brchNo=0040" title="경북도청 상세보기">경북도청</a>


                                    </li>

                                    <li data-brch-no="7122">


                                        <a href="/kr/co/mgv/theater?brchNo=7122" title="경산하양 상세보기">경산하양</a>


                                    </li>

                                    <li data-brch-no="0043">


                                        <a href="/kr/co/mgv/theater?brchNo=0043" title="경주 상세보기">경주</a>


                                    </li>

                                    <li data-brch-no="7303">


                                        <a href="/kr/co/mgv/theater?brchNo=7303" title="구미강동 상세보기">구미강동</a>


                                    </li>

                                    <li data-brch-no="7401">


                                        <a href="/kr/co/mgv/theater?brchNo=7401" title="김천 상세보기">김천</a>


                                    </li>

                                    <li data-brch-no="7901">


                                        <a href="/kr/co/mgv/theater?brchNo=7901" title="남포항 상세보기">남포항</a>


                                    </li>

                                    <li data-brch-no="7011">


                                        <a href="/kr/co/mgv/theater?brchNo=7011" title="대구신세계(동대구) 상세보기">대구신세계(동대구)</a>


                                    </li>

                                    <li data-brch-no="0022">


                                        <a href="/kr/co/mgv/theater?brchNo=0022" title="대구이시아 상세보기">대구이시아</a>


                                    </li>

                                    <li data-brch-no="6161">


                                        <a href="/kr/co/mgv/theater?brchNo=6161" title="덕천 상세보기">덕천</a>


                                    </li>

                                    <li data-brch-no="6312">


                                        <a href="/kr/co/mgv/theater?brchNo=6312" title="마산 상세보기">마산</a>


                                    </li>

                                    <li data-brch-no="7451">


                                        <a href="/kr/co/mgv/theater?brchNo=7451" title="문경 상세보기">문경</a>


                                    </li>

                                    <li data-brch-no="6001">


                                        <a href="/kr/co/mgv/theater?brchNo=6001" title="부산극장 상세보기">부산극장</a>


                                    </li>

                                    <li data-brch-no="6906">


                                        <a href="/kr/co/mgv/theater?brchNo=6906" title="부산대 상세보기">부산대</a>


                                    </li>

                                    <li data-brch-no="0025">


                                        <a href="/kr/co/mgv/theater?brchNo=0025" title="북대구(칠곡) 상세보기">북대구(칠곡)</a>


                                    </li>

                                    <li data-brch-no="0032">


                                        <a href="/kr/co/mgv/theater?brchNo=0032" title="사상 상세보기">사상</a>


                                    </li>

                                    <li data-brch-no="6642">


                                        <a href="/kr/co/mgv/theater?brchNo=6642" title="삼천포 상세보기">삼천포</a>


                                    </li>

                                    <li data-brch-no="6261">


                                        <a href="/kr/co/mgv/theater?brchNo=6261" title="양산 상세보기">양산</a>


                                    </li>

                                    <li data-brch-no="6262">


                                        <a href="/kr/co/mgv/theater?brchNo=6262" title="양산증산 상세보기">양산증산</a>


                                    </li>

                                    <li data-brch-no="6811">
                                        <a href="/kr/co/mgv/theater?brchNo=6811" title="울산 상세보기">울산</a>
                                    </li>

                                    <li data-brch-no="6191">


                                        <a href="/kr/co/mgv/theater?brchNo=6191" title="정관 상세보기">정관</a>


                                    </li>

                                    <li data-brch-no="0045">


                                        <a href="/kr/co/mgv/theater?brchNo=0045" title="진주(중안) 상세보기">진주(중안)</a>


                                    </li>

                                    <li data-brch-no="0048">


                                        <a href="/kr/co/mgv/theater?brchNo=0048" title="창원 상세보기">창원</a>


                                    </li>

                                    <li data-brch-no="0014">


                                        <a href="/kr/co/mgv/theater?brchNo=0014" title="창원내서 상세보기">창원내서</a>


                                    </li>

                                    <li data-brch-no="0038">


                                        <a href="/kr/co/mgv/theater?brchNo=0038" title="포항 상세보기">포항</a>


                                    </li>

                                    <li data-brch-no="0046">


                                        <a href="/kr/co/mgv/theater?brchNo=0046" title="해운대(장산) 상세보기">해운대(장산)</a>


                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li>
                            <button type="button" class="sel-city">광주/전라

                            </button>

                            <div class="theater-list">
                                <ul>

                                    <li data-brch-no="5021">


                                        <a href="/kr/co/mgv/theater?brchNo=5021" title="광주상무 상세보기">광주상무</a>


                                    </li>

                                    <li data-brch-no="5061">


                                        <a href="/kr/co/mgv/theater?brchNo=5061" title="광주하남 상세보기">광주하남</a>


                                    </li>

                                    <li data-brch-no="5302">


                                        <a href="/kr/co/mgv/theater?brchNo=5302" title="목포하당(포르모) 상세보기">목포하당(포르모)</a>


                                    </li>

                                    <li data-brch-no="5401">


                                        <a href="/kr/co/mgv/theater?brchNo=5401" title="순천 상세보기">순천</a>


                                    </li>

                                    <li data-brch-no="5552">


                                        <a href="/kr/co/mgv/theater?brchNo=5552" title="여수웅천 상세보기">여수웅천</a>


                                    </li>

                                    <li data-brch-no="0010">


                                        <a href="/kr/co/mgv/theater?brchNo=0010" title="전대(광주) 상세보기">전대(광주)</a>


                                    </li>

                                    <li data-brch-no="0050">


                                        <a href="/kr/co/mgv/theater?brchNo=0050" title="전주객사 상세보기">전주객사</a>


                                    </li>

                                    <li data-brch-no="5612">


                                        <a href="/kr/co/mgv/theater?brchNo=5612" title="전주송천 상세보기">전주송천</a>


                                    </li>

                                    <li data-brch-no="0021">


                                        <a href="/kr/co/mgv/theater?brchNo=0021" title="전주혁신 상세보기">전주혁신</a>


                                    </li>

                                    <li data-brch-no="5064">


                                        <a href="/kr/co/mgv/theater?brchNo=5064" title="첨단 상세보기">첨단</a>


                                    </li>

                                </ul>
                            </div>
                        </li>

                        <li>
                            <button type="button" class="sel-city">강원

                            </button>

                            <div class="theater-list">
                                <ul>

                                    <li data-brch-no="2001">


                                        <a href="/kr/co/mgv/theater?brchNo=2001" title="남춘천 상세보기">남춘천</a>


                                    </li>

                                    <li data-brch-no="2171">


                                        <a href="/kr/co/mgv/theater?brchNo=2171" title="속초 상세보기">속초</a>


                                    </li>

                                    <li data-brch-no="2201">


                                        <a href="/kr/co/mgv/theater?brchNo=2201" title="원주 상세보기">원주</a>


                                    </li>

                                    <li data-brch-no="2202">


                                        <a href="/kr/co/mgv/theater?brchNo=2202" title="원주센트럴 상세보기">원주센트럴</a>


                                    </li>

                                    <li data-brch-no="0037">


                                        <a href="/kr/co/mgv/theater?brchNo=0037" title="춘천석사 상세보기">춘천석사</a>


                                    </li>

                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>

                <div class="user-theater">


                    <!-- 로그인 전 -->
                    <div>
                        <i class="iconset ico-favo-theater"></i> 나의 선호영화관 정보
                        <a href="" class="button small ml10" id="moveLogin" title="로그인하기">로그인하기</a>
                    </div>


                </div>
            </div>


            <div class="tit-util mt70 mb15">
                <h3 class="tit">극장 이벤트</h3>
                <a href="/event/theater" class="more" title="극장 이벤트 더보기">더보기 <i class="iconset ico-arr-right-gray"></i></a>
            </div>

            <div class="event-box">
                <ul>

                    <li>
                        <a href="#" class="eventBtn" data-no="13755" data-netfunnel="N"
                           title="[세종(조치원)] 포대팝콘이 떴다! 상세보기">
                            <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/27/KJkY8Fmjc7jz46x5Q2TBizZObelFFOlm.jpg"
                                 alt="[세종(조치원)] 포대팝콘이 떴다!" onerror="noImg(this)">
                        </a>
                    </li>

                    <li>
                        <a href="#" class="eventBtn" data-no="13753" data-netfunnel="N"
                           title="[영통] 일반요금으로 MX관에서 관람하자! 상세보기">
                            <img src="https://img.megabox.co.kr/SharedImg/event/2023/07/27/tXljOiyKSH44mET4IOy6z5OOFHk2Rgdc.jpg"
                                 alt="[영통] 일반요금으로 MX관에서 관람하자!" onerror="noImg(this)">
                        </a>
                    </li>

                </ul>
            </div>


            <div class="tit-util mt70 mb15">
                <h3 class="tit">극장 공지사항</h3>
                <a href="/support/notice?ti=3" class="more" title="극장 공지사항 더보기">더보기 <i
                        class="iconset ico-arr-right-gray"></i></a>
            </div>

            <div class="table-wrap">
                <table class="board-list">
                    <caption>극장, 제목, 지역, 등록일이 들어간 극장 공지사항 목록</caption>
                    <colgroup>
                        <col style="width:150px;">
                        <col>
                        <col style="width:150px;">
                        <col style="width:120px;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">극장</th>
                        <th scope="col">제목</th>
                        <th scope="col">지역</th>
                        <th scope="col">등록일</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr>
                        <td>수원AK플라자(수원역)</td>
                        <th scope="row">
                            <a href="/support/notice/detail?artiNo=10914&amp;bbsNo=9" title="[수원AK플라자] 주차장 이용 안내 상세보기">
                                [수원AK플라자] 주차장 이용 안내
                            </a>
                        </th>
                        <td>경기</td>
                        <td>2023.07.26</td>
                    </tr>

                    <tr>
                        <td>수원AK플라자(수원역)</td>
                        <th scope="row">
                            <a href="/support/notice/detail?artiNo=10913&amp;bbsNo=9"
                               title="[수원AK플라자] 극장 도보 이용 안내 상세보기">
                                [수원AK플라자] 극장 도보 이용 안내
                            </a>
                        </th>
                        <td>경기</td>
                        <td>2023.07.26</td>
                    </tr>

                    <tr>
                        <td>대전신세계 아트앤사이언스</td>
                        <th scope="row">
                            <a href="/support/notice/detail?artiNo=10912&amp;bbsNo=9"
                               title="[대전신세계 아트앤사이언스]시사회 진행에 따른 고객 안내문(7/27) 상세보기">
                                [대전신세계 아트앤사이언스]시사회 진행에 따른 고객 안내문(7/27)
                            </a>
                        </th>
                        <td>대전/충청/세종</td>
                        <td>2023.07.26</td>
                    </tr>

                    <tr>
                        <td>코엑스</td>
                        <th scope="row">
                            <a href="/support/notice/detail?artiNo=10910&amp;bbsNo=9"
                               title="[코엑스] 시사회 진행에 따른 고객 안내문 (7/27) 상세보기">
                                [코엑스] 시사회 진행에 따른 고객 안내문 (7/27)
                            </a>
                        </th>
                        <td>서울</td>
                        <td>2023.07.25</td>
                    </tr>
                    <tr>
                        <td>수원남문</td>
                        <th scope="row">
                            <a href="/support/notice/detail?artiNo=10909&amp;bbsNo=9"
                               title="[수원남문] 공무원 할인 종료 안내(~7/31까지) 상세보기">
                                [수원남문] 공무원 할인 종료 안내(~7/31까지)
                            </a>
                        </th>
                        <td>경기</td>
                        <td>2023.07.24</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>