<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user}">
<div layout:fragment="content" id="contents">

    <!-- my-mgv-main -->
    <div class="my-mgv-main">

        <div class="my-mgv-info">
            <!-- top -->
            <div class="top2">
                <!-- <div class="mbclass" id="myPhoto">
                  <div class="wrap">
                    <form name="fileForm" style="display: none;">
                      <input type="file"   name="file">
                      <input type="hidden" name="fileMbNo" value="13709053" />
                    </form>

                    <i class="iconset ico-add-photo"></i>

                    <button type="button" class="img">
                      <img src="" alt="" onerror="noImg(this, 'human')" />
                    </button>
                  </div>

                </div> -->
                <div class="mbimg"><img th:src="|/common/image/${user.getProfileImg()}|" alt="WELCOME"></div>
                <div class="mb_name">안녕하세요!<p><span th:text="${user.name}"></span>님</p></div>
                <div class="link">
                    <a th:href="@{/mypage/auth}">개인정보수정</a>
                </div>
            </div>
            <!--// top -->
        </div>
        <!--// my-mgv-info -->

        <!-- column -->
        <!--<div class="column mt70">
            &lt;!&ndash; left &ndash;&gt;
            <div class="col left" id="myStory">
                <div class="tit-util">
                    <h2 class="tit small">나의 무비스토리</h2>

                    <div class="right">
                        <a href="#" class="button gray-line small btn-modal-open" w-data="600" h-data="470">본 영화 등록</a>
                    </div>
                </div>

                <div class="box-border link-movie-story">
                    <a href="#" title="본 영화 탭으로 이동">
                        <em>0</em>
                        <span>본 영화</span>
                    </a>

                    <a href="#" title="관람평 탭으로 이동">
                        <em>0</em>
                        <span>관람평</span>
                    </a>

                    <a href="#" title="보고싶어 탭으로 이동">
                        <em>0</em>
                        <span>보고싶어</span>
                    </a>

                    <a href="#" title="무비포스트 탭으로 이동">
                        <em>0</em>
                        <span>무비포스트</span>
                    </a>
                </div>
            </div>
            &lt;!&ndash;// left &ndash;&gt;

            &lt;!&ndash; right &ndash;&gt;
            <div class="col right" id="myFaverInfo">
                <div class="tit-util">
                    <h2 class="tit small">선호관람정보</h2>

                    <div class="right">
                        <a href="#" class="button gray-line small">설정</a>
                    </div>
                </div>

                <div class="box-border favor-see">
                    <ul class="dot-list gray">
                        <li><span class="font-gblue mr10">내 선호장르</span></li>
                        <li><span class="font-gblue mr10">내 선호시간</span></li>
                    </ul>
                </div>
            </div>
            &lt;!&ndash;// right &ndash;&gt;
        </div>-->
        <!--// column -->

        <div id="myBokd">
            <div class="tit-util mt70">
                <h2 class="tit small">나의 예매내역</h2>

                <a th:href="@{/mypage/booking}" class="more">더보기 <i class="iconset ico-arr-right-gray"></i></a>
            </div>

            <!-- my-reserve-history -->
            <div class="my-reserve-history">
                <ul>
                    <li class="no-result" th:if="${bookings.size==0}">
                        <!--todo if문 -->
                        <div class="no-history-reservation">
                            예매 내역이 없습니다.
                        </div>
                    </li>
                    <li class="no-result" th:if="${bookings.size>0}" th:each="booking,i : ${bookings}">
                        <!--todo if문 -->
                        <div class="no-history-reservation" th:text="|${bookings.size} 건의 예매 내역이 있습니다.|">

                        </div>
                    </li>
                </ul>
            </div>
            <!--// my-reserve-history -->
        </div>

        <div id="myPurc">
            <div class="tit-util mt70">
                <h2 class="tit small">나의 구매내역</h2>

                <a th:href="@{/mypage/booking}"class="more">더보기 <i class="iconset ico-arr-right-gray"></i></a>
            </div>

            <div class="table-wrap">
                <table class="board-list line">
                    <caption>나의 구매내역 요약 표</caption>
                    <colgroup>
                        <col style="width:160px;">
                        <col style="width:140px;">
                        <col>
                        <col style="width:120px;">
                        <col style="width:80px;">
                    </colgroup>
                    <tbody>
                    <tr>
                        <!--todo if 문-->
                        <td colspan="6" class="a-c">구매내역이 없습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- column -->
        <div class="column mt70">
            <!-- left -->
            <!--<div class="col left" id="mySbsc">
                <div class="tit-util">
                    <h2 class="tit small">참여이벤트</h2>
                    <a href="#" class="more" title="참여이벤트 더보기">더보기 <i class="iconset ico-arr-right-gray"></i></a>
                </div>

                <div class="brd-list">
                    <ul>
                        &lt;!&ndash;todo if 문&ndash;&gt;
                        <li class="no-result">
                            참여한 이벤트가 없습니다.
                        </li>
                    </ul>
                </div>
            </div>-->
            <!--// left -->

            <!-- right -->
            <div class="col" id="myInq">
                <div class="tit-util">
                    <h2 class="tit small">문의내역</h2>

                    <a href="#" class="more" title="문의내역 더보기">더보기 <i class="iconset ico-arr-right-gray"></i></a>
                </div>

                <div class="brd-list">
                    <ul>
                        <li class="no-result">
                            문의내역이 없습니다.
                        </li>
                    </ul>
                </div>
            </div>
            <!--// right -->
        </div>
        <!--// column -->
    </div>
    <!--// my-mgv-main -->
</div>
</html>