<aside class="left-sidebar" th:fragment="sidebar"
	style="padding: 0px 24px">
	<!-- Sidebar scroll-->
	<div>
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
			<ul id="sidebarnav">

				<li class="nav-small-cap"><i
					class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
					class="nav-small-capclose-btn d-xl-none d-block sidebartoggler cursor-pointer text-end"
					id="sidebarCollapse" style="margin-top: 5px;"> <i
						class="ti ti-x fs-8"></i>
				</span> <span class="hide-menu">Home</span></li>
				<li class="sidebar-item"><a class="sidebar-link"
					th:href="@{/admin/home}" aria-expanded="false"> <span>
							<i class="ti ti-layout-dashboard"></i>
					</span> <span class="hide-menu">home</span>
				</a></li>
				<li class="nav-small-cap"><i
					class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
					class="hide-menu">MANAGEMENT</span></li>
					
				<li class="sidebar-item dropdown">
				
				<a class="sidebar-link dropdown-toggle" data-bs-toggle="dropdown"
					data-bs-auto-close="true" aria-expanded="false"> <span>
							<i class="ti ti-article"></i>
					</span> <span class="hide-menu">극장관리</span>
				</a>
					<ul class="dropdown-menu sidebarnav">
						<li class="sidebar-item">
							<a class="sidebar-link" th:href="@{/admin/theater/list}" aria-expanded="false"> 
								<span>
									<i class="ti ti-article"></i>
								</span> 
								<span class="hide-menu">리스트</span>
							</a>
						</li>
					</ul>
				</li>
					<li class="sidebar-item">
						<a class="sidebar-link" th:href="@{/admin/product/product-list}" aria-expanded="false">
							<span>
								<i class="bi bi-android2"></i>
							</span>
							<span class="hide-menu">
								상품관리
							</span>
						</a>
					</li>
					<li class="sidebar-item">
						<a class="sidebar-link" th:href="@{/admin/product/package-list}" aria-expanded="false">
							<span>
								<i class="bi bi-box-fill"></i>
							</span>
							<span class="hide-menu">
								패키지 관리
							</span>
						</a>
					</li>
					
				<li class="sidebar-item dropdown">
					<a
						class="sidebar-link dropdown-toggle" data-bs-toggle="dropdown"
						data-bs-auto-close="true" aria-expanded="false"> 
						<span>
							<i class="ti ti-phone"></i>
						</span> 
						<span class="hide-menu">고객센터 관리</span>
					</a>
					<ul class="dropdown-menu sidebarnav">
						<li class="sidebar-item"><a class="sidebar-link" href="#">
								자주 묻는 질문</a></li>
						<li class="sidebar-item"><a class="sidebar-link" href="#">
								공지사항</a></li>
						<li class="sidebar-item"><a class="sidebar-link" href="#">
								1:1 문의</a></li>
						<li class="sidebar-item"><a class="sidebar-link" href="#">
								분실물 문의</a></li>
					</ul>
				</li>
					
				<li class="sidebar-item"><a class="sidebar-link"
					href="./ui-card.html" aria-expanded="false"> <span> <i
							class="ti ti-cards"></i>
					</span> <span class="hide-menu">Card</span>
				</a></li>
				
				<li class="sidebar-item"><a class="sidebar-link"
					href="./ui-forms.html" aria-expanded="false"> <span> <i
							class="ti ti-file-description"></i>
					</span> <span class="hide-menu">Forms</span>
				</a></li>
				<li class="sidebar-item"><a class="sidebar-link"
					href="./ui-typography.html" aria-expanded="false"> <span>
							<i class="ti ti-typography"></i>
					</span> <span class="hide-menu">Typography</span>
				</a></li>
				<li class="nav-small-cap"><i
					class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
					class="hide-menu">AUTH</span></li>
				<li class="sidebar-item"><a class="sidebar-link"
					href="./authentication-login.html" aria-expanded="false"> <span>
							<i class="ti ti-login"></i>
					</span> <span class="hide-menu">Login</span>
				</a></li>
				<li class="sidebar-item"><a class="sidebar-link"
					href="./authentication-register.html" aria-expanded="false"> <span>
							<i class="ti ti-user-plus"></i>
					</span> <span class="hide-menu">Register</span>
				</a></li>
				<li class="nav-small-cap"><i
					class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
					class="hide-menu">EXTRA</span></li>
				<li class="sidebar-item"><a class="sidebar-link"
					href="./icon-tabler.html" aria-expanded="false"> <span>
							<i class="ti ti-mood-happy"></i>
					</span> <span class="hide-menu">Icons</span>
				</a></li>
				<li class="sidebar-item"><a class="sidebar-link"
					href="./sample-page.html" aria-expanded="false"> <span>
							<i class="ti ti-aperture"></i>
					</span> <span class="hide-menu">Sample Page</span>
				</a></li>
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>