
<aside class="left-sidebar" th:fragment="sidebar"
	style="padding: 0px 24px">
	<!-- Sidebar scroll-->
	<div>
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav scroll-sidebar" data-simplebar="">
			<ul id="sidebarnav">

				<li class="nav-small-cap"><i
					class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
					class="nav-small-capclose-btn d-xl-none d-block sidebartoggler cursor-pointer text-end"
					id="sidebarCollapse" style="margin-top: 5px;"> <i
						class="ti ti-x fs-8"></i>
				</span> <span class="hide-menu">Home</span></li>
				<li class="sidebar-item"><a class="sidebar-link"
					th:href="@{/admin/home}" aria-expanded="false"> <span>
							<i class="ti ti-layout-dashboard"></i>
					</span> <span class="hide-menu">home</span>
				</a></li>
				<li class="nav-small-cap"><i
					class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
					class="hide-menu">MANAGEMENT</span></li>
				<li class="sidebar-item">
					<a class="sidebar-link" th:href="@{/admin/sales/management}" aria-expanded="false">
						<span>
							<i class="ti ti-businessplan"></i>
						</span>
						<span class="hide-menu">
							매출관리
						</span>
					</a>
				</li>
				<li class="sidebar-item dropdown"><a
					class="sidebar-link dropdown-toggle" data-bs-toggle="dropdown"
					data-bs-auto-close="true" aria-expanded="false"> <span>
							<i class="ti ti-article"></i>
					</span> <span class="hide-menu">극장관리</span>
					</a>
					<ul class="dropdown-menu sidebarnav">
						<li class="sidebar-item">
							<a class="sidebar-link" th:href="@{/admin/theater/list}" aria-expanded="false"> 
								<span>
										<i class="ti ti-article"></i>
								</span> 
								<span class="hide-menu">극장리스트</span>
							</a> 
							
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" th:href="@{/admin/theater/regist}" aria-expanded="false"> 
								<span>
										<i class="ti ti-article"></i>
								</span> 
								<span class="hide-menu">새 극장 등록</span>
							</a> 
							
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" th:href="@{/admin/theater/screen/regist}" aria-expanded="false"> 
								<span>
										<i class="ti ti-article"></i>
								</span> 
								<span class="hide-menu">상영관 등록</span>
							</a> 
							
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link" th:href="@{/admin/theater/screen/modify}" aria-expanded="false"> 
								<span>
										<i class="ti ti-article"></i>
								</span> 
								<span class="hide-menu">상영관 수정</span>
							</a> 
							
						</li>
					</ul>
				</li>
				<li class="sidebar-item dropdown">
					<a
						class="sidebar-link dropdown-toggle" data-bs-toggle="dropdown"
						data-bs-auto-close="true" aria-expanded="false"> 
						<span>
								<i class="ti ti-article"></i>
						</span> 
						<span class="hide-menu">상영시간표관리</span>
					</a>
					<ul class="dropdown-menu sidebarnav">
						<li class="sidebar-item">
							<a class="sidebar-link"
								th:href="@{/admin/theater/schedule/register}"
								aria-expanded="false"> 
								<span> <i class="ti ti-article"></i>
								</span> <span class="hide-menu">상영시간표등록</span>
							</a>
						</li>
						<li class="sidebar-item">
							<a class="sidebar-link"
								th:href="@{/admin/theater/schedule/delete}"
								aria-expanded="false"> 
								<span> <i class="ti ti-article"></i>
								</span> <span class="hide-menu">상영시간표삭제</span>
							</a>
						</li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" th:href="@{/admin/product/product-list}" aria-expanded="false">
						<span>
							<i class="bi bi-android2"></i>
						</span>
						<span class="hide-menu">
							상품관리
						</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" th:href="@{/admin/product/package-list}" aria-expanded="false">
						<span>
							<i class="bi bi-box-fill"></i>
						</span>
						<span class="hide-menu">
							패키지 관리
						</span>
					</a>
				</li>
				
				<li class="sidebar-item">
					<a class="sidebar-link" th:href="@{/admin/event/list}" aria-expanded="false">
						<span>
							<i class="ti ti-gift"></i>
						</span>
						<span class="hide-menu">
							이벤트 관리
						</span>
					</a>
				</li>	
				<li class="sidebar-item dropdown">
					<a
						class="sidebar-link dropdown-toggle" data-bs-toggle="dropdown"
						data-bs-auto-close="true" aria-expanded="false"> 
						<span>
							<i class="ti ti-phone"></i>
						</span> 
						<span class="hide-menu">고객센터 관리</span>
					</a>
					<ul class="dropdown-menu sidebarnav">
						<li class="sidebar-item"><a class="sidebar-link" th:href="@{/admin/support/faq}" aria-expanded="false">
								자주 묻는 질문</a></li>
						<li class="sidebar-item"><a class="sidebar-link" th:href="@{/admin/support/notice}" aria-expanded="false">
								공지사항</a></li>
						<li class="sidebar-item"><a class="sidebar-link" th:href="@{/admin/support/one}" aria-expanded="false">
								1:1 문의</a></li>
						<li class="sidebar-item"><a class="sidebar-link" th:href="@{/admin/support/lost}" aria-expanded="false">
								분실물 문의</a></li>
						<li class="sidebar-item" id="btn-open-chat"><a class="sidebar-link" th:href="@{/admin/support/chat}" id="btn-open-chat" aria-expanded="false">
								상담톡</a></li>
					</ul>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link" th:href="@{/admin/board/reportList}" aria-expanded="false">
						<span>
							<i class="bi bi-file-earmark-post"></i>
						</span>
						<span class="hide-menu">
							신고 게시물 관리
						</span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
	
	 <script type="text/javascript">
		$("#btn-open-chat").click(function(event) {
			event.preventDefault();
			let chatWindow = window.open("/admin/support/chat", "chat-window", "width=750,height=670,status=no,toolbar=no,left=1200,top=200");
			
			chatWindow.addEventListener('resize', function() {
				chatWindow.resizeTo(750, 750);
			})
			 
		});
	</script>

</aside>

