<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/support}">
<head th:fragment="extra-head-content">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/support/lost.js}"></script>
</head>
<div id="contents" layout:fragment="content">
    <h2 class="tit">분실물 문의</h2>
    <ul class="dot-list">
        <li>MGV에서 잃어버린 물건이 있다면 ‘분실물 문의/접수’를 통해 접수해주세요.</li>
        <li>접수하신 글은 비밀글로 등록되어 작성자와 관리자만 확인 가능합니다.</li>
    </ul>

        <div class="table-wrap mt30">
            <div class="board-view">
            <div class="tit-area">
                <p class="tit" th:text="${lost.title}"></p>
            </div>

            <div class="info">
                <p>
                    <span class="txt">문의사항</span>
                </p>
                <p>
                    <span class="txt font-gblue" style="font-weight: bold;"
                    			th:text="${lost.theater.name}"></span>
                </p>
                <p>
				    <span class="txt" th:if="${lost.user.email != null}" th:text="${lost.user.email}"></span>
				    <span class="txt" th:if="${lost.user.email == null}" th:text="${lost.guestEmail}"></span>
				</p>
                <p>
                    <span class="txt" th:text="${#dates.format(lost.updateDate, 'yyyy.MM.dd')}"></span>
                </p>
                <p>    
                    <span class="txt" th:text="${lost.answered == 'Y' ? '답변완료' : '미답변'}"></span>
                </p>
            </div>

            <div class="cont">
				<p th:text="${lost.content}">
					
               
                </p>
            </div>
        </div>
        </div>

        <div class="btn-group pt40" style="display: block;">
            <a href="/support/lost">
			  <button type="button" class="button large">목록</button>
			</a>
            <a href="/support/lost">
			  <button type="button" class="button large">삭제</button>
			</a>
        </div>
</div>