<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/support}">
<head th:fragment="extra-head-content">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/support/lost.js}"></script>
</head>
<div id="contents" layout:fragment="content">
    <h2 class="tit">분실물 문의</h2>
    <div class="clearfix">
        <ul class="dot-list">
            <li>
               	MGV에서 잃어버린 물건이 있다면 ‘분실물 문의/접수’를 통해 접수해주세요.
                <a href="/support/lost/form" class="button float-r" title="분실물 문의 등록하기">분실물 문의</a>
            </li>
            <li>접수하신 글은 비밀글로 등록되어 작성자와 관리자만 확인 가능합니다.</li>
        </ul>
    </div>

    <div class="board-list-util">
        <p class="result-count"><strong>전체 <span class="font-gblue" id="totalCnt" th:text="${result.pagination.totalRows}"></span>건</strong></p>
        <div class="ml07 bs3  d-flex justify-content-end" style="margin-bottom: -15px;">
         	<select id="location" title="지역선택" name="locationNo"
	                                class="form-select form-select-sm  ml06 form-control-sm mb-3"
	                                style="width: 100px; ">
	                            <option value="" selected disabled>지역선택</option>
         	</select>
          	<select id="theater" title="극장선택" name="theaterNo" 
	                        		class="form-select form-select-sm ml06 form-control-sm mb-3"
	                                style="width: 100px; ">
	      						<option value="" selected disabled>극장선택</option>
	     	</select>
        	<select id="answer" title="접수상태 선택" name="answered" 
	                        		class="form-select form-select-sm ml06 form-control-sm mb-3"
	                                style="width: 120px;">
	      						<option value="" selected disabled>접수상태 선택</option>
	      						<option value="N">미답변</option>
	      						<option value="Y">답변완료</option>
	        </select>
	        
	    <form action="list">    
	        <div class="board-search">
	           
	            <input type="hidden" name="answered">
		        <input type="hidden" name="page" value="1" />
	            <input type="search" name="keyword" title="검색어를 입력해 주세요." placeholder="검색어를 입력해 주세요." class="input-text" value="">
	            <button type="button" id="searchBtn" class="btn-search-input">검색</button>
	        </div>
        </form>
	    </div>
	    
    </div>

    <div class="table-wrap">
        <table class="board-list">
            <colgroup>
                <col style="width:72px;">
                <col style="width:133px;">
                <col>
                <col style="width:100px;">
                <col style="width:116px;">
            </colgroup>
            <thead>
            <tr>
                <th scope="col" style="text-align:center;">번호</th>
                <th scope="col" style="text-align:center;">극장</th>
                <th scope="col" style="text-align:center;">제목</th>
                <th scope="col" style="text-align:center;">접수상태</th>
                <th scope="col" style="text-align:center;">등록일</th>
            </tr>
            </thead>
            <tbody class="lostList">
	            <tr th:each="lost: ${result.lostList}">
		            <td th:text="${lost.no}"></td>
		            <td th:text="${lost.theater.name}"></td>
		            <td style="text-align:left;">
						<a class="text-black text-decoration-none"
			            	 th:href="@{/support/lost/detail(no=${lost.no})}"
			            	 th:text="${lost.title}">
		            	</a>
		            </td>
		            <!-- 
		            <th scope="row">
		            	<a href="" class="btn-layer-open moveBtn">분실물 문의</a>
		            </th>
		             -->
		            <td th:text="${lost.answered == 'Y' ? '답변완료' : '미답변'}"></td>
		            <td th:text="${#dates.format(lost.updateDate, 'yyyy.MM.dd')}"></td>
	            </tr>
            </tbody>
        </table>
    </div>

    <section id="layer-01" class="layer-popup" style="top: 31px; left: 304.5px; width: 500px; height:300px; opacity: 1; display: none;">
        <div class="wrap">
            <header class="layer-header">
                <h3 class="tit">
                    비밀번호 입력
                </h3>
            </header>

            <div class="layer-con">
                <p>글 작성시 입력한 비밀번호를 입력해주세요.</p>
                <div class="box-gray a-c">
                    <input type="password" id="password" title="비밀번호 입력" class="input-text w250px">
                    <p class="font-red mt10 mb0">비밀번호가 일치하지 않습니다. 다시 입력해주세요.</p>
                </div>
                <div class="btn-group">
                    <a href="#" class="button small lyclose" id="cancelBtn" title="취소">취소</a>
                    <a href="#" class="button small purple" id="chkBtn" title="확인">확인</a>
                </div>
            </div>

            <button type="button" class="btn-layer-close">레이어 닫기</button>
        </div>
    </section>
    
    <!-- pagination -->
    <div class="row mb-3">
      	<div class="col-12">
		    <nav>
				<ul class="pagination justify-content-center">
				    <li class="page-item" th:if="${result.pagination.currentBlock > 1}">
				        <a title="첫번째 페이지 보기"
				           th:href="@{list(page=1)}"
				           class="page-link page-number-link control first"
				           data-page="1"></a>
				    </li>
				    <li class="page-item" th:if="${result.pagination.currentBlock > 1}">
				        <a title="이전 10페이지 보기"
				           th:href="@{list(page=${(pagination.currentBlock -1)* 10})}"
				           class="page-link page-number-link control prev"
				           th:attr="data-page=${(pagination.currentBlock -1)* 10}"></a>
				    </li>
				    <li class="page-item" th:each="num : ${result.pagination.pageNumbers}">
                        <a th:href="@{list(page=${num})}" 
                           th:text="${num}"
                           th:classappend="${result.pagination.page == (num) ? 'active' : '' }"
                           class="page-link page-number-link"
                           th:attr="data-page=${num}">1</a>
                    </li>
                    <li class="page-item" th:if="${result.pagination.currentBlock < result.pagination.totalBlocks}">
				        <a title="이후 10페이지 보기"
				           th:href="@{list(page=${result.pagination.currentBlock * 10 + 1})}"
				           class="page-link page-number-link control next"
				           th:attr="data-page=${result.pagination.currentBlock * 10 + 1}"></a>
				    </li>
                 	<li class="page-item">
				        <a title="마지막 페이지 보기"
				           th:href="@{list(page=${result.pagination.totalPages})}"
				           class="page-link page-number-link control last"
				           th:attr="data-page=${result.pagination.totalPages}"></a>
				    </li>
				    
				</ul>
			</nav>
		</div>
	</div>
    <!--// pagination -->

</div>