<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin}">
<head th:fragment="extra-head-content">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/board/adminBoard.js}"></script>
</head>
<div id="contents" layout:fragment="content" style="margin-top: -40px;">
    <div class="card">
    	<div class="card-header">
    		<h3>신고된 게시물 관리</h3>
    	</div>
    	<div class="card-body">
    		<div class="search-box">
    			 <div class="d-flex justify-content-start float-start">
			        <div class="mt-2 pe-2">
			            <p class="result-count"><strong>전체 <span id="total-rows" class="font-gblue" th:text="${result.pagination.totalRows}">5</span>건</strong>
			            </p>
			        </div>
			
			        <div class="float-start ps-1">
			            <form id="form-board-search" method="get" th:action="@{reportList}"
			                  class="row row-cols-lg-auto g-3 align-items-center justify-content-end ">
							<input type="hidden" name="boards" th:value="${param.boards}"/>
							<input type="hidden" name="page" th:value="${param.page == null ? '1' : param.page}" />
			                <div class="col-12 ">
			                    <select class="form-select form-select-sm form-control-sm" name="opt" th:value="${param.opt}">
			                        <option value="" disabled> 검색옵션</option>
		                            <option class="opt-select"
		                            		th:value="title"
		                                    th:selected="${#strings.equals(param.opt, 'title')}">
		                                제목
		                            </option>
		                            <option class="opt-select"
		                            		th:value="content"
		                                    th:selected="${#strings.equals(param.opt, 'content')}"> 
		                                    내용
		                            </option>
		                            <option class="opt-select"
		                            		th:value="all"
		                                    th:selected="${#strings.equals(param.opt, 'all')}">
		                                제목/내용
		                            </option>
			                    </select>
			                </div>
			                <div class="col-12">
			                    <input type="text" class="form-control form-control-sm" name="keyword" th:value="${param.keyword}"/>
			                </div>
			                <div class="col-12">
			                    <button type="button" class="btn btn-outline-dark btn-sm" onclick="searchBoard()">검색</button>
			              </div>
			          </form>
			      </div>
			  	</div>
			  	<div>
			      <div class="d-flex justify-content-end mb-3 float-end ps-3 ">
			          	<select class="form-select me-1 form-select-sm" style="width: 100px" name="boards" th:value="${param.boards}" onchange="changeBoards()">
			                <option class="sort-select" th:value="all" th:selected="${#strings.equals(param.boards, 'all')}">전체</option>
			                <option class="sort-select" th:value="movie" th:selected="${#strings.equals(param.boards, 'movie')}">영화</option>
							<option class="sort-select" th:value="theater" th:selected="${#strings.equals(param.boards, 'theater')}">극장</option>
							<option class="sort-select" th:value="store" th:selected="${#strings.equals(param.boards, 'store')}">스토어</option>
							<option class="sort-select" th:value="party" th:selected="${#strings.equals(param.boards, 'party')}">파티</option>
			            </select>
			
			        </div>
			    </div>
    		</div>
    		<div class="table-box">
    			<table class="table" id="report-table">
    				<thead>
    					<tr>
    						<th>게시판</th>
    						<th>작성자</th>
    						<th>제목</th>
    						<th>날짜</th>
    						<th>확인</th>
    					</tr>
    				</thead>
    				<tbody id="board-tbody">
				    	<tr th:if="${#lists.isEmpty(result.list)}">
							<td colspan="5">게시글이 존재하지 않습니다.</td>
						</tr>	
    					<tr th:if="${not #lists.isEmpty(result.list)}" th:each="board:${result.list}" id="board-tr">
    						<input type="hidden" name="boardNo" th:value="${board.no}"/>
    						<input type="hidden" name="boardType" th:value="${board.type}"/>
	    					<td th:text="${board.type}">극장</td>
	    					<td th:text="${board.id}">aaaa</td>
	    					<td th:text="${board.name.length() > 27 ? board.name.substring(0, 27) + '...' : board.name}">아니 영화표를 왜 돈받고 팔아요?</td>
	    					<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd HH:mm')}">2023-08-22</td>
	    					<td>
	    						<button type="button" class="btn btn-sm btn-light" id="report-btn">확인</button>
	    					</td>
    					</tr>
    				</tbody>
    			</table>
    		</div>
    		<form id="board-detail" method="get" th:action="@{/boardDetail}">
    			<input type="hidden" name="no">
    			<input type="hidden" name="type">
    		</form>
    		
    		<nav th:if="${result.pagination.totalRows > 0}" id="board-nav">
				<ul class="pagination justify-content-center">
				    <li class="page-item" th:if="${result.pagination.currentBlock > 1}">
				        <a title="첫번째 페이지 보기"
				           th:href="@{reportList(page=1, boards=${param.boards}, opt=${param.opt}, keyword=${param.keyword})}"
				           class="page-link page-number-link control first"
				           ></a>
				    </li>
				    <li class="page-item" th:if="${result.pagination.currentBlock > 1}">
				        <a title="이전 5페이지 보기"
				           th:href="@{reportList(page=${(result.pagination.currentBlock - 1) * 5} ,boards=${param.boards}, opt=${param.opt}, keyword=${param.keyword})}"
				           class="page-link page-number-link control prev"
				           ></a>
				    </li>
				    <li class="page-item" th:each="num : ${result.pagination.pageNumbers}">
                        <a th:href="@{reportList(page=${num}, boards=${param.boards}, opt=${param.opt}, keyword=${param.keyword})}" 
                           th:text="${num}"
                           th:classappend="${result.pagination.page == (num) ? 'active' : '' }"
                           class="page-link page-number-link"
                           >1</a>
                    </li>
                    <li class="page-item" th:if="${result.pagination.currentBlock < result.pagination.totalBlocks}">
				        <a title="이후 5페이지 보기"
				           th:href="@{reportList(page=${result.pagination.currentBlock * 5 + 1}, boards=${param.boards}, opt=${param.opt}, keyword=${param.keyword})}"
				           class="page-link page-number-link control next"
				          ></a>
				    </li>
                 	<li class="page-item" th:if="${result.pagination.currentBlock < result.pagination.totalBlocks}">
				        <a title="마지막 페이지 보기"
				           th:href="@{reportList(page=${result.pagination.totalPages}, boards=${param.boards}, opt=${param.opt}, keyword=${param.keyword})}"
				           class="page-link page-number-link control last"
				           ></a>
				    </li>
				    
				</ul>
            </nav>
    	</div>
    </div>
    
    <!-- 게시물 확인 모달 -->
	<div class="modal fade" id="board-modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog" style="margin-top: 7%; margin-left: 31.5%;">
	        <div class="modal-content" style="height: 600px; width: 700px;  border-radius: 10px; ">
				<div class="modal-header row-11" style="background-color: rgb(192, 192, 192); position: relative; border-radius: 10px 10px 0 0;">
					<div class="col-11">
					    <h1 class="modal-title fs-5 fw-semibold" id="exampleModalLabel" style="color: white;">게시물 제목</h1>
					</div>
					<div class="col-1">
					    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position: absolute; top: 15px; right: 15px;"></button>
					</div>
				</div>
	            <div class="modal-body" style="max-height: 600px; overflow-y: auto; width: 700px;">
	                <div class="row mb-3 board-content pb-5" id="board-info">
	                    <p id="board-content">아니면 할인이라도 해주던가 아니 왜이렇게 비싸냐구요. 환불해주세요.</p>
	                </div>
	                <div class="report-box">
	                    <div class="report-reason d-flex justify-content-start row">
	                        <div class="pe-2 col-2 fw-semibold">기타</div>
	                        <div class="col-10">어이가 없네 당연히 영화표는 돈 주고 사야하는거 아닌지? 상식이 없네요 ;;;</div>
	                    </div>
	                    <hr class="mt-3">
	                </div>
	            </div>
	            <div class="modal-footer" >
	                <div class="btn-box d-flex justify-content-center">
	                    <button type="button" class="btn btn-sm btn-light me-1" id="delete-btn" style="color: red;">삭제</button>
	                    <button type="button" class="btn btn-sm btn-light" id="restore-btn" style="color: blue;">복구</button>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
   <!-- 게시물 확인 모달 -->
</div>
</html>
	    					