<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user}">
<head th:fragment="extra-head-content">
    <script th:src="@{/js/user/pagination.js}"></script>
    <script th:src="@{/js/user/booking.js}"></script>
</head>
<div id="contents" layout:fragment="content">
    <script th:src="@{/js/user/list.js}"></script>
    <h2 class="tit">예매/구매 내역</h2>
    <div class="tab-block">
        <ul>
            <li class="on"><a href="#booking-tab" class="btn booking">예매 </a></li>
            <li class=""><a href="#pay-tab" class="btn pay">구매 </a></li>
        </ul>
    </div>
    <div class="tab-cont-wrap">

        <!-- 예매내역 -->
        <div id="booking-tab" class="tab-cont on"><a href="" class="ir">예매 탭 화면 입니다.</a>

            <!-- 예매 조회 조건 -->
            <div class="board-list-search mt20">
                <table summary="예매 조회 조건">
                    <colgroup>
                        <col style="width:75px;">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">구분</th>
                        <td>
                            <input type="radio" id="radBokd01" name="radBokd" value="B" checked="checked">
                            <label for="radBokd01">예매내역 </label>
                            <input type="radio" id="radBokd02" name="radBokd" value="E">
                            <label for="radBokd02">지난내역 </label>

                            <div class="dropdown bootstrap-select disabled small bs3">
                                <select name="selYM" class="selectpicker small" disabled="disabled" tabindex="-98">

                                    <option value="202308">2023년 8월</option>
                                </select>
                                <button type="button" class="btn dropdown-toggle disabled btn-default" data-toggle="dropdown" role="button" tabindex="-1" aria-disabled="true" title="2023년 8월">
                                    <div class="filter-option">
                                        <div class="filter-option-inner">
                                            <div class="filter-option-inner-inner">2023년 8월</div>
                                        </div>
                                    </div>
                                    <span class="bs-caret"><span class="caret"></span></span></button>
                                <div class="dropdown-menu open" role="combobox">
                                    <div class="inner open" role="listbox" aria-expanded="false" tabindex="-1">
                                        <ul class="dropdown-menu inner "></ul>
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="button gray-line small ml05" name="search">
                                <i class="iconset ico-search-gray"></i> 조회
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 예매 조회 조건 End -->

            <!-- 예매 영화 목록 -->
            <div id="bookingList">

                <div id="bokdList">
                    <div class="board-list-util">
                        <p class="result-count pt00"><strong>총<b class="font-gblue" th:text="${totalRows != null ? totalRows : 0}"></b>건</strong></p>
                    </div>
                    <div class="history-reservation">

                        <div class="no-history-reservation mt20" th:if="${#lists.isEmpty(bookings)}">예매 내역이 없습니다.</div>

                        <ul>
                            <li th:id="${booking.no}" th:each="booking, i : ${bookings}">
                                <div class="round">
                                    <a th:href="@{/movie/detail?movieNo=booking.movieNo}" class="img">
                                        <img th:src="${booking.poster}" >
                                    </a>
                                    <table class="table">
                                        <colgroup>
                                            <col style="width:75px;">
                                            <col style="width:230px;">
                                            <col style="width:80px;">
                                            <col>
                                        </colgroup>
                                        <tbody>
                                        <tr>
                                            <th scope="row" class="a-r">예매번호</th>
                                            <td colspan="3"><em class="num" th:text="${booking.no}"></em></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="a-r">영화명</th>
                                            <td colspan="3">
                                                <p class="tit-movie">
                                                    <span th:text="${booking.title}"></span>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="a-r">극장/상영관</th>
                                            <td th:text="|${booking.theaterName} / ${booking.screenName}|"></td>
                                            <th scope="row">관람인원</th>
                                            <td th:text="|성인 ${booking.adultSeats} 명, 청소년 ${booking.underageSeats} 명, 총 ${booking.totalSeats} 명|"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="a-r">관람일시</th>
                                            <td th:text="${#dates.format(booking.bookingDate,'yyyy-MM-dd')}"></td>
                                            <th scope="row">관람좌석</th>
                                            <td th:text="${booking.bookedSeatsNos}"></td>
                                        </tr>
                                        <tr>
                                            <th scope="row" class="a-r">관람시간</th>
                                            <td th:text="${booking.startTime} +  '~' + ${booking.endTime} "></td>
                                            <th scope="row" class="a-r">결제일시</th>
                                            <td th:text="${#dates.format(booking.createDate,'yyyy-MM-dd')}">
                                                <a href="#" class="button gray-line x-small" title="결제정보">결제정보</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn-group" style="display: block;">
                                        <button class="button gray booking-cancel" th:booking-no="${booking.no}" title="예매취소">예매취소</button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <h3 class="tit mt70">예매취소내역</h3>

            <ul class="dot-list">
                <li>상영일 기준 7일간 취소내역을 확인하실 수 있습니다.</li>
            </ul>

            <!-- 취소한 예매 영화 목록 -->
            <div class="table-wrap mt10">
                <table class="board-list" summary="취소일시, 영화명, 극장, 상영일시, 취소금액 항목을 가진 취소내역 목록 표">
                    <caption>취소일시, 영화명, 극장, 상영일시, 취소금액 항목을 가진 취소내역 목록 표</caption>
                    <colgroup>
                        <col style="width:160px;">
                        <col>
                        <col style="width:130px;">
                        <col style="width:188px;">
                        <col style="width:105px;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">취소일시</th>
                        <th scope="col">영화명</th>
                        <th scope="col">극장</th>
                        <th scope="col">상영일시</th>
                        <th scope="col">취소금액</th>
                    </tr>
                    </thead>
                    <tbody id="bokCancelTableBody">

                    </tbody>
                </table>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- 예매 안내상황  -->
            <div class="box-pulldown mt30">
                <div class="tit">
                    <button type="button" class="btn-toggle">이용안내<i class="iconset ico-arr-toggle-down"></i></button>
                </div>
                <div class="cont">
                    <strong>[예매 안내]</strong>
                    <ul class="dot-list mb30">
                        <li>만 4세(48개월) 이상부터는 영화티켓을 반드시 구매하셔야 입장 가능합니다.</li>
                        <li>예매 변경은 불가능하며, 취소 후 재 예매를 하셔야만 합니다.</li>
                        <li>메가박스 모바일앱을 이용할 경우 티켓출력없이 모바일티켓을 통해 바로 입장하실 수 있습니다.</li>
                    </ul>

                    <strong>[티켓교환 안내]</strong>
                    <ul class="dot-list mb30">
                        <li>극장의 무인발권기(KIOSK)를 통해 예매번호 또는 고객확인번호(생년월일+휴대폰번호)를 입력하여 편리하게 티켓을 발권하실 수 있습니다.</li>
                        <li>무인발권기 이용이 어려우신경우, 티켓교환권을 출력하여 매표소에 방문하시면 티켓을 발권하실 수 있습니다.</li>
                        <li>(티켓교환권 출력이 어려운경우 예매번호와 신분증을 지참하여 매표소에 방문하시면 티켓을 발권하실 수 있습니다)</li>
                    </ul>

                    <strong>[예매취소 안내]</strong>
                    <ul class="dot-list">
                        <li>온라인(홈페이지/모바일) 예매 취소는 상영시간 20분전까지 입니다.</li>
                        <li>위탁 예매 사이트 이용 시 취소 및 환불 규정은 해당 사이트 규정을 따릅니다.</li>
                        <li>LIVE 공연 콘텐트는 취소 기준은 아래와 같습니다.
                            <ul class="dash-list">
                                <li>관람 4일전 : 취소 가능</li>
                                <li>관람 3일 ~ 1일전 : 취소 수수료 부담 후 취소 가능</li>
                                <li>관람 당일 : 취소 및 환불 불가</li>
                            </ul>
                        </li>
                        <li>공연 관람시 시작 시간 이후에는 입장이 제한 됩니다.</li>
                        <li>발권된 티켓은 상영시간 전까지 현장 방문 시에만 취소가 가능합니다.</li>
                    </ul>
                </div>
            </div>
            <!-- 예매 안내상황 End -->

            <!-- 결제정보 모달 -->
            <div id="layer_payment_history" class="modal-layer" style="z-index: 501;">
                <div class="wrap" id="myBokdPayInfo" style="width: 600px; height: 600px; margin-left: -300px; margin-top: -300px;">
                    <header class="layer-header">
                        <h3 class="tit">결제상세내역</h3>
                    </header>
                    <div class="layer-con" style="height: 488px;">
                        <!--// 스토어 선물 내역인 경우 -->
                        <h4 class="tit">결제정보</h4>
                        <div class="table-wrap">
                            <table class="data-table">
                                <caption>상품금액, 할인금액, 결제금액, 결제일 항목을 가진 결제정보 표</caption>
                                <colgroup>
                                    <col style="width:140px;">
                                    <col>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row" class="bg">상품금액</th>
                                    <td>15,000원</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="bg">할인금액</th>
                                    <td> -
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="bg">최종 결제금액</th>
                                    <td id="myBokdPayInfo_cardNo">
                                      <span class="font-gblue">15,000원 (토스페이(머니)) </span>/ 일시불
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row" class="bg">결제일시</th>
                                    <td>2023.09.05 14:29:30</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="btn-group-fixed">
                        <button type="button" class="button close-layer">닫기</button>
                    </div>
                    <button type="button" class="btn-modal-close">레이어 닫기</button>
                </div>
            </div>
            <!-- 결제정보 모달 end -->
        </div>

        <!-- 구매내역 영역 -->
        <div id="pay-tab" class="tab-cont"><a href="" class="ir">구매 탭 화면 입니다.</a>

            <!-- 구매 조회 조건 -->
            <div class="board-list-search mt20">
                <table>
                    <colgroup>
                        <col style="width:75px;">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">구분</th>
                        <td>
                            <input type="radio" name="state" id="radPurc01" value="" checked>
                            <label for="radPurc01">전체</label>
                            <input type="radio" name="state" id="radPurc02" value="결제완료">
                            <label for="radPurc02">구매내역</label>
                            <input type="radio" name="state" id="radPurc03" value="결제취소">
                            <label for="radPurc03">취소내역</label>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">조회기간</th>
                        <td>
                            <div class="btn-period">
                                <button type="button" class="btn" value="D7">1주일</button>
                                <button type="button" class="btn on" value="M1">1개월</button>
                                <button type="button" class="btn" value="M3">3개월</button>
                                <button type="button" class="btn" value="M6">6개월</button>
                            </div>
                            <div class="date">
                                <input type="text" title="조회기간 시작 날짜 입력" name="createDate" placeholder="yyyy.mm.dd" class="date-calendar v2 datepicker" id="startDate">
                                <span>~</span>
                                <input type="text" title="조회기간 마지막 날짜 입력" name="createDate" placeholder="yyyy.mm.dd" class="date-calendar v2 datepicker" id="endDate">
                                <button type="button" class="button gray-line" id="btnCheck">
                                    <i class="iconset ico-search-gray"></i> 조회
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!-- 구매 조회 조건 End -->

            <!-- 구매 목록  -->
            <div class="board-list-util mb10">
                <p class="result-count pt00">
                    <strong>전체 <span class="font-gblue" id="totalCnt"></span>건</strong>
                </p>
            </div>

            <div class="table-wrap">
                <table class="board-list">
                    <caption>결제일시, 상품명, 결제금액, 상태 항목을 가진 결제내역 목록 표</caption>
                    <colgroup>
                        <col style="width:160px;">
                        <col>
                        <col style="width:120px;">
                        <col style="width:120px;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">결제일</th>
                        <th scope="col">상품명</th>
                        <th scope="col">결제금액</th>
                        <th scope="col">상태</th>
                    </tr>
                    </thead>
                    <tbody id="orderTableBody">

                    </tbody>
                </table>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">

                        </ul>
                    </nav>
                </div>
            </div>

            <!-- 구매 안내상황  -->
            <div class="box-pulldown mt30">
                <div class="tit">
                    <button type="button" class="btn-toggle">이용안내<i class="iconset ico-arr-toggle-down"></i></button>
                </div>
                <div class="cont">
                    <strong>[스토어 구매/취소 안내]</strong>
                    <ul class="dot-list mb30">
                        <li>스토어 상품은 구매 후 취소가능기간 내 100% 환불이 가능하며, 부분환불은 불가 합니다.</li>
                        <li>(ex. 3개의 쿠폰을 한 번에 구매하신 경우, 3개 모두 취소만 가능하며 그 중 사용하신 쿠폰이 있는 경우 환불이 불가합니다)</li>
                        <li>스토어 교환권은 MMS로 최대 1회 재전송 하실 수 있습니다.</li>
                    </ul>

                    <strong>[모바일오더 구매/취소 안내]</strong>
                    <ul class="dot-list mb30">
                        <li class="font-red">ⓘ 모바일오더는 모바일앱을 통해 이용하실 수 있습니다.</li>
                        <li>모바일오더는 구매 후 즉시 조리되는 상품으로 취소가 불가 합니다.</li>
                        <li>극장 매점에서 주문번호가 호출되면 상품을 수령하실 수 있습니다.</li>
                        <li>극장 상황에 따라 상품준비시간이 다소 길어질 수 있습니다.</li>
                    </ul>
                </div>
            </div>
            <!-- 구매 안내상황  End -->

        </div>
    </div>
</div>
</html>