<div th:fragment="navbar-fragment" class="card">
	<div class="card-header text-center py-4" style="font-size:17px; background-color:#331c6d; color:white">
   	고객센터
    </div>
	<div class="list-group" style="font-size:14px;">
		<a href="" class="list-group-item list-group-item-action">고객센터 홈</a>
		<a href="" class="list-group-item list-group-item-action">자주 묻는 질문</a>
		<a href="" class="list-group-item list-group-item-action">공지사항</a>
		<a href="" class="list-group-item list-group-item-action">1:1 문의</a>
		<a href="" class="list-group-item list-group-item-action">단체관람 및 대관문의 문의</a>
		<a href="" class="list-group-item list-group-item-action">분실물 문의</a>
		<a href="" class="list-group-item list-group-item-action">비회원 문의내역</a>
		<a href="" class="list-group-item list-group-item-action">이용약관</a>
		<a href="" class="list-group-item list-group-item-action">위치기반서비스이용약관</a>
		<a href="" class="list-group-item list-group-item-action">개인정보처리방침</a>
		<a href="" class="list-group-item list-group-item-action">스크린배정수에관한기준</a>
		<a class="list-group-item list-group-item-action disabled" style="color:gray;"><br/>
			MGV 고객센터 <br/>
			Dream center <br/>
			<hr width="15">
			<img th:src="@{/images/clock.png}" width="13" height="13"> 10:00~19:00<br/><br/>  
	  </a> 
	</div>
</div>