<!DOCTYPE html>
<html layout:decorate="~{ layout/admin }"
	xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="extra-head-content">
<title>관리자페이지</title>
<style type="text/css">
.btn-group-lg button {
	min-width: 100px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div style="width: 80%">
				<!--  Row 1 -->
				<div class="row mb-3">
					<div class="col-12" id="collapseparent">

						<div class="btn-group btn-group-lg" role="group"
							aria-label="Basic outlined example" style="padding-left: 20vh;">
							<button type="button" class="btn btn-outline-primary"
								data-bs-toggle="collapse" data-bs-target="#collapseExample1"
								aria-expanded="false" aria-controls="collapseExample1">서울</button>

							<button type="button" class="btn btn-outline-primary"
								data-bs-toggle="collapse" data-bs-target="#collapseExample2"
								aria-expanded="false" aria-controls="collapseExample2">경기</button>

							<button type="button" class="btn btn-outline-primary"
								data-bs-toggle="collapse" data-bs-target="#collapseExample3"
								aria-expanded="false" aria-controls="collapseExample3">인천</button>

							<button type="button" class="btn btn-outline-primary"
								data-bs-toggle="collapse" data-bs-target="#collapseExample4"
								aria-expanded="false" aria-controls="collapseExample4">대전/충천/세종</button>

							<button type="button" class="btn btn-outline-primary"
								data-bs-toggle="collapse" data-bs-target="#collapseExample5"
								aria-expanded="false" aria-controls="collapseExample5">부산/대구/경상</button>

							<button type="button" class="btn btn-outline-primary"
								data-bs-toggle="collapse" data-bs-target="#collapseExample6"
								aria-expanded="false" aria-controls="collapseExample6">광주/전라/제주</button>

							<button type="button" class="btn btn-outline-primary"
								data-bs-toggle="collapse" data-bs-target="#collapseExample7"
								aria-expanded="false" aria-controls="collapseExample7">강원</button>
						</div>
						<div class="collapse" id="collapseExample1"
							data-bs-parent="#collapseparent">
							<div class="card card-body">
								<button type="button" class="btn btn-outline-primary" style="width: 100px;"
								>강남</button>
							</div>
						</div>
						<div class="collapse" id="collapseExample2"
							data-bs-parent="#collapseparent">
							<div class="card card-body">Some placeholder content for
								the collapse component. This panel is hidden by default but
								revealed when the user activates the relevant trigger.</div>
						</div>
						<div class="collapse" id="collapseExample3"
							data-bs-parent="#collapseparent">
							<div class="card card-body">Some placeholder content for
								the collapse component. This panel is hidden by default but
								revealed when the user activates the relevant trigger.</div>
						</div>
						<div class="collapse" id="collapseExample4"
							data-bs-parent="#collapseparent">
							<div class="card card-body">Some placeholder content for
								the collapse component. This panel is hidden by default but
								revealed when the user activates the relevant trigger.</div>
						</div>
						<div class="collapse" id="collapseExample5"
							data-bs-parent="#collapseparent">
							<div class="card card-body">Some placeholder content for
								the collapse component. This panel is hidden by default but
								revealed when the user activates the relevant trigger.</div>
						</div>
						<div class="collapse" id="collapseExample6"
							data-bs-parent="#collapseparent">
							<div class="card card-body">Some placeholder content for
								the collapse component. This panel is hidden by default but
								revealed when the user activates the relevant trigger.</div>
						</div>
						<div class="collapse" id="collapseExample7"
							data-bs-parent="#collapseparent">
							<div class="card card-body">
								<div class="theater-list">
									<ul>
										<li data-brch-no="2001"><a title="남춘천 상세보기">남춘천</a></li>
										<li data-brch-no="2171"><a title="속초 상세보기">속초</a></li>
										<li data-brch-no="2201"><a title="원주 상세보기">원주</a></li>
										<li data-brch-no="2202"><a title="원주센트럴 상세보기">원주센트럴</a></li>
										<li data-brch-no="0037"><a title="춘천석사 상세보기">춘천석사</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  Row 2 -->
				<div class="row mb-3">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title fw-semibold mb-4">극장 정보</h5>
								<table class="table">
									<thead>
										<tr>
											<th>지역</th>
											<th>극장이름</th>
										</tr>
										<tr>
											<th>주소</th>
											<th>전화번호</th>
										</tr>
										<tr>
											<th>교통안내</th>
										</tr>
										<tr>
											<th>시설안내</th>
										</tr>
										<tr>
											<th>소개,설명</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="text-center" colspan="5"><strong>지역과 극장을 선택해주세요</strong></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>