<!DOCTYPE html>
<html layout:decorate="~{ layout/admin }"
	xmlns:layout="http://www.w3.org/1999/xhtml">
<head th:fragment="extra-head-content">
<script type="text/javascript" th:src="@{/js/admin/theater/ui.js}"></script>
<title>관리자페이지</title>
<style type="text/css">
.btn-group-lg button {
	min-width: 100px;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div class="container-fluid">
			<div style="width: 80%">
				<!--  Row 1 -->
				<div class="row mb-3">
					<div class="col-12" id="collapseparent">

						<div class="btn-group btn-group-lg" role="group"
							aria-label="Basic outlined example" style="padding-left: 20vh;">
							<button type="button" class="btn btn-outline-primary" data-location="1"
								data-bs-toggle="collapse" data-bs-target="#theaters-1"
								aria-expanded="false" aria-controls="theaters-1">서울</button>

							<button type="button" class="btn btn-outline-primary" data-location="2"
								data-bs-toggle="collapse" data-bs-target="#theaters-2"
								aria-expanded="false" aria-controls="theaters-2">경기</button>

							<button type="button" class="btn btn-outline-primary" data-location="3"
								data-bs-toggle="collapse" data-bs-target="#theaters-3"
								aria-expanded="false" aria-controls="theaters-3">인천</button>

							<button type="button" class="btn btn-outline-primary" data-location="4"
								data-bs-toggle="collapse" data-bs-target="#theaters-4"
								aria-expanded="false" aria-controls="theaters-4">대전/충천/세종</button>

							<button type="button" class="btn btn-outline-primary" data-location="5"
								data-bs-toggle="collapse" data-bs-target="#theaters-5"
								aria-expanded="false" aria-controls="theaters-5">부산/대구/경상</button>

							<button type="button" class="btn btn-outline-primary" data-location="6"
								data-bs-toggle="collapse" data-bs-target="#theaters-6"
								aria-expanded="false" aria-controls="theaters-6">광주/전라/제주</button>

							<button type="button" class="btn btn-outline-primary" data-location="7"
								data-bs-toggle="collapse" data-bs-target="#theaters-7"
								aria-expanded="false" aria-controls="theaters-7">강원</button>
						</div>
						<div class="collapse" id="theaters-1"
							data-bs-parent="#collapseparent">
							<div class="card card-body">
								<div class="col-12">
									<button type="button" class="btn btn-outline-primary" data-theater-no="1"
										style="width: 100px;">강남</button>
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
								</div>
							</div>
						</div>
						<div class="collapse" id="theaters-2"
							data-bs-parent="#collapseparent">
							<div class="card card-body">
								<div class="col-12">
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
								</div>
							</div>

						</div>
						<div class="collapse" id="theaters-3"
							data-bs-parent="#collapseparent">
							<div class="card card-body">
								<div class="col-12">
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
								</div>
							</div>
						</div>
						<div class="collapse" id="theaters-4"
							data-bs-parent="#collapseparent">
							<div class="card card-body">
								<div class="col-12">
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
								</div>
							</div>
						</div>
						<div class="collapse" id="theaters-5"
							data-bs-parent="#collapseparent">
							<div class="card card-body">
								<div class="col-12">
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
								</div>
							</div>
						</div>
						<div class="collapse" id="theaters-6"
							data-bs-parent="#collapseparent">
							<div class="card card-body">
								<div class="col-12">
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
								</div>
							</div>
						</div>
						<div class="collapse" id="theaters-7"
							data-bs-parent="#collapseparent">
							<div class="card card-body">
								<div class="col-12">
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
									<button type="button" class="btn btn-outline-primary"
										style="width: 100px;">강남</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  Row 2 -->
				<div class="row mb-3" id="board">
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<h5 class="card-title fw-semibold mb-4">극장 정보</h5>
								<table class="table">
									<tbody class="d-none" id="abled">
										<tr>
											<th>지역</th><td></td>
											<th>극장이름</th><td></td>
										</tr>
										<tr>
											<th>주소</th><td></td>
											<th>전화번호</th><td></td>
										</tr>
										<tr>
											<th colspan="5">교통안내</th>
										</tr>
										<tr>
											<th colspan="5">시설안내</th>
										</tr>
										<tr>
											<th colspan="5">소개,설명</th>
										</tr>
									</tbody>
									<tbody id="disabled">
										<tr>
											<td class="text-center" colspan="5"><strong>지역과
													극장을 선택해주세요</strong></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>