<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom mb-3">
	<div class="container">
		<div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
			<div>
				<ul class="navbar-nav " style="font-size: 12px;">
			    	<li>
				       <a href="" class="nav-link" title="이벤트">이벤트</a>
			    	</li>
			    	<li>
				       <a href="" class="nav-link" title="멤버십">멤버십</a>
			    	</li>
			    	<li>
				       <a href="" class="nav-link" title="고객센터">고객센터</a>
			    	</li>
		    	</ul>
		    	<ul class="navbar-nav me-auto">
	        		<li class="nav-item">
		      			<a href="" class="nav-link" title="사이트맵">
							<img th:src="@/images/home/sitemap-white.png" style="width: 25px; height: 25px;"/></a>
	        		</li>
	        		<li class="nav-item">
			        	<a href="" class="nav-link" title="검색">
							<img th:src="@/images/home/search-white.png" style="width: 20px; height: 20px;"/></a>
	        		</li>
	        		<li class="nav-item ms-6"><a class="nav-link" href="">무비</a></li>    	
		        	<li class="nav-item"><a class="nav-link" href="">예매</a></li>    	
		        	<li class="nav-item"><a class="nav-link" href="">극장</a></li> 
	       		</ul>
			</div>
			<div>
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a id="" class="navbar-brand" th:href="/view/index">
					       <img th:src="@/images/mgv.png" alt="mgv" width="100" height="60">
					    </a>
					</li>
				</ul>
			</div>
			<div>
				<div>
					<ul class="navbar-nav me-auto mb-2 mb-lg-0"  style="font-size: 12px;">
	    				<!-- 로그인 전 -->
			     		<li class="nav-item">
			        	 	<a class="nav-link" href="#">로그인</a>
			     		</li>
			     		<li class="nav-item">
			    	    	<a class="nav-link" href="#">회원가입</a>
			     		</li>
			     		
	    				<!-- 로그인 후 -->
			     		<li class="nav-item">
				         	<a class="nav-link" href="#">로그아웃</a>
			     		</li>
			     		<li class="nav-item">
				         	<a class="nav-link" href="#">알림</a>
			     		</li>
			     		
			     		<li class="nav-item">
				        	<a class="nav-link" href="#">빠른예매</a>
			     		</li>
			      	</ul>
				</div>
				<div>
			      	<ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        		<li class="nav-item"><a class="nav-link" href="">스토어</a></li>
			        	<li class="nav-item dropdown">
				            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				              게시판
				            </a>
				            <ul class="dropdown-menu ">
				              <li><a class="dropdown-item" href="">극장</a></li>
				              <li><a class="dropdown-item" href="">영화</a></li>
				              <li><a class="dropdown-item" href="">스토어</a></li>
			            	</ul>
			            </li>
			        	<li class="nav-item"><a class="nav-link" href="">혜택</a></li>   
		        		<li class="nav-item">
							<a href="" class="nav-link" title="상영시간표">
								<img th:src="@/images/home/calendar-white.png" style="width: 20px; height: 20px;"></a> 
		        		</li>
		        		<li class="nav-item">
							<a href="" class="nav-link" title="나의 MGV">
								<img th:src="@/images/home/user-white.png" style="width: 20px; height: 20px;"/></a> 
		        		</li>
		       		</ul>
				</div>
			</div>
		</div>
	</div>
</nav>
</header>
</body>
</html>