<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="config">
  <link rel="stylesheet" th:href="@{/css/login.css}">
  <script th:src="@{/js/login.js}"></script>
</head>

<body>
<!--  Body Wrapper -->
<div th:fragment="tap-modal" id="tap-modal" class="modal tab-modal" style="z-index: 1000">
  <div class="tab-menu">
    <ul class="nav nav-tabs">
      <li class="nav-item active">
        <a class="nav-link" data-bs-toggle="tab" href="#tab1" id="#tab1">회원 로그인</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#tab2" id="#tab2">비회원 로그인</a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <!--본문-->
    <div class="tab-pane fade active" id="tab1"></div>
    <div class="tab-pane fade" id="tab2"></div>
  </div>


  <div class="modal-container">
    <div class="modal-left">
      <h1 class="modal-title">로그인</h1>
      <p class="modal-desc">마음껏 구경하세요!</p>
      <div class="input-block">
        <label for="id" class="input-label">ID</label>
        <input type="text" name="username" id="id" placeholder="id를 입력해주세요.">
      </div>
      <div class="input-block">
        <label for="password" class="input-label">Password</label>
        <input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요.">
      </div>
      <div class="modal-buttons">
        <a href="" class="">비밀번호를 잊어버렸나요?</a>
        <button class="input-button">Login</button>
      </div>
      <p class="sign-up">회원이 아니신가요? <a href="#">회원가입</a></p>
    </div>
    <div class="modal-right">
      <img th:src="@{/images/login-bg.jpg}" alt="">
    </div>
    <button class="icon-button close-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
        <path d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z"></path>
      </svg>
    </button>
  </div>
</div>

</body>

</html>