<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="config">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <script th:src="@{/js/login.js}"></script>
    <style>
        #loginType .btn-type:not(.active) {
            border-bottom: 1px solid;
        }

        #loginType .btn-type.active {
            border-top: 1px solid;
            border-right: 1px solid;
            border-left: 1px solid;
            border-top-right-radius: 5px;
            border-top-left-radius: 5px;
        }
    </style>
</head>

<body>
<!--  Body Wrapper -->
<div th:fragment="modal" id="login-modal" class="modal login-modal" style="z-index: 1000">
    <div class="modal-container">
        <div class="modal-left">
            <div id="loginType" style="cursor: pointer;font-weight: bold;font-size: 17px;text-align: center;display: flex;">
                <div class="btn-type user active" style="width: 100%;
                ">회원
                </div>
                <div class="btn-type anonymous" style="width: 100%;
                ">비회원
                </div>
            </div>
            <h1 class="modal-title">로그인</h1>
            <div class="user-login-form">
                <p class="modal-desc">마음껏 구경하세요!</p>
                <div class="input-block">
                    <label for="id" class="input-label">ID</label>
                    <input type="text" name="username" id="id" placeholder="id를 입력해주세요." autocomplete="off">
                </div>
                <div class="input-block">
                    <label for="password" class="input-label">Password</label>
                    <input type="password" name="password" id="password" placeholder="비밀번호를 입력해주세요.">
                </div>
                <div class="modal-buttons">
                    <a href="" class="">비밀번호 찾기</a>
                    <button class="input-button">Login</button>
                </div>
                <p class="sign-up">회원이 아니신가요? <a href="#">회원가입</a></p>
            </div>
            <div class="anonymous-login-form" style="display: none">
                <div class="login-member col-2">
                    <!-- col-wrap -->
                    <div class="col-wrap">
                        <div class="col left">
                            <div class="no-member-login-table">
                                <table summary="이름, 생년월일, 휴대폰번호, 인증번호, 비밀번호, 비밀번호 확인 항목을 가진 비회원 로그인 입력 표">
                                    <caption>이름, 생년월일, 휴대폰번호, 인증번호, 비밀번호, 비밀번호 확인 항목을 가진 비회원 로그인 입력 표<!--이름, 생년월일, 휴대폰번호, 인증번호, 비밀번호, 비밀번호 확인 항목을 가진 비회원 로그인 입력 표--></caption>
                                    <colgroup>
                                        <col style="width:100px;">
                                        <col>
                                    </colgroup>
                                    <tbody>
                                    <tr>
                                        <th scope="row">
                                            <label for="ibxNonMbNm">이름<!--이름--></label>
                                        </th>
                                        <td>
                                            <input maxlength="20" id="ibxNonMbNm" type="text" placeholder="이름" class="input-text"><!--이름-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="ibxNonMbByymmdd">생년월일<!--생년월일--></label>
                                        </th>
                                        <td>
                                            <input maxlength="6" id="ibxNonMbByymmdd" type="text" placeholder="생년월일 앞6자리" class="input-text"><!--주민번호 앞 6자리-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="ibxNonMbTelno">휴대폰번호<!--휴대폰번호--></label>
                                        </th>
                                        <td>
                                            <div class="hp-input">
                                                <input maxlength="11" id="ibxNonMbTelno" type="text" placeholder="- 없이 입력" class="input-text"><!--- 없이 입력-->
                                                <button id="nonMbCertNoSend" type="button" class="button gray" disabled="disabled">인증요청<!--인증요청--></button>
                                            </div>
                                            <div id="mblpInput-error-text" class="alert"></div>
                                        </td>
                                    </tr>
                                    <tr id="nonMbCertRow">
                                        <th scope="row">
                                            <label for="mblpCharCertNo">인증번호<!--인증번호--></label>
                                        </th>
                                        <td>
                                            <div class="chk-num">
                                                <div class="line">
                                                    <input maxlength="4" id="mblpCharCertNo" type="text" class="input-text">

                                                    <div class="time-limit" id="timer">
                                                        3:00
                                                    </div>
                                                </div>

                                                <button id="btnMblpCharCert" type="button" class="button purple" disabled="disabled">확인<!--확인--></button>
                                            </div>
                                            <div id="nonMbCert-error-text" class="alert"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="ibxNonMbPwd">비밀번호</label><!--비밀번호-->
                                        </th>
                                        <td>
                                            <input maxlength="4" id="ibxNonMbPwd" type="password" placeholder="비밀번호(숫자 4자리)" class="input-text"><!--비밀번호(숫자 4자리)-->
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">
                                            <label for="ibxNonMbPwdConfirm">비밀번호<!--비밀번호--> 확인<!--확인--></label>
                                        </th>
                                        <td>
                                            <input maxlength="4" id="ibxNonMbPwdConfirm" type="password" placeholder="비밀번호(숫자 4자리) 확인" class="input-text"><!--비밀번호(숫자 4자리) 확인-->
                                            <div id="nonMbPwdErrText" class="alert"></div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!--// col-wrap -->

                    <div class="btn-group">
                        <button id="btnChkNonMbLogin" type="button" class="button purple" disabled="disabled">확인</button>
                        <a id="aNonMbLogin" href="#layer_no_member_chk" class="button purple btn-modal-open" w-data="600" h-data="320" style="display: none;"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-right">
            <img th:src="@{/images/user/login-bg.jpg}" alt="">
        </div>
        <button class="icon-button close-button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
                <path d="M 25 3 C 12.86158 3 3 12.86158 3 25 C 3 37.13842 12.86158 47 25 47 C 37.13842 47 47 37.13842 47 25 C 47 12.86158 37.13842 3 25 3 z M 25 5 C 36.05754 5 45 13.94246 45 25 C 45 36.05754 36.05754 45 25 45 C 13.94246 45 5 36.05754 5 25 C 5 13.94246 13.94246 5 25 5 z M 16.990234 15.990234 A 1.0001 1.0001 0 0 0 16.292969 17.707031 L 23.585938 25 L 16.292969 32.292969 A 1.0001 1.0001 0 1 0 17.707031 33.707031 L 25 26.414062 L 32.292969 33.707031 A 1.0001 1.0001 0 1 0 33.707031 32.292969 L 26.414062 25 L 33.707031 17.707031 A 1.0001 1.0001 0 0 0 32.980469 15.990234 A 1.0001 1.0001 0 0 0 32.292969 16.292969 L 25 23.585938 L 17.707031 16.292969 A 1.0001 1.0001 0 0 0 16.990234 15.990234 z"></path>
            </svg>
        </button>
    </div>
</div>
</body>

</html>