<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin}">
<head th:fragment="extra-head-content">
	<link th:href=@{/css/support/comment.css} rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script type="text/javascript" th:src="@{/js/support/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/admin/support/adminOne.js}"></script>
	<script type="text/javascript" th:src="@{/js/admin/support/OneComment.js}"></script>
</head>
<div id="contents" layout:fragment="content" style="margin-top: -40px;">
    <h2 class="tit">1:1 문의</h2>

       <div class="table-wrap mt30">
            <div class="board-view">
	            <div class="tit-area">
	                <p class="tit" th:text="${one.title}"></p>
	            </div>
	
	            <div class="info">
	                <p>
	                    <span class="tit">문의지점</span>
	                    <span class="txt" th:text="${one.theater == null ? '서울 - 센터' : one.location.name +' - '+one.theater.name}"></span>
	                </p>
	                <p>
	                    <span class="tit">문의유형</span>
	                    <span class="txt" th:text="${one.category.name}"></span>
	                </p>
	                <p>
					   <span class="tit">답변상태</span>
					   <span class="txt" th:text="${one.answered == 'Y' ? '답변완료' : '미답변'}"></span>
					</p>
	                <p>    
	                    <span class="txt" th:text="${#dates.format(one.createDate, 'yyyy.MM.dd')}"></span>
	                </p>
	            </div>
	            
	            <div class="txt mb-2" th:if="${!#lists.isEmpty(oneFiles)}">
	            	<p style="margin-bottom:5px;"> 
	                    <span class="txt"><strong>첨부파일</strong></span>
	                </p>
	                <a th:each="oneFile : ${oneFiles}" 
	                	th:href="@{/support/one/myinquery/download(no=${oneFile.no})}" 
	                	th:text="${oneFile.originalName}"
	                	class="me-3 text-primary"></a>
	            </div>
	
	            <div class="cont">
					<p th:text="${one.content}"></p>
	            </div>
	            
                <hr class="mt-0 pt-0"/>
		        <!-- 댓글 등록창 -->   
			    <div class="row pb-2 pt-1">
			        <div class="col-12 CommentWriter">
			        <div class="comment-inbox border p-2 rounded" >
			            <form id="form-comment" method="post" th:action="@{/admin/support/one/addComment}" >
			               <input type="hidden" name="no" th:value="${one.no}"/>
			                <div class="row">
			                  <div id="content-box">
			                     <textarea id="commentArea" rows="2" class="comment_inbox_text" name="content" style="border: none; overflow: hidden; overflow-wrap: break-word; " 
			                     placeholder="답변을 남겨보세요"></textarea>
			                  </div>
			                  <div id="regBox" class="register-box">
			                     <!-- 등록 버튼 -->
			                     <button id="btn-comment" class="button purple float-end" style="border: none" type="submit">등록</button>
			                  </div>
			               </div>
			            </form>      
			        </div>
			        </div>
			    </div>	
	            
	            <div id="reviewBox" class="cont review" th:each="comment : ${oneComment}" th:if="${oneComment != null}">
					<p th:text="${comment.content}"></p>
	            </div>
        	</div>
        </div>

    <div class="btn-group pt40" style="display: block;">
		<a th:href="@{/admin/support/one(categoryNo=${param.categoryNo}, answered=${param.answered}, page=${param.page})}" class="button large listBtn" title="목록">목록</a>
       	<a id = "delete-btn" 
       		class="button large"
       		th:href="@{/admin/support/one/delete(no=${param.no})}">삭제</a>
    </div>
    
</div>
</html>
