<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin}">
<head th:fragment="extra-head-content">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<link th:href="@{/css/support/faq.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/support/common.js}"></script>
	<script type="text/javascript" th:src="@{/js/admin/support/adminfaq.js}"></script>
</head>
<div id="contents" layout:fragment="content" style="margin-top: -40px;">
    <h2 class="tit">자주 묻는 질문</h2>

        <div class="table-wrap mt30">
            <div class="board-view">
            <div class="tit-area">
                <p class="tit" th:text="${faq.title}"></p>
            </div>

            <div class="info">
                <p>
                    <span class="tit">순위</span>
				   	<span class="txt" th:text="${faq.orderNo}"></span>
				</p>
                <p>
                    <span class="tit">카테고리</span>
				   	<span class="txt" th:text="${faq.category.name}"></span>
                </p>
                <p>
                    <span class="txt" th:text="${#dates.format(faq.updateDate, 'yyyy.MM.dd')}"></span>
                </p>
            </div>
            
            <div class="cont">
				<p th:utext="${faq.content}">
                </p>
            </div>
        </div>
        </div>

        <div class="btn-group pt40" style="display: block;">
          <a id = "modify-btn"
          	 class="button large"
          	 th:href="@{/admin/support/faq/modifyform(no=${param.no})}">수정
		  </a>
		  <a th:href="@{/admin/support/faq(catNo=${param.catNo}, page=${param.page}, keyword=${param.keyword})}"
           class="button large listBtn" title="목록">목록</a>
          <a id = "delete-btn"
          	 class="button large"
          	 th:href="@{/admin/support/faq/delete(no=${param.no})}">삭제
		  </a>
        </div>
        
        <form id="form" method="post" action="/admin/support/faq">
			<input type="hidden" name="catNo" th:value="${param.catNo}" />
			<input type="hidden" name="page" th:value="${param.page}" />
			<input type="hidden" name="keyword" th:value="${param.keyword}" />
		</form>
	</div>
</html>
