<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/admin}"
	>
<head th:fragment="extra-head-content">
	<link th:href=@{/css/support/faq.css} rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/admin/support/adminfaq.js}"></script>
	<script type="text/javascript" th:src="@{/js/admin/support/adminfaqform.js}"></script>
	<script type="text/javascript" th:src="@{/js/summernote/sn.js}"></script>
	<script type="text/javascript" th:src="@{/js/summernote/summernote-lite.js}"></script>
	<script type="text/javascript" th:src="@{/js/summernote/lang/summernote-ko-KR.js}"></script>
	<link th:href="@{/css/summernote/summernote-lite.css}" rel="stylesheet">
</head>
<title>관리자페이지</title>
</head>
<div id="contents" layout:fragment="content" style="margin-top: -40px;">
    <h2 class="tit">자주 묻는 질문</h2>

    <form id="modifyform" name="regFrm" method="post" th:action="@{/admin/support/faq/modify(no=${faq.no}, catNo=${param.catNo}, page=${param.page}, keyword=${param.keyword})}" enctype="multipart/form-data">
        <div class="table-wrap mt10">
            <table class="board-form va-m">
                <colgroup> 
                    <col style="width:150px;">
                    <col>
                    <col style="width:150px;">
                    <col>
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row"><label for="orderNo">순위</label> <em class="font-orange"></em></th>
                    <td colspan="3">
             			 <div class="d-flex justify-content-start" style="margin-bottom: -15px; margin-left: -7px;">
	                        <select id="order" title="순위 선택" name="orderNo"
	                                class="form-select form-select-sm  ml07 form-control-sm mb-3"
	                                style="width: 150px; float:left">
	                            <option value="" selected disabled>순위 선택</option>
	                            <option value="1" th:selected="${faq.orderNo == 1}">1</option>
	                            <option value="2" th:selected="${faq.orderNo == 2}">2</option>
	                            <option value="3" th:selected="${faq.orderNo == 3}">3</option>
	                            <option value="4" th:selected="${faq.orderNo == 4}">4</option>
	                            <option value="5" th:selected="${faq.orderNo == 5}">5</option>
	                        </select>
                    	</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row"><label for="cat">카테고리</label> <em class="font-orange">*</em></th>
                    <td colspan="3">
             			 <div class="d-flex justify-content-start" style="margin-bottom: -15px; margin-left: -7px;">
	                        <select id="faqCat" title="카테고리 선택" name="categoryNo" 
	                                class="form-select form-select-sm  ml07 form-control-sm mb-3"
	                                style="width: 150px; float:left">
	                            <option value="" selected disabled>카테고리 선택</option>
	                            <option th:each="cat: ${categories}" th:value="${cat.no}" th:text="${cat.name}" th:selected="${cat.no == faq.category.no}"></option>
	                        </select>
                    	</div>
                    </td>
                </tr>
                
                <tr>
                    <th scope="row"><label for="qnaCustInqTitle">제목</label> <em class="font-orange">*</em></th>
                    <td colspan="3"><input type="text" name="title" class="input-text" th:value="${faq.title}"></td>
                </tr>
                <tr>
                    <th scope="row"><label for="textarea">내용</label> <em class="font-orange">*</em></th>
                    <td colspan="3">
                        <div class="textarea">
							<textarea id="summernote" name="content" rows="5" cols="30" title="내용입력" th:utext="${faq.content}"></textarea>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="btn-group pt40" style="display: block;">
            <button id="modify-btn-submit" type="submit" class="button purple large">수정</button>
        </div>
    </form>
</div>

</html>