<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">

</head>
<div layout:fragment="content">

    <div class="container" style="padding-bottom:240px;">
        <input type="hidden" name="playDe" value="">
        <div class="page-util" style="">
            <div class="inner-wrap">
                <div class="location">
                    <span>Home</span>
                    <a href="/booking" title="예매 페이지로 이동">예매</a>
                    <a href="/booking" title="빠른예매 페이지로 이동">결제 실패</a>
                </div>
            </div>
        </div>
        <!-- loading -->
        <h1>
            결제실패
        </h1>

    </div>
</div>
</div>
</html>