<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<footer id="footer" th:fragment="footer">
	<!-- footer-top -->
	<div class="footer-top">
		<div class="inner-wrap">
			<a href="#" class="btn-looking-theater" title="극장찾기"><i class="iconset ico-footer-search"></i> 극장찾기</a>
		</div>
	</div>
	<!--// footer-top -->

	<!-- footer-bottom -->
	<div class="footer-bottom">
		<div class="inner-wrap">
			<div class="ci">MGV : Life Theater</div>

			<div class="footer-info">
				<p style="font-size: 12px;">
					<span>서울특별시 종로구 율곡로10길 105 디아망 4층 (봉익동 10-1) ARS 0731-0913</span><br/>
					<span><strong>조장</strong> 이진서 <strong>조원</strong> 진현국, 서준호, 이재권, 오민선, 신하원</span><br/>
					<span><strong>근무시간</strong>: 월 ~ 금 AM 9:00 ~ PM 6:00 | <strong>점심시간</strong>: PM1:00 ~ PM2:00 | <strong>고객센터</strong>: AM 10:00 ~ PM 7:00</span>
				</p>
			</div>

			<div class="footer-sns">
          <a href="https://github.com/orgs/semi-movie/repositories" target="_blank" title="notion">
              <img alt="notion" th:src="@{/images/nav/notion-logo.png}" style="width: 25px; height: 25px;"></a>
          <a href="https://www.erdcloud.com/d/NnFd7jWDpKdiCvnwz" target="_blank" title="erdcloud">
              <img alt="erdcloud" th:src="@{/images/nav/erd.png}" style="width: 25px; height: 25px;"></a>
          <a href="https://www.figma.com/file/oquva5AVUHQJHOSV3wkLVW/Untitled?type=design&node-id=0-1&mode=design&t=bN2sXjAun6k6hjYn-0" target="_blank" title="figma">
              <img alt="figma" th:src="@{/images/nav/figma-logo.png}" class="me-5" style="width: 30px; height: 30px;"></a>
			</div>
		</div>
	</div>
	<!--// footer-bottom -->

</footer>
</body>
</html>