<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header id="header"
        th:classappend="${#httpServletRequest.requestURI.equals('/') ? 'main-header no-bg' : ''}"
        th:fragment="header">
    <h1 class="ci"><a href="/" title="MGV 메인으로 가기">MGV : Enjoy Theater</a></h1>

    <!-- 2019-04-15 마크업 수정 : 고객요청  -->
    <div class="util-area">
        <div class="left-link">
            <a th:href="@{/board/theater/list}" title="게시판">게시판</a>
            <a th:href="@{/benefit}" title="멤버십">멤버십</a>
            <a th:href="@{/support}" title="고객센터">고객센터</a>
        </div>

        <div class="right-link">
            <!-- 로그인전 -->
            <div class="before" sec:authorize="isAnonymous()">
                <a th:href="@{/user}" title="관리자">내정보</a>
                <a th:href="@{/admin/home}" title="관리자">관리자</a>
                <a href="javascript:void(0)" class="btn-login" title="로그인">로그인</a>
                <a th:href="@{/user/auth/form}" title="회원가입">회원가입</a>
            </div>

            <!-- 로그인후 -->
            <div class="after" sec:authorize="isAuthenticated()">
                <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/home}" title="관리자">관리자</a>
                <a th:href="@{/center/lost}">분실물</a>
                <a th:href="@{/logout}" title="로그아웃">로그아웃</a>
                <a href="" class="notice" title="알림">알림</a>

                <!-- layer-header-notice -->
                <div class="layer-header-notice">
                    <div class="notice-wrap">
                        <p class="tit-notice">알림함</p>

                        <div class="count">
                            <p class="left">전체 <em class="totalCnt">0</em> 건</p>

                            <p class="right">* 최근 30일 내역만 노출됩니다.</p>
                        </div>

                        <!-- scroll -->
                        <div class="scroll m-scroll mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                            <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside"
                                 style="max-height: none;" tabindex="0">
                                <div id="mCSB_1_container" class="mCSB_container mCS_no_scrollbar_y"
                                     style="position:relative; top:0; left:0;" dir="ltr">
                                    <ul class="list">
                                        <li class="no-list">
                                            알림 내역이 없습니다.
                                        </li>
                                    </ul>
                                </div>
                                <div id="mCSB_1_scrollbar_vertical"
                                     class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical">
                                    <div class="mCSB_draggerContainer">
                                        <div id="mCSB_1_dragger_vertical" class="mCSB_dragger"
                                             style="position: absolute; min-height: 30px; display: none; top: 0px;">
                                            <div class="mCSB_dragger_bar" style="line-height: 30px;"></div>
                                        </div>
                                        <div class="mCSB_draggerRail"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="notice-list-more">
                            <button type="button" class="button btn-more-notice-list">더보기 <i
                                    class="iconset ico-btn-more-arr"></i></button>
                        </div>
                        <!--// scroll -->
                        <button type="button" class="btn-close-header-notice">알림 닫기</button>
                    </div>
                    <!--// notice-wrap -->
                    <!--// layer-header-notice -->
                </div>

            </div>

            <a href="">빠른예매</a>
        </div>
    </div>
    <!--// 2019-04-15 마크업 수정 : 고객요청  -->

    <div class="link-area">
        <a href="" class="header-open-layer btn-layer-sitemap" title="사이트맵">사이트맵</a>
        <a href="" class="header-open-layer btn-layer-search" title="검색">검색</a>
        <a href="" class="link-ticket" title="상영시간표">상영시간표</a>
        <a th:href="@{/user}" class="header-open-layer btn-layer-mymega" title="나의 MGV">나의 MGV</a>
    </div>

    <!-- gnb -->
    <!--
        2019-04-15 마크업 수정 : 고객요청
        1뎁스 a 태그에 각각 다른 class 추가
    -->

    <nav id="gnb">
        <ul class="gnb-depth1">
            <li><a th:href="@{/movie}" class="gnb-txt-movie" title="영화">영화</a>
                <div class="gnb-depth2">
                    <ul>
                        <li><a th:href="@{/movie}" title="전체영화">전체영화</a></li>
                        <li><a th:href="@{/movie/post}" title="무비포스트">무비포스트</a></li>
                    </ul>
                </div>
            </li>
            <li><a th:href="@{/booking}" class="gnb-txt-reserve" title="예매">예매</a>
                <div class="gnb-depth2">
                    <ul>
                        <li><a th:href="@{/booking}" title="빠른예매">빠른예매</a></li>
                        <li><a th:href="@{/booking}" title="상영시간표">상영시간표</a></li>
                    </ul>
                </div>
            </li>
            <li><a th:href="@{/theater}" class="gnb-txt-theater" title="극장">극장</a>
                <div class="gnb-depth2">
                    <ul>
                        <li><a th:href="@{/theater}" title="전체극장">전체극장</a></li>
                        <li><a href="#" title="특별관">특별관</a></li>
                    </ul>
                </div>
            </li>
            <li><a th:href="@{/event}" class="gnb-txt-event" title="이벤트">이벤트</a>
                <div class="gnb-depth2">
                    <ul>
                        <li><a th:href="@{/event}" title="진행중 이벤트">진행중 이벤트</a></li>
                        <li><a th:href="@{/event/end}" title="지난 이벤트">지난 이벤트</a></li>
                        <li><a th:href="@{/event/winner/list}" title="당첨자발표">당첨자발표</a></li>
                    </ul>
                </div>
            </li>
            <li><a th:href="@{/store}" class="gnb-txt-store" title="스토어">스토어</a></li>
            <li><a th:href="@{/benefit}" class="gnb-txt-benefit" title="혜택">혜택</a>
                <div class="gnb-depth2">
                    <ul>
                        <li><a th:href="@{/benefit}" title="메가박스 멤버십">메가박스 멤버십</a></li>
                        <li><a th:href="@{/benefit/discount}" title="제휴/할인">제휴/할인</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>

    <div id="layer_sitemap" class="header-layer layer-sitemap">
        <!-- wrap -->
        <div class="wrap">
            <a href="" class="link-acc" title="사이트맵 레이어 입니다.">사이트맵 레이어 입니다.</a>

            <p class="tit">SITEMAP</p>

            <div class="list position-1">
                <p class="tit-depth">영화</p>

                <ul class="list-depth">
                    <li><a href="" title="전체영화">전체영화</a></li>
                    <li><a href="" title="큐레이션">큐레이션</a></li>
                    <li><a href="" title="영화제">영화제</a></li>
                    <li><a href="" title="무비포스트">무비포스트</a></li>
                </ul>
            </div>

            <div class="list position-2">
                <p class="tit-depth">예매</p>

                <ul class="list-depth">
                    <li><a href="" title="빠른예매">빠른예매</a></li>
                    <li><a href="" title="상영시간표">상영시간표</a></li>
                    <li><a href="" title="더 부티크 프라빗 예매">더 부티크 프라이빗 예매</a></li>
                    <!-- <li><a href="/booking?megaboxLanguage=en" title="English Ticketing">English Ticketing</a></li> -->
                </ul>
            </div>

            <div class="list position-3">
                <p class="tit-depth">극장</p>

                <ul class="list-depth">
                    <li><a href="" title="전체극장">전체극장</a></li>
                    <li><a href="" title="특별관">특별관</a></li>
                </ul>
            </div>

            <div class="list position-4">
                <p class="tit-depth">이벤트</p>

                <ul class="list-depth">
                    <li><a href="" title="진행중 이벤트">진행중 이벤트</a></li>
                    <li><a href="" title="지난 이벤트">지난 이벤트</a></li>
                    <li><a href="" title="당첨자발표">당첨자발표</a></li>
                </ul>
            </div>

            <div class="list position-5">
                <p class="tit-depth">스토어</p>

                <ul class="list-depth">
                    <li><a href="" title="새로운 상품">새로운 상품</a></li>
                    <li><a href="" title="메가티켓">메가티켓</a></li>
                    <li><a href="" title="팝콘/음료/굿즈">팝콘/음료/굿즈</a></li>
                    <li><a href="" title="포인트몰">포인트몰</a></li>
                </ul>
            </div>
            <div class="list position-6">
                <p class="tit-depth">나의 메가박스</p>
                <ul class="list-depth mymage">
                    <li>
                        <a href="" title="나의 메가박스 홈">나의 메가박스 홈</a></li>
                    <li>
                        <a href="" title="예매/구매내역">예매/구매내역</a></li>
                    <li><a href="" title="영화관람권">영화관람권</a></li>
                    <li><a href="" title="스토어교환권">스토어교환권</a></li>
                    <li>
                        <a href="" title="할인/제휴쿠폰">할인/제휴쿠폰</a></li>

                    <li>
                        <a href="" title="멤버십포인트">멤버십포인트</a></li>
                    <li>
                        <a href="" title="나의 무비스토리">나의 무비스토리</a></li>
                    <li>
                        <a href="" title="나의 이벤트 응모내역">나의 이벤트 응모내역</a></li>
                    <li><a href="" title="나의 문의내역">나의 문의내역</a></li>
                    <li><a href="" title="자주쓰는 할인카드">자주쓰는 할인카드</a></li>
                    <li>
                        <a href="" title="회원정보">회원정보</a></li>
                </ul>
            </div>

            <div class="list position-7">
                <p class="tit-depth">혜택</p>

                <ul class="list-depth">
                    <li><a href="" title="멤버십 안내">멤버십 안내</a></li>
                    <li><a href="" title="VIP LOUNGE">VIP LOUNGE</a></li>
                    <li><a href="" title="제휴/할인">제휴/할인</a></li>
                </ul>
            </div>

            <div class="list position-8">
                <p class="tit-depth">고객센터</p>

                <ul class="list-depth">
                    <li><a href="" title="고객센터 홈">고객센터 홈</a></li>
                    <li><a href="" title="자주묻는질문">자주묻는질문</a></li>
                    <li><a href="" title="공지사항">공지사항</a></li>
                    <li><a href="" title="1:1문의">1:1문의</a></li>
                    <li><a href="" title="단체/대관문의">단체/대관문의</a></li>
                    <li><a href="" title="분실물문의">분실물문의</a></li>
                </ul>
            </div>

            <div class="ir">
                <a href="" class="layer-close" title="레이어닫기">레이어닫기</a>
            </div>
        </div>
        <!--// wrap -->
    </div>
    <!--// 레이어 : 사이트맵 -->

    <!-- 레이어 : 검색 -->
    <div id="layer_header_search" class="header-layer layer-header-search"></div>
    <!--// 레이어 : 검색 -->

    <!-- 레이어 : 마이페이지 -->


    <div id="layer_mymega2" class="header-layer layer-mymege2">
        <a href="" class="ir" title="나의 메가박스 레이어 입니다.">나의 MGV 레이어 입니다.</a>

        <!-- wrap-->
        <div class="wrap" style="">

            <div class="login-after" style="display:flex">
                <div class="couponpass" style="display:none;">
                    <span>쿠폰패스 이용고객이시군요!!쿠폰패스로 발급된 쿠폰을 확인해보세요~ </span>
                </div>
                <div class="inner">
                    <div class="box">
                        <div class="mbimg"><img src="" alt=""></div>
                        <div class="name"><span></span>님</div>

                        <a href="" class="linkBtn" title="나의  MGV">나의 MGV</a>
                    </div>

                    <div class="box movieTk">
                        <div class="tit">
                            <a class="linkA" href="" title="관람권"><span>관람권</span></a>
                        </div>

                        <div title="관람권 수" class="count">0</div>
                    </div>

                    <div class="box reserve">
                        <div class="tit">
                            <a class="linkA" href="" title="예매내역"><span>예매</span></a>
                        </div>

                        <div title="예매 수" class="count"></div>
                    </div>

                    <div class="box buy">
                        <div class="tit">
                            <a class="linkA" href="" title="구매내역"><span>구매</span></a>
                        </div>

                        <div class="count"><em>0</em><span>건</span></div>
                    </div>
                </div>
            </div>

            <!-- 로그인 전 -->
            <div class="login-before" style="display:none;">
                <div class="txt">영화를 사랑하는 당신을 위한 꼭 맞는 혜택까지 확인해 보세요!</div>

                <div class="linkBox">
                    <a href="#layer_login_common" id="moveLogin" title="로그인" class="btn-modal-open" w-data="850"
                       h-data="484">로그인</a>
                    <a href="" class="link" title="혹시 아직 회원이 아니신가요?">혹시 아직 회원이 아니신가요?</a>
                </div>

            </div>
        </div>
        <!--// wradiv -->

        <div class="ir">
            <a href="" class="layer-close" title="레이어닫기">레이어닫기</a>
        </div>
    </div>
    <!--// 레이어 : 마이페이지 -->
</header>
</body>
</html>