<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mgv.store.mapper.CartMapper">
    <insert id="insertCart" parameterType="Cart">
        INSERT INTO
            MGV_CART
        (
         PRODUCT_NO,
         USER_ID,
         PRODUCT_AMOUNT,
         TOTAL_DISCOUNTED_PRICE,
         TOTAL_ORIGINAL_PRICE,
         PACKAGE_NO,
         CAT_NO
        )
        VALUES
            (#{product.no}, #{user.id}, #{amount},#{totalDiscountedPrice}, #{totalOriginalPrice} ,#{pkg.no}, #{catNo})

    </insert>

    <select id="getCartItemsByUserId" parameterType="String" resultType="Cart">
        SELECT
            A.CART_NO                   as no,
            B.PRODUCT_NO                as "product.no",
            B.PRODUCT_NAME              as "product.name",
            B.PRODUCT_DESCRIPTION       as "product.description",
            C.USER_ID                   as "user.id",
            C.USER_NAME                 as "user.name",
            A.PRODUCT_AMOUNT            as amount,
            A.TOTAL_DISCOUNTED_PRICE    as totalDiscountedPrice,
            A.TOTAL_ORIGINAL_PRICE      as totalOriginalPrice,
            A.CART_INSERT_DATE          as insertDate,
            A.CART_PAYMENT_STATUS       as paymentStatus,
            B.PRODUCT_IMAGE             as "product.imagePath",
            D.PACKAGE_NO                as "pkg.no",
            D.PACKAGE_NAME              as "pkg.name",
            D.PACKAGE_COMPOSITION       as "pkg.composition",
            D.PACKAGE_IMAGE             as "pkg.imagePath",
            E.CAT_NO                    as "catNo"
        FROM
            MGV_USER C
        JOIN
            MGV_CART A ON A.USER_ID = C.USER_ID
        JOIN
            MGV_PRODUCT_CATEGORY E ON E.CAT_NO = A.CAT_NO
        LEFT JOIN
            MGV_PRODUCT B ON A.PRODUCT_NO = B.PRODUCT_NO
        LEFT JOIN
            MGV_PACKAGE D ON A.PACKAGE_NO = D.PACKAGE_NO
        WHERE
            C.USER_ID = #{value}
        AND
            A.CART_PAYMENT_STATUS = 'N'
    </select>

    <update id="updateCartItem" parameterType="Cart">
        UPDATE
            MGV_CART
        SET
            PRODUCT_AMOUNT = #{amount},
            TOTAL_DISCOUNTED_PRICE = #{totalDiscountedPrice},
            TOTAL_ORIGINAL_PRICE = #{totalOriginalPrice},
            CART_INSERT_DATE = CURRENT_TIMESTAMP,
            CART_PAYMENT_STATUS = #{paymentStatus}
        WHERE
            CART_NO = #{no}
    </update>

    <delete id="deleteCart" parameterType="int">
        DELETE FROM
            MGV_CART
        WHERE
            CART_NO = #{value}
    </delete>

    <delete id="deleteCartByUserId" parameterType="String">
        DELETE FROM
            MGV_CART
        WHERE
            USER_ID = #{value}
    </delete>
</mapper>