<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mgv.store.mapper.GiftTicketMapper">
    <insert id="insertGiftTickets" parameterType="map">
        INSERT INTO
            MGV_GIFT_TICKET
        (
         GIFT_TICKET_NO,
         USER_ID
        )
        VALUES
        <foreach collection="nos" item="no" index="index" separator=",">
            (#{no},#{userId})
        </foreach>
    </insert>

    <select id="getGiftTicketsByUserId" parameterType="string" resultType="GiftTicket">
        select
            GIFT_TICKET_NO  as no,
            USER_ID         as userId,
            BOOKING_NO      as bookingNo,
            IS_USED         as isUsed,
            CREATE_DATE     as createDate,
            UPDATE_DATE     as updateDate
            FROM MGV_GIFT_TICKET
        where
            USER_ID=#{VALUE}
    </select>
    <select id="getGiftTicketsByBookingNo" parameterType="long" resultType="GiftTicket">
        select
            GIFT_TICKET_NO  as no,
            USER_ID         as userId,
            BOOKING_NO      as bookingNo,
            IS_USED         as isUsed,
            CREATE_DATE     as createDate,
            UPDATE_DATE     as updateDate
        FROM MGV_GIFT_TICKET
        where
            BOOKING_NO=#{VALUE}
    </select>
    <select id="checkGiftTicketByNo" parameterType="double" resultType="GiftTicketDto">
        SELECT
            IS_USED as isUsed,
            TIMESTAMPDIFF  (day,create_date,now())>365 as isExpired
        FROM
            MGV_GIFT_TICKET
        WHERE
            GIFT_TICKET_NO = #{no}
    </select>

    <update id="updateGiftTicket" parameterType="map">
        update
            MGV_GIFT_TICKET
        SET
            IS_USED = #{isUsed},
            UPDATE_DATE = CURRENT_TIMESTAMP,
            BOOKING_NO = #{bookingNo}
        WHERE
            GIFT_TICKET_NO = #{giftTicketNo}
    </update>
</mapper>