<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mgv.store.mapper.OrderPackageMapper">
<!--    <insert id="insertOrderPackage" parameterType="OrderPackage">-->
<!--        INSERT INTO MGV_ORDER_PACKAGE-->
<!--        (-->
<!--         ORDER_ID,-->
<!--         PACKAGE_NO,-->
<!--         ORDER_AMOUNT,-->
<!--         ORDER_PRICE,-->
<!--         CAT_NO-->
<!--        ) VALUES-->
<!--              (#{orderId}, #{packageNo}, #{amount}, #{price}, #{catNo})-->
<!--    </insert>-->
</mapper>