<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mgv.store.mapper.PackageMapper">
    <insert id="insertPackage" parameterType="Package">
        INSERT INTO
            MGV_PACKAGE
        (
         PACKAGE_NAME,
         PACKAGE_PRICE
        )
    </insert>

    <select id="getPackages" resultType="Package">
        select
            PACKAGE_NO          as no,
            PACKAGE_NAME        as name,
            PACKAGE_PRICE       as price,
            PACKAGE_IMAGE       as image,
            PACKAGE_COMPOSITION as composition
        from
            MGV_PACKAGE
        order by
            PACKAGE_NO ASC
    </select>

    <select id="getPackageByNo" parameterType="int" resultType="Package">
        select
            PACKAGE_NO          as no,
            PACKAGE_NAME        as name,
            PACKAGE_PRICE       as price,
            PACKAGE_IMAGE       as image,
            PACKAGE_COMPOSITION as composition
        from
            MGV_PACKAGE
        where
            PACKAGE_NO = #{value}
    </select>

    <select id="getPackagesByCatNo" parameterType="int" resultType="Package">
        select
            A.PACKAGE_NO          as no,
            A.PACKAGE_NAME        as name,
            A.PACKAGE_PRICE       as price,
            A.PACKAGE_IMAGE       as image,
            A.PACKAGE_COMPOSITION as composition,
            B.CAT_NO              as "category.no"
        from
            MGV_PACKAGE A, MGV_PRODUCT_CATEGORY B
        where
            A.CAT_NO = #{value}
        and
            A.CAT_NO = B.CAT_NO
    </select>
</mapper>