<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mgv.store.mapper.PackageMapper">
    <insert id="insertPackage" parameterType="Package">
        INSERT INTO
            MGV_PACKAGE
        (
         PACKAGE_NAME,
         PACKAGE_PRICE
        )
    </insert>

    <select id="getPackages" resultType="Package">
        select
            A.PACKAGE_NO                  as no,
            A.PACKAGE_NAME                as name,
            A.PACKAGE_DISCOUNTED_PRICE    as discountedPrice,
            A.PACKAGE_ORIGINAL_PRICE      as originalPrice,
            A.PACKAGE_IMAGE               as imagePath,
            A.PACKAGE_COMPOSITION         as composition,
            A.CAT_NO                      as "category.no"
        from
            MGV_PACKAGE A
        order by
            PACKAGE_NO ASC
    </select>

    <select id="getPackageByNo" parameterType="int" resultType="Package">
        select
            A.PACKAGE_NO                  as no,
            A.PACKAGE_NAME                as name,
            A.PACKAGE_DISCOUNTED_PRICE    as discountedPrice,
            A.PACKAGE_ORIGINAL_PRICE      as originalPrice,
            A.PACKAGE_IMAGE               as imagePath,
            A.PACKAGE_COMPOSITION         as composition,
            A.CAT_NO                      as "category.no"
        from
            MGV_PACKAGE A
        where
            PACKAGE_NO = #{value}
    </select>

    <select id="getPackagesByCatNo" parameterType="int" resultType="Package">
        select
            A.PACKAGE_NO                as no,
            A.PACKAGE_NAME              as name,
            A.PACKAGE_DISCOUNTED_PRICE  as discountedPrice,
            A.PACKAGE_ORIGINAL_PRICE    as originalPrice,
            A.PACKAGE_IMAGE             as imagePath,
            A.PACKAGE_COMPOSITION       as composition,
            A.CAT_NO                    as "category.no"
        from
            MGV_PACKAGE A
        where
            A.CAT_NO = #{value}
    </select>
</mapper>