<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mgv.store.mapper.ProductMapper">
    <insert id="insertProduct" parameterType="Product">
        INSERT INTO
            MGV_PRODUCT
        (
         PRODUCT_NAME,
         PRODUCT_PRICE,
         PRODUCT_STOCK,
         PRODUCT_DISCOUNT,
         PRODUCT_DESCRIPTION,
         CAT_NO,
         PRODUCT_IMAGE
         )
        VALUES
            (#{name}, #{price}, #{stock}, #{discount}, #{description}, #{category.no}, #{imagePath})
    </insert>

    <select id="getProducts" resultType="Product">
        select
            A.PRODUCT_NO              as no,
            A.PRODUCT_NAME            as name,
            A.PRODUCT_PRICE           as price,
            A.PRODUCT_STOCK           as stock,
            A.PRODUCT_SOLD_OUT        as soldOut,
            A.PRODUCT_DESCRIPTION     as description,
            A.PRODUCT_CREATE_DATE     as createDate,
            A.PRODUCT_UPDATE_DATE     as updateDate,
            B.CAT_NO                  as "category.no",
            A.PRODUCT_DISCOUNT        as discount,
            A.PRODUCT_IMAGE           as imagePath
        from
            MGV_PRODUCT A, MGV_PRODUCT_CATEGORY B
        where
            A.CAT_NO = B.CAT_NO
        order by
            A.PRODUCT_NO ASC
    </select>

    <select id="getProductByNo" parameterType="int" resultType="Product">
        select
            A.PRODUCT_NO              as no,
            A.PRODUCT_NAME            as name,
            A.PRODUCT_PRICE           as price,
            A.PRODUCT_STOCK           as stock,
            A.PRODUCT_SOLD_OUT        as soldOut,
            A.PRODUCT_DESCRIPTION     as description,
            A.PRODUCT_CREATE_DATE     as createDate,
            A.PRODUCT_UPDATE_DATE     as updateDate,
            B.CAT_NO                  as "category.no",
            A.PRODUCT_DISCOUNT        as discount,
            A.PRODUCT_IMAGE           as imagePath
        from
            MGV_PRODUCT A, MGV_PRODUCT_CATEGORY B
        where
            A.PRODUCT_NO = #{value}
        and
            A.CAT_NO = B.CAT_NO
    </select>

    <select id="getProductByCatNo" parameterType="int" resultType="Product">
        select
            A.PRODUCT_NO              as no,
            A.PRODUCT_NAME            as name,
            A.PRODUCT_PRICE           as price,
            A.PRODUCT_STOCK           as stock,
            A.PRODUCT_SOLD_OUT        as soldOut,
            A.PRODUCT_DESCRIPTION     as description,
            A.PRODUCT_CREATE_DATE     as createDate,
            A.PRODUCT_UPDATE_DATE     as updateDate,
            B.CAT_NO                  as "category.no",
            A.PRODUCT_DISCOUNT        as discount,
            A.PRODUCT_IMAGE           as imagePath
        from
            MGV_PRODUCT A, MGV_PRODUCT_CATEGORY B
        where
            A.CAT_NO = #{value}
        and
            A.CAT_NO = B.CAT_NO
    </select>
</mapper>