<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mgv.store.mapper.CategoryMapper">
	<select id="getAllCategories" resultType="kr.co.mgv.store.vo.Category">
		select
			CAT_NO		as no,
			CAT_NAME	as name
		from
			MGV_PRODUCT_CATEGORY
		order by
			CAT_NO
	</select>
</mapper>