<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mgv.store.mapper.ProductMapper">
    <insert id="insertProduct" parameterType="Product">
        INSERT INTO
            MGV_PRODUCT
        (
         PRODUCT_NAME,
         PRODUCT_PRICE,
         PRODUCT_STOCK,
         PRODUCT_DISCOUNT,
         PRODUCT_DESCRIPTION,
         CAT_NO,
         PRODUCT_IMAGE
         )
        VALUES
            (#{name}, #{price}, #{stock}, #{discount}, #{description}, #{catNo}, #{imagePath})
    </insert>

    <select id="getProducts" resultType="Product">
        select
            PRODUCT_NO              as no,
            PRODUCT_NAME            as name,
            PRODUCT_PRICE           as price,
            PRODUCT_STOCK           as stock,
            PRODUCT_SOLD_OUT        as soldOut,
            PRODUCT_DESCRIPTION     as description,
            PRODUCT_CREATE_DATE     as createDate,
            PRODUCT_UPDATE_DATE     as updateDate,
            CAT_NO                  as catNo,
            PRODUCT_DISCOUNT        as discount,
            PRODUCT_IMAGE           as imagePath
        from
            MGV_PRODUCT
        order by
            PRODUCT_NO ASC
    </select>

    <select id="getProductByNo" parameterType="int" resultType="Product">
        select
            PRODUCT_NO              as no,
            PRODUCT_NAME            as name,
            PRODUCT_PRICE           as price,
            PRODUCT_STOCK           as stock,
            PRODUCT_SOLD_OUT        as soldOut,
            PRODUCT_DESCRIPTION     as description,
            PRODUCT_CREATE_DATE     as createDate,
            PRODUCT_UPDATE_DATE     as updateDate,
            CAT_NO                  as catNo,
            PRODUCT_DISCOUNT        as discount,
            PRODUCT_IMAGE           as imagePath
        from
            MGV_PRODUCT
        where
            PRODUCT_NO = #{value}
    </select>

    <select id="getProductByCatNo" parameterType="int" resultType="Product">
        select
            PRODUCT_NO              as no,
            PRODUCT_NAME            as name,
            PRODUCT_PRICE           as price,
            PRODUCT_STOCK           as stock,
            PRODUCT_SOLD_OUT        as soldOut,
            PRODUCT_DESCRIPTION     as description,
            PRODUCT_CREATE_DATE     as createDate,
            PRODUCT_UPDATE_DATE     as updateDate,
            CAT_NO                  as catNo,
            PRODUCT_DISCOUNT        as discount,
            PRODUCT_IMAGE           as imagePath
        from
            MGV_PRODUCT
        where
            CAT_NO = #{value}
    </select>
</mapper>