<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.mgv.board.mapper.MyBoardDao">

	<select id="getBoardList" parameterType="map" resultType="kr.co.mgv.board.list.BoardList">
	    SELECT
		    A.createDate,
	        A.no,
	        A.name,
	        A.readCount,
	        A.type
	    FROM (
	        <choose>
	            <when test="boards != 'all'">
	                    <choose>
	                        <when test="boards == 'movie'">
	                        SELECT
	                        board_create_date   AS createDate,
	                        board_no            AS no,
	                        board_name          AS name,
	                        board_read_cnt      AS readCount,
	                        board_type			AS type
		                    FROM MGV_MOVIE_BOARD
		                    WHERE board_deleted = 'N' AND board_report = 'N'
		                        AND user_id = #{id}

	                        </when>
	                        <when test="boards == 'theater'">
	                        	SELECT
			                        board_create_date   AS createDate,
			                        board_no            AS no,
			                        board_name          AS name,
			                        board_read_cnt      AS readCount,
                       	            board_type			AS type
			                    FROM MGV_THEATER_BOARD
			                    WHERE board_deleted = 'N' AND board_report = 'N'
			                        AND user_id = #{id}
			                        <choose>
			                            <when test="opt == 'title'">
			                                and board_name like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'content'">
			                                and board_content like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'all'">
			                                and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			                            </when>
			                        </choose>
	                        </when>
	                        <when test="boards == 'store'">
			                    SELECT
			                        board_create_date   AS createDate,
			                        board_no            AS no,
			                        board_name          AS name,
			                        board_read_cnt      AS readCount,
			                        board_type			AS type
			                    FROM MGV_PRODUCT_BOARD
			                    WHERE board_deleted = 'N' AND board_report = 'N'
			                        AND user_id = #{id}
			                        <choose>
			                            <when test="opt == 'title'">
			                                and board_name like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'content'">
			                                and board_content like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'all'">
			                                and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			                            </when>
			                        </choose>	                            
	                        </when>
	                        <when test="boards == 'party'">
			                    SELECT
			                        board_create_date   AS createDate,
			                        board_no            AS no,
			                        board_name          AS name,
			                        board_read_cnt      AS readCount,
			                        board_type			AS type
			                    FROM PARTY_BOARD
			                    WHERE party_deleted = 'N' AND board_report = 'N'
			                        AND user_id = #{id}
			                        <choose>
			                            <when test="opt == 'title'">
			                                and board_name like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'content'">
			                                and board_content like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'all'">
			                                and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			                            </when>
			                        </choose>	                            
	                        </when>
	                    </choose>
	            </when>
	            <otherwise>
 					SELECT
					   board_create_date 		as createDate,
					   board_no					as no, 
					   board_name				as name, 
					   board_read_cnt			as readCount,
					   board_type				AS type
					FROM MGV_MOVIE_BOARD
					WHERE board_deleted = 'N' AND board_report = 'N'
						and user_id = #{id}
						<choose>
			    			<when test="opt == 'title'">
			    				and board_name like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'content'">
			    				and board_content like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'all'">
			    				and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			    			</when>
			    		</choose>
					UNION ALL
					SELECT 
						   board_create_date 		as createDate,
						   board_no					as no, 
						   board_name				as name, 
						   board_read_cnt			as readCount,
						   board_type				AS type
					FROM PARTY_BOARD
					WHERE party_deleted = 'N' AND board_report = 'N'
						and user_id = #{id}
						<choose>
			    			<when test="opt == 'title'">
			    				and board_name like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'content'">
			    				and board_content like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'all'">
			    				and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			    			</when>
			    		</choose>
					UNION ALL
					SELECT 
						   board_create_date 		as createDate,
						   board_no					as no, 
						   board_name				as name, 
						   board_read_cnt			as readCount,
						   board_type				AS type
					FROM MGV_THEATER_BOARD
					WHERE board_deleted = 'N' AND board_report = 'N'
						and user_id = #{id}
						<choose>
			    			<when test="opt == 'title'">
			    				and board_name like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'content'">
			    				and board_content like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'all'">
			    				and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			    			</when>
			    		</choose>
					UNION ALL
					SELECT
						   board_create_date 		as createDate,
						   board_no					as no, 
						   board_name				as name, 
						   board_read_cnt			as readCount,
						   board_type			    AS type
					FROM MGV_PRODUCT_BOARD
					WHERE board_deleted = 'N' AND board_report = 'N'
						and user_id = #{id}
						<choose>
			    			<when test="opt == 'title'">
			    				and board_name like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'content'">
			    				and board_content like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'all'">
			    				and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			    			</when>
			    		</choose>
	            </otherwise>
	        </choose>
	    ) AS A
	    ORDER BY A.createDate
	    LIMIT 10 OFFSET #{begin}
	</select>
	
	<select id="getListTotalRows" resultType="int" parameterType="map">
		SELECT COUNT(*)
			FROM  (
	        <choose>
	            <when test="boards != 'all'">
	                    <choose>
	                        <when test="boards == 'movie'">
	                        SELECT
	                        board_create_date   AS createDate,
	                        board_no            AS no,
	                        board_name          AS name,
	                        board_read_cnt      AS readCount
		                    FROM MGV_MOVIE_BOARD
		                    WHERE board_deleted = 'N' AND board_report = 'N'
		                        AND user_id = #{id}
	                        <choose>
	                            <when test="opt == 'title'">
	                                and board_name like CONCAT('%', #{keyword}, '%')
	                            </when>
	                            <when test="opt == 'content'">
	                                and board_content like CONCAT('%', #{keyword}, '%')
	                            </when>
	                            <when test="opt == 'all'">
	                                and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
	                            </when>
	                        </choose>
	                        </when>
	                        <when test="boards == 'theater'">
	                        	SELECT
			                        board_create_date   AS createDate,
			                        board_no            AS no,
			                        board_name          AS name,
			                        board_read_cnt      AS readCount
			                    FROM MGV_THEATER_BOARD
			                    WHERE board_deleted = 'N' AND board_report = 'N'
			                        AND user_id = #{id}
			                        <choose>
			                            <when test="opt == 'title'">
			                                and board_name like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'content'">
			                                and board_content like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'all'">
			                                and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			                            </when>
			                        </choose>
	                        </when>
	                        <when test="boards == 'store'">
			                    SELECT
			                        board_create_date   AS createDate,
			                        board_no            AS no,
			                        board_name          AS name,
			                        board_read_cnt      AS readCount
			                    FROM MGV_PRODUCT_BOARD
			                    WHERE board_deleted = 'N' AND board_report = 'N'
			                        AND user_id = #{id}
			                        <choose>
			                            <when test="opt == 'title'">
			                                and board_name like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'content'">
			                                and board_content like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'all'">
			                                and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			                            </when>
			                        </choose>	                            
	                        </when>
	                        <when test="boards == 'party'">
			                    SELECT
			                        board_create_date   AS createDate,
			                        board_no            AS no,
			                        board_name          AS name,
			                        board_read_cnt      AS readCount
			                    FROM PARTY_BOARD
			                    WHERE party_deleted = 'N' AND board_report = 'N'
			                        AND user_id = #{id}
			                        <choose>
			                            <when test="opt == 'title'">
			                                and board_name like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'content'">
			                                and board_content like CONCAT('%', #{keyword}, '%')
			                            </when>
			                            <when test="opt == 'all'">
			                                and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			                            </when>
			                        </choose>	                            
	                        </when>
	                    </choose>
	            </when>
	            <otherwise>
 					SELECT
					   board_create_date 		as createDate,
					   board_no					as no, 
					   board_name				as name, 
					   board_read_cnt			as readCount
					FROM MGV_MOVIE_BOARD
					WHERE board_deleted = 'N' AND board_report = 'N'
						and user_id = #{id}
						<choose>
			    			<when test="opt == 'title'">
			    				and board_name like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'content'">
			    				and board_content like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'all'">
			    				and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			    			</when>
			    		</choose>
					UNION ALL
					SELECT 
						   board_create_date 		as createDate,
						   board_no					as no, 
						   board_name				as name, 
						   board_read_cnt			as readCount
					FROM PARTY_BOARD
					WHERE party_deleted = 'N' AND board_report = 'N'
						and user_id = #{id}
						<choose>
			    			<when test="opt == 'title'">
			    				and board_name like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'content'">
			    				and board_content like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'all'">
			    				and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			    			</when>
			    		</choose>
					UNION ALL
					SELECT 
						   board_create_date 		as createDate,
						   board_no					as no, 
						   board_name				as name, 
						   board_read_cnt			as readCount
					FROM MGV_THEATER_BOARD
					WHERE board_deleted = 'N' AND board_report = 'N'
						and user_id = #{id}
						<choose>
			    			<when test="opt == 'title'">
			    				and board_name like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'content'">
			    				and board_content like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'all'">
			    				and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			    			</when>
			    		</choose>
					UNION ALL
					SELECT
						   board_create_date 		as createDate,
						   board_no					as no, 
						   board_name				as name, 
						   board_read_cnt			as readCount
					FROM MGV_PRODUCT_BOARD
					WHERE board_deleted = 'N' AND board_report = 'N'
						and user_id = #{id}
						<choose>
			    			<when test="opt == 'title'">
			    				and board_name like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'content'">
			    				and board_content like CONCAT('%', #{keyword}, '%')
			    			</when>
			    			<when test="opt == 'all'">
			    				and (board_name like CONCAT('%', #{keyword}, '%') or board_content like CONCAT('%', #{keyword}, '%'))
			    			</when>
			    		</choose>
	            </otherwise>
	        </choose>
	    ) as A
	</select>
</mapper>