<!-- 가입 정보 입력 -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head th:fragment="extra-head-content">
    <script th:src="@{/js/auth/form.js}"></script>
    <script th:src="@{/js/calender.js}"></script>
</head>
<div layout:fragment="content" id="contents" class="join-form">

    <form id="action-form" method="post" th:action="@{/user/auth/join}">

        <div class="member-wrap">
            <!-- col-wrap -->
            <div class="col-wrap">
            <h2 class="tit">회원가입</h2>
                <span>아이디, 이름, 비밀번호, 비밀번호 확인, 생년월일, 이메일 주소를 가진 회원가입 정보입력</span>
                <!-- col -->
                <div class="col">

                    <div class="table-wrap">
                        <table class="board-form">
                            <caption>아이디, 이름, 비밀번호, 비밀번호 확인, 생년월일, 이메일 주소를 가진 회원가입 정보입력</caption>
                            <colgroup>
                                <col style="width:130px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row"><label for="userId">아이디 <em class="font-orange">*</em></label></th>
                                <td>
                                    <input maxlength="12" id="userId" name="id" type="text" placeholder="영문,숫자 조합(8~12자)" class="input-text w260px" autocomplete="off"><!--영문,숫자 조합(8~12자)-->
                                    <button id="btnUserIdConfirm" type="button" class="button gray-line small w75px ml08">중복확인<!--중복확인--></button>
                                    <div id="id-error-text" class="alert"></div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="userName">이름 <em class="font-orange">*</em></label></th>
                                <td>
                                    <input id="userName" name="name" type="text" placeholder="이름을 입력하세요" class="input-text w260px" autocomplete="off"><!--영문,숫자 조합(8~12자)-->
                                    <div id="name-error-text" class="alert"></div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row"><label for="userPwd">비밀번호 <em class="font-orange">*</em></label></th>
                                <td>
                                    <input maxlength="16" id="userPwd" name="password" type="password" placeholder="영문 대 소문자,숫자 8자~16자" class="input-text w260px">
                                    <!--영문,숫자,특수기호 중 2가지 이상 조합-->
                                    <div id="password-error-text" class="alert"></div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row"><label for="userRepwd">비밀번호 확인 <em class="font-orange">*</em></label></th>
                                <td>
                                    <input minlength="" maxlength="16" id="userRepwd" name="repassword" type="password" placeholder="비밀번호를 확인하세요." class="input-text w260px">
                                    <!--영문,숫자,특수기호 중 2가지 이상 조합-->
                                    <div id="re-password-error-text" class="alert"></div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row"><label for="userbirth">생년월일 <em class="font-orange">*</em></label></th>
                                <td id="userbirth">
                                    <input id="datepicker" width="276" name="birth" type="text" placeholder="날짜 선택" class="input-text w260px" autocomplete="off" readonly>
                                    <div id="birth-error-text" class="alert"></div>
                                </td>
                            </tr>

                            <tr>
                                <th scope="row"><label for="mblpCharCertNo">E-mail <em class="font-orange">*</em></label></th>
                                <td>
                                    <!-- 이메일 입력 -->
                                    <div class="row">
                                        <div class="line col">
                                            <input id="userEmail" maxlength="50" name="email" type="email" class="input-text w210px" placeholder="name@example.com" autocomplete="off">
                                        </div>
                                        <div class="col">
                                            <!-- 중복체크 -->
                                            <button id="btnCheckMail" type="button" class="button gray-line small w75px ml08" style="display: block">중복체크</button>
                                            <!-- 인증번호 요청 -->
                                            <button id="btnAuthMail" type="button" class="button gray-line small w75px ml08" style="display: none;">인증번호</button>
                                        </div>
                                    </div>
                                    <span id="email-error-text" class="alert"></span>

                                    <!-- 인증번호 -->
                                    <div id="mail-number" class="row" style="display: none;">
                                        <div class="line col">
                                            <input id="userAuth" name="code" maxlength="8" type="text" class="input-text w210px" placeholder="인증번호를 입력하세요" autocomplete="off">
                                        </div>
                                        <div class="col">
                                            <button id="btnConfirm" type="button" class="button gray-line small w75px ml08">인증하기</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="btn-member-bottom">
                        <button id="btnJoin" type="submit" class="button purple large" disabled>회원가입<!--회원가입--></button>

                    </div>
                </div>
                <!--// col -->
            </div>
            <!--// col-wrap -->
        </div>
    </form>
</div>
</html>
