<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/support}">
<head th:fragment="extra-head-content">
	<link th:href=@{/css/support/faq.css} rel="stylesheet">
	<script type="text/javascript" th:src="@{/js/support/faq.js}"></script>
</head>
<div layout:fragment="content" id="contents">
    <h2 class="tit">자주 묻는 질문</h2>

    <!-- input-search-area -->
    <form action="list">
	    <div class="input-search-area mb30">
	        <div class="input-area">
	            <label for="search01" class="label">빠른검색</label>
			
	            <div class="board-search w460px">
	                <input type="search" name="keyword" title="검색어를 입력해 주세요." placeholder="검색어를 입력해 주세요." class="input-text" value="" maxlength="15">
	                <input type="hidden" name="catNo" value="1" />
	                <input type="hidden" name="page" value="1" />
	                <button type="button" id="btn-search" class="btn-search-input">검색</button>
	            </div>
	        </div>
	    </div>
    </form>
    <!--// input-search-area -->
    
    <div class="tab-block-faq mb30">
        <ul>
            <li class="tab-link current"><button type="button" class="btn rounded-0" data-category-no="1" title="전체">전체</button></li>
            <li class="tab-link"><button type="button" class="btn rounded-0" data-category-no="2" title="영화예매">영화예매</button></li>
            <li class="tab-link"><button type="button" class="btn rounded-0" data-category-no="3" title="할인혜택">할인혜택</button></li>
            <li class="tab-link"><button type="button" class="btn rounded-0" data-category-no="4" title="결제수단/관람권">결제수단/관람권</button></li>
            <li class="tab-link"><button type="button" class="btn rounded-0" data-category-no="5" title="멤버십">멤버십</button></li>
            <li class="tab-link"><button type="button" class="btn rounded-0" data-category-no="6" title="VIP">VIP</button></li>
            <li class="tab-link"><button type="button" class="btn rounded-0" data-category-no="7" title="극장/특별관">극장/특별관</button></li>
            <li class="tab-link"><button type="button" class="btn rounded-0" data-category-no="8" title="스토어">스토어</button></li>
            <li class="tab-link"><button type="button" class="btn rounded-0" data-category-no="9" title="홈페이지/모바일">홈페이지/모바일</button></li>
            <li class="tab-link"><button type="button" class="btn rounded-0" data-category-no="10" title="기프트카드">기프트카드</button></li>
        </ul>
    </div>

    <div class="faq-list-box">
    <p class="reset mb10"><strong><span id="totalTitle">전체</span> <span class="font-green" id="totalCnt" th:text="${result.pagination.totalRows}"></span>건</strong></p>
    	<div class="faq-list">
    		<ul>
    			<li th:each="faq: ${result.faqList}">
    				<div class="qut" th:if="${not #lists.isEmpty(result.faqList)}">
    					<a href="#">
    						<p class="tit">
    							<span class="font-green" th:text="'[' + ${faq.category.name}+ ']'"></span>
    						</p>
    						<p class="txt">
    							<span class="font-green"></span>
    							<span th:text="${faq.title}"></span>
    						</p>
    					</a>
    				</div>
    				<div class="awn">
    					<p class="cont">
    						<span style="font-size:10.0pt">
    							<span style="line-height:107%" th:text="${faq.content}">
								</span>
    						</span>
    					</p>
    				</div>
    			</li>
    		</ul>
		</div>
	</div>

    <!-- pagination -->
    <div class="row mb-3">
      	<div class="col-12">
		    <nav>
				<ul class="pagination justify-content-center">
				    <li class="page-item" th:each="num : ${result.pagination.pageNumbers}">
                        <a th:href="@{list(page=${num})}" 
                           th:text="${num}"
                           th:classappend="${result.pagination.page == (num) ? 'active' : '' }"
                           class="page-link page-number-link"
                           th:attr="data-page=${num}">1</a>
                    </li>
				</ul>
			</nav>
		</div>
	</div>
    <!--// pagination -->



</div>
</html>


