<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{support/base}">
   <div layout:fragment="content"  class="container">
   		<h1 class="fs-3 p-1" style="margin-left: -15px;">자주 묻는 질문</h1>
			<div class="row mt-3 mb-3">
		    	<div class="col-12 input area">
		    		 <form method="get" action="faq/list.jsp">
			           <div class="row mb-3 borderless rounded p-4" style="background-color:#f7f6f8">
			             <div class="col-sm-2 pt-1" ><strong>빠른 검색</strong></div>
	
			            <div class="col-sm-7" style="margin-left: -35px;">
				            <div class="input-group">		      
		  						<input type="text" class="form-control border border-end-0" style="font-size:14px;" placeholder="검색어를 입력해주세요.">
		  						<button type="submit" class="input-group-text bg-white" id="basic-addon1" ><img src="../../images/center/search.png" width="13" height="13"></button>
							</div>
			            </div> 
			           </div>
	         		 </form>
		    	</div>
			    <div class="container mt-3 mb-2">
				  <div class="d-flex p-0 border" >
				    <div class="flex-fill  p-0" style="width:20%;"><button id="tab-menu-1" class="w-100 btn btn-border-0 btn-sm py-2 btn-secondary" onclick="activeTab(1)">전체</button></div>
				    <div class="flex-fill border-start border-end p-0" style="width: 20%;"><button id="tab-menu-2"  class="w-100 btn btn-border-0 btn-sm py-2" onclick="activeTab(2)">영화예매</button></div>
				    <div class="flex-fill  p-0" style="width: 20%;"><button id="tab-menu-3" class="w-100 btn btn-border-0 btn-sm py-2" onclick="activeTab(3)">할인혜택</button></div>
				    <div class="flex-fill border-start border-end p-0" style="width: 20%;"><button id="tab-menu-4" class="w-100 btn btn-border-0 btn-sm py-2" onclick="activeTab(4)">결제수단/관람권</button></div>
				    <div class="flex-fill  p-0" style="width: 20%;"><button id="tab-menu-5" class="w-100 btn btn-border-0 btn-sm py-2" onclick="activeTab(5)">멤버쉽</button></div>
				  </div>
				  <div class="d-flex p-0 border-bottom border-start border-end">
				    <div class="flex-fill  p-0" style="width: 20%;"><button id="tab-menu-6" class="w-100 btn btn-border-0 btn-sm py-2" onclick="activeTab(6)">VIP</button></div>
				    <div class="flex-fill border-start border-end p-0" style="width: 20%;"><button id="tab-menu-7" class="w-100 btn btn-border-0 btn-sm py-2" onclick="activeTab(7)">극장/특별관</button></div>
				    <div class="flex-fill  p-0" style="width: 20%;"><button id="tab-menu-8" class="w-100 btn btn-border-0 btn-sm py-2" onclick="activeTab(8)">스토어</button></div>
				    <div class="flex-fill border-start border-end p-0" style="width: 20%;"><button id="tab-menu-9" class="w-100 btn btn-border-0 btn-sm py-2" onclick="activeTab(9)">홈페이지/모바일</button></div>
				    <div class="flex-fill  p-0" style="width: 20%;"><button id="tab-menu-10" class="w-100 btn btn-border-0 btn-sm py-2" onclick="activeTab(10)">기프트카드</button></div>
				  </div>
			    </div>
			</div>
				<div class="board-list-util">
					<p class="result-count"><strong>전체 <span id="total-rows" style="color:#1a9381">5</span>건</strong></p>
				</div>
	
			
			<div class="accordion accordion-flush" id="accordionFlushExample">
			  <div class="accordion-item">
			    <h2 class="accordion-header border-top border-dark" id="flush-headingOne">
			      <button class="accordion-button " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
			      	<div style="line-height:1">
				      	<div id="acco-button-text" class="text-start pb-1">
				      		[기프트카드] 
				      	</div>
				      	<br>
						<div class="text-start" style="font-size:14px;"><span class="text-danger">Q.</span><strong> 기프트카드를 보냈는데 상대방이 받지 못했다고 합니다.</strong></div>
			      	</div>
			      </button>
			    </h2>
			    <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body">
			    		<div class="d-flex justify-content-start">
							<div class="ps-4"><span class="text-danger" style="font-size:14px;" >A.</span></div>
							<div class="text-start small ps-2">
								구매자분 통신사에 가입된 부가서비스로 인해 발신이 차단된 경우가 있습니다. 통신사를 통하여 아래 부가서비스 해지 후 익일 재 구매를 부탁 드립니다.
								<br><br>
								*부가서비스 명칭<br>
								- SKT & KT: 번호도용 문자 차단서비스<br>
								- LG U+: 휴대폰번호 도용 방지서비스
								<br><br>
								이미 구매하신 기프트카드 결제 취소는 기프트카드 거래 이력이 없고 계정 등록 전인 경우, 결제일로부터 최대 10일 내 나의 메가박스 > 예매/구매 내역 > 구매내역에서 취소 가능합니다.
							</div>
						</div>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingTwo">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
			       	<div style="line-height:1">
				      	<div id="acco-button-text" class="text-start pb-1">
				      		[기프트카드] 
				      	</div>
				      	<br>
						<div class="text-start" style="font-size:14px;"><span class="text-danger">Q.</span><strong> 선물은 어떤 경로로 보낼 수 있나요?</strong></div>
			      	</div>
			      </button>
			    </h2>
			    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
			      <div class="accordion-body" style="background-color:#f7f6f8">
			      	<div class="d-flex justify-content-start">
						<div class="ps-4"><span class="text-danger" style="font-size:14px;" >A.</span></div>
						<div class="text-start small ps-2">
							받는 사람의 휴대폰 번호로 발송 가능하며, 선물한 기프트카드는 알림톡으로 전송됩니다.
						</div>
					</div>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingThree">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
			       	<div style="line-height:1">
				      <div id="acco-button-text" class="text-start pb-1">
				      		[기프트카드] 
				      	</div>
				      	<br>
						<div class="text-start" style="font-size:14px;"><span class="text-danger">Q.</span><strong> 신용카드의 구매 한도는 얼마이며, 법인카드로 결제가 가능한가요?</strong></div>
			      	</div>
			      </button>
			    </h2>
			    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
			         <div class="accordion-body" style="background-color:#f7f6f8">
			      	<div class="d-flex justify-content-start">
						<div class="ps-4"><span class="text-danger" style="font-size:14px;" >A.</span></div>
						<div class="text-start small ps-2">
							아래와 같이 구매가 가능합니다.<br>
							- 개인 신용카드 : 1개월간 상품권 구매 한도 100만원<br>
							- 법인카드 : 사업자별로 구매한도 상이 (각 사업자에 문의하시기 바랍니다.)<br>
							법인카드로 구매 가능하며, 청구서상 ‘상품권’ 유형으로 표시됩니다.<br>
							(개인 신용카드 동일 / 별도 상품권 가맹)
						</div>
					</div>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingFour">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
			       	<div style="line-height:1">
				      	<div id="acco-button-text" class="text-start pb-1">
				      		[영화예매] 
				      	</div>
				      	<br>
						<div class="text-start" style="font-size:14px;"><span class="text-danger">Q.</span><strong> 신용카드의 구매 한도는 얼마이며, 법인카드로 결제가 가능한가요?</strong></div>
			      	</div>
			      </button>
			    </h2>
			    <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
			         <div class="accordion-body" style="background-color:#f7f6f8">
			      	<div class="d-flex justify-content-start">
						<div class="ps-4"><span class="text-danger" style="font-size:14px;" >A.</span></div>
						<div class="text-start small ps-2">
							아래와 같이 구매가 가능합니다.<br>
							- 개인 신용카드 : 1개월간 상품권 구매 한도 100만원<br>
							- 법인카드 : 사업자별로 구매한도 상이 (각 사업자에 문의하시기 바랍니다.)<br>
							법인카드로 구매 가능하며, 청구서상 ‘상품권’ 유형으로 표시됩니다.<br>
							(개인 신용카드 동일 / 별도 상품권 가맹)
						</div>
					</div>
			      </div>
			    </div>
			  </div>
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="flush-headingFive">
			      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
			       	<div style="line-height:1">
				      	<div id="acco-button-text" class="text-start pb-1">
				      		[영화예매] 
				      	</div>
				      	<br>
						<div class="text-start" style="font-size:14px;"><span class="text-danger">Q.</span><strong> 신용카드의 구매 한도는 얼마이며, 법인카드로 결제가 가능한가요?</strong></div>
			      	</div>
			      </button>
			    </h2>
			    <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
			         <div class="accordion-body" style="background-color:#f7f6f8">
			      	<div class="d-flex justify-content-start">
						<div class="ps-4"><span class="text-danger" style="font-size:14px;" >A.</span></div>
						<div class="text-start small ps-2">
							아래와 같이 구매가 가능합니다.<br>
							- 개인 신용카드 : 1개월간 상품권 구매 한도 100만원<br>
							- 법인카드 : 사업자별로 구매한도 상이 (각 사업자에 문의하시기 바랍니다.)<br>
							법인카드로 구매 가능하며, 청구서상 ‘상품권’ 유형으로 표시됩니다.<br>
							(개인 신용카드 동일 / 별도 상품권 가맹)
						</div>
					</div>
			      </div>
			    </div>
			  </div>
			</div>
<script type="text/javascript">
	function activeTab(num) {
    	// 버튼 활성화 변경
        let buttons = document.querySelectorAll('.btn');
        buttons.forEach(function(el) {
        	el.classList.remove("btn-secondary")
        });
        document.getElementById("tab-menu-" + num).classList.add('btn-secondary')
        
        // 박스 디스플레이 변경
        //let boxes = document.querySelectorAll(".box");
        //boxes.forEach(function(el) {
        //	el.style.display = 'none';
        //});   
        //document.getElementById("tab-box-" + num).style.display = 'block'
    }
</script>
   </div>
</html>