	.card-title {
		padding-top: 20px;
	}
	
	.form-group {
		position:relative;
		width: 300px;
		margin-left: 10px;
		margin-top: 40px;
	}

	label {
		text-align: center;
		position: absolute;
		color: #aaa;
		left: 10px;
		font-size: 15px;
		bottom: 8px;
		transition: all .2s;
	}

	input {
		font-size: 15px;
		color: #222222;
		width: 300px;
		border: none;
		border-bottom: solid #aaaaaa 1px;
		padding-bottom: 10px;
		padding-left: 10px;
		position: relative;
		background: none;
		z-index: 5;
	}

	input::placeholder {
		color: #aaaaaa;
	}

	input:focus {
		outline: none;
	}

	input:focus ~ label, input:valid ~ label {
		font-size: 16px;
		bottom: 40px;
		color: #666;
		font-weight: bold;
	}

	input:focus ~ span, input:valid ~ span {
  		width: 100%;
	}

	.product-register {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0%;
		background-color: #666;
		width: 0%;
		height: 2px;
		border-radius: 2px;
		transition: 0.5s;
	}
