    .table {
        table-layout: fixed; /* 테이블의 너비를 고정 */
    }

    .title-content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 45%; /* 원하는 최대 길이 설정 */
    }

    .combined-cell {
        display: flex;
        align-items: center;
    }

    .comment-count {
        margin-right: 5px; /* 적절한 여백 설정 */
        color: darkgray;
    }