<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" th:href="@{/images/mgv.png}" type="images/x-icon">
    <title>
        영화 그 이상의 감동. MGV
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<body style="background-color: white;">
<nav class="navbar navbar-expand-sm navbar-dark bg-dark border-bottom mb-3">
    <div class="mgv-container">
        <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <div>
                <ul class="navbar-nav " style="font-size: 12px;">
                    <li>
                        <a href="" class="nav-link" title="이벤트">이벤트</a>
                    </li>
                    <li>
                        <a href="" class="nav-link" title="멤버십">멤버십</a>
                    </li>
                    <li>
                        <a href="" class="nav-link" title="고객센터">고객센터</a>
                    </li>
                </ul>
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="" class="nav-link" title="사이트맵">
                            <img th:src="@{images/home/sitemap-white.png}" style="width: 25px; height: 25px;"/></a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" title="검색">
                            <img th:src="@{/images/home/search-white.png}" style="width: 20px; height: 20px;"/></a>
                    </li>
                    <li class="nav-item ms-6"><a class="nav-link" href="">무비</a></li>
                    <li class="nav-item"><a class="nav-link" href="">예매</a></li>
                    <li class="nav-item"><a class="nav-link" href="">극장</a></li>
                </ul>
            </div>
            <div>
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a id="" class="navbar-brand" href="/final/home.jsp">
                            <img th:src="@{/images/mgv.png}" alt="mgv" width="100" height="60">
                        </a>
                    </li>
                </ul>
            </div>
            <div>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: 12px;">
                        <!-- 로그인 전 -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">회원가입</a>
                        </li>

                        <!-- 로그인 후 -->
                        <li class="nav-item">
                            <a class="nav-link" href="#">로그아웃</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">알림</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">빠른예매</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="">스토어</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                게시판
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item" href="">극장</a></li>
                                <li><a class="dropdown-item" href="">영화</a></li>
                                <li><a class="dropdown-item" href="">스토어</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="">혜택</a></li>
                        <li class="nav-item">
                            <a href="" class="nav-link" title="상영시간표">
                                <img th:src="@{/images/home/calendar-white.png}" style="width: 20px; height: 20px;"></a>
                        </li>
                        <li class="nav-item">
                            <a href="" class="nav-link" title="나의 MGV">
                                <img th:src="@{/images/home/user-white.png}" style="width: 20px; height: 20px;"/></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container mb-3">
    <h1>개봉 예정 영화 예고편</h1>

    <h1>인기 영화 TOP 4</h1>
</div>
<footer>
    <div class="fixed-bottom bg-light text-center">
        <div class="footer-sns m-3">
            <a href="https://github.com/orgs/semi-movie/repositories" target="_blank" title="notion">
                <img alt="notion" th:src="@{/images/nav/notion-logo.png}" style="width: 25px; height: 25px;"></a>
            <a href="https://www.erdcloud.com/d/4nYKSKxkRtdsYwCgh" target="_blank" title="erdcloud">
                <img alt="erdcloud" th:src="@{/images/nav/erd.png}" style="width: 25px; height: 25px;"></a>
            <a href="https://www.figma.com/file/oquva5AVUHQJHOSV3wkLVW/Untitled?type=design&node-id=0-1&mode=design&t=bN2sXjAun6k6hjYn-0" target="_blank" title="figma">
                <img alt="figma" th:src="@{/images/nav/figma-logo.png}" class="me-5" style="width: 30px; height: 30px;"></a>
            <a title="극장찾기">
                <img alt="theater" th:src="@{/images/nav/search.png}" style="width: 15px; height: 15px; margin-bottom: 5px;">극장찾기</a>
        </div>
        <div class="footer-mgv mb-3">
            <a><img alt="mgv" th:src="@{/images/mgv.png}" style="width: 120px; height: 80px;"></a>
            <p style="font-size: 12px;">
                <span>서울특별시 종로구 율곡로10길 105 디아망 4층 (봉익동 10-1) ARS 0731-0913</span><br/>
                <span><strong>조장</strong> 이진서 <strong>조원</strong> 진현국, 서준호, 이재권, 오민선, 신하원</span><br/>
                <span><strong>근무시간</strong>: 월 ~ 금 AM 9:00 ~ PM 6:00 | <strong>점심시간</strong>: PM1:00 ~ PM2:00 | <strong>고객센터</strong>: AM 10:00 ~ PM 7:00</span>
            </p>
        </div>
    </div>
</footer>
</body>
</html>