<!DOCTYPE html>
<html layout:decorate="~{layout/default}">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/megabox-main.css}" media="all">
</head>
<body>
<div layout:fragment="content" class="main-page">

    <!-- section main-movie : 영화 -->
    <div id="main_section01" class="section main-movie on">
        <div class="bg">
            <div class="bg-pattern"></div>
            <img src="https://img.megabox.co.kr/SharedImg/2023/05/24/TdQCSMbCI1IXJuckASuofaJfOVdmcAY3_380.jpg" alt="[엘리멘탈] 특별한 우정 포스터.jpg">
        </div>

        <!-- cont-area  -->
        <div class="cont-area">

            <!-- tab-sorting -->
            <div class="tab-sorting">
                <button type="button" class="on" sort="boxoRankList" name="btnSort">박스오피스</button>
            </div>
            <!-- tab-sorting -->

            <a href="/movie" class="more-movie" title="더 많은 영화보기">
                더 많은 영화보기 <i class="iconset ico-more-corss gray"></i>
            </a>

            <!-- main-movie-list -->
            <div class="main-movie-list">
                <ol class="list">
                    <!-- 3개의 list를  loop 한다-->
                    <!-- 박스오피스 시작 -->
                    <!-- 각 map 별 첫번째 li 에 first클래스 추가 -->

                    <!-- 각 map 별 첫번째 li 에 first클래스 추가 -->
                    <li name="li_boxoRankList" th:class="${i.count == 1 ? 'first' : ''}" th:each="movie, i:${topMovies}">
                        <a th:href="@{/movie/detail(movieNo=${movie.no})}" class="movie-list-info" title="영화상세 보기">
                            <p class="rank"  th:text="${i.count}"><span class="ir">위</span></p>
                            <!-- to 개발 : alt 값에 영화 제목 출력 -->
                            <img th:src="${movie.getMainPoster()}" class="poster">
                            <div class="wrap" style="display: none; opacity: 1;">
                                <div class="summary" th:text="${movie.plot}">

                                </div>
                                <!--
                                    관람 전이 더 높을 때
                                    <div class="my-score small">

                                    관람 후가 더 높을 때
                                    <div class="my-score big">

                                    관람 후가 더 같을 때
                                    <div class="my-score equal">
                                 -->
                                <div class="score">
                                    <div class="preview">
                                        <p class="tit">관람평</p>
                                        <p class="number" th:text="${movie.getAverageScore()}"><span class="ir">점</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="btn-util">
                            <button type="button" title="보고싶어 안함" class="btn btn-like" data="20224667" data2="111" disabled>
                                <i class="iconset ico-heart-line"></i>
                                <span title="보고싶어 한 명수" id="likesCnt" th:text="${movie.likes}">2</span>
                            </button>
                            <div class="case">
                                <!-- 개봉 예매가능 기본-->
                                <a th:href="@{/booking}" class="button gblue" title="영화 예매하기">예매</a>
                            </div>
                        </div>
                    </li>
                    <!-- 박스오피스 종료 -->
                </ol>
            </div>
            <!--// main-movie-list -->

            <div class="search-link">
                <div class="cell"><a th:href="@{/theater/detail?brchNo=1#tab02}"><i class="iconset ico-schedule-main"></i> 상영시간표</a></div>
                <div class="cell"><a th:href="@{/movie}" title="박스오피스 보기"><i class="iconset ico-boxoffice-main"></i> 박스오피스</a></div>
                <div class="cell"><a th:href="@{/booking}" title="빠른예매 보기"><i class="iconset ico-quick-reserve-main"></i> 빠른예매</a></div>
            </div>
            <!-- 2019-02-22 추가 : 마우스 아이콘 영역 추가 -->

            <!--// 2019-02-22 추가 : 마우스 아이콘 영역 추가 -->
        </div>
        <!--// cont-area  -->
    </div>
    <!--// section main-movie : 영화 -->

    <!-- section main-benefit : 게시판 -->
    <div id="main_section02" class="section main-benefit mb-0 pb-0">
        <!-- wrap -->
        <div class="wrap" style="min-height:500px;">
            <!-- 게시판 시작 -->
            <div class="tit-util">
                <h2 class="tit">게시판</h2>
                <div class="right">
                    <a th:href="@{/board/movie/list}" title="게시판 더보기" style="color: black;">
                        게시판 더보기 <i class="iconset ico-more-corss gray"></i>
                    </a>
                </div>
            </div>
			<div class="row mt-4">
				<div class="col-6 mb-4">
					<div  style="padding-bottom: 40px">
						<p class="float-start" style="font-size:18px;">댓글수 BEST5</p>
						<a th:href="@{/board/movie/list}" class ="float-end mt-2 text-black text-decoration-none" style="font-size:14px;">더보기 <i class="iconset ico-arr-right-gray m107"></i></a>
					</div>
					
					<table class="table table-borderless border-top  border-dark ">
						<tbody style="font-size:14px;" >
							<tr th:if="${#lists.isEmpty(comment)}">
								<td colspan="5">게시글이 존재하지 않습니다.</td>
							</tr>	
							<tr th:if="${not #lists.isEmpty(comment)}" style="cursor: pointer;" th:each="board:${comment}">
								<td th:text="${board.type}" style="color: #037b94b5"></td>
								<td>
									<div class="combined-cell">
					            		<a class="text-black text-decoration-none" th:if="${#strings.equals(board.type, '영화')}" th:href="@{../../board/movie/detail(no=${board.no})}">
										    <div class="title-content-2" th:text="${board.name.length() > 13 ? board.name.substring(0, 13) + '...' : board.name}"></div>
										</a>
					            		<a class="text-black text-decoration-none" th:if="${#strings.equals(board.type, '극장')}" th:href="@{../../board/theater/detail(no=${board.no})}">
										    <div class="title-content-2" th:text="${board.name.length() > 13 ? board.name.substring(0, 13) + '...' : board.name}"></div>
										</a>
					            		<a class="text-black text-decoration-none" th:if="${#strings.equals(board.type, '스토어')}" th:href="@{../../board/store/detail(no=${board.no})}">
										    <div class="title-content-2" th:text="${board.name.length() > 13 ? board.name.substring(0, 13) + '...' : board.name}"></div>
										</a>
					            		<a class="text-black text-decoration-none" th:if="${#strings.equals(board.type, '파티')}" th:href="@{../../board/party/detail(no=${board.no})}">
										    <div class="title-content-2" th:text="${board.name.length() > 13 ? board.name.substring(0, 13) + '...' : board.name}"></div>
										</a>
					                </div>
								</td>
								<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"></td>
							</tr>
						</tbody>
					</table>
					<hr style="margin-top:-15px;">
				</div>
				
				<div class="col-6 mb-4">
					<div  style="padding-bottom: 40px">
						<p class="float-start" style="font-size:18px;">좋아요수 BEST5</p>
						<a th:href="@{/board/movie/list}" class ="float-end mt-2 text-black text-decoration-none" style="font-size:14px;">더보기 <i class="iconset ico-arr-right-gray m107"></i></a>
					</div>
					<table class="table table-borderless border-top  border-dark pt-2">
						 <tbody style="font-size:14px;">
						 	<tr th:if="${#lists.isEmpty(like)}">
								<td colspan="5">게시글이 존재하지 않습니다.</td>
							</tr>	
							<tr th:if="${not #lists.isEmpty(like)}" style="cursor: pointer;" th:each="board:${like}">
								<td th:text="${board.type}"  style="color: #037b94b5"></td>
								<td>
									<div class="combined-cell">
					            		<a class="text-black text-decoration-none" th:if="${#strings.equals(board.type, '영화')}" th:href="@{../../board/movie/detail(no=${board.no})}">
										    <div class="title-content-2" th:text="${board.name.length() > 13 ? board.name.substring(0, 13) + '...' : board.name}"></div>
										</a>
					            		<a class="text-black text-decoration-none" th:if="${#strings.equals(board.type, '극장')}" th:href="@{../../board/theater/detail(no=${board.no})}">
										    <div class="title-content-2" th:text="${board.name.length() > 13 ? board.name.substring(0, 13) + '...' : board.name}"></div>
										</a>
					            		<a class="text-black text-decoration-none" th:if="${#strings.equals(board.type, '스토어')}" th:href="@{../../board/store/detail(no=${board.no})}">
										    <div class="title-content-2" th:text="${board.name.length() > 13 ? board.name.substring(0, 13) + '...' : board.name}"></div>
										</a>
					            		<a class="text-black text-decoration-none" th:if="${#strings.equals(board.type, '파티')}" th:href="@{../../board/party/detail(no=${board.no})}">
										    <div class="title-content-2" th:text="${board.name.length() > 13 ? board.name.substring(0, 13) + '...' : board.name}"></div>
										</a>
					                </div>
								</td>
								<td th:text="${#dates.format(board.createDate, 'yyyy-MM-dd')}"></td>
							</tr>
						</tbody> 
					</table>
					<hr style="margin-top:-15px;">
				</div>
			</div>

        </div>
        <!--// wrap -->
    </div>
    <!--// section main-board : 게시판 -->

    <!--// section giftcon_wrap : 게시판 -->
    <div id="main_section03 " class="section giftcon_wrap pt-0 main-store">
        <div class="wrap">
            <div class="tit-util">
                <h2 class="tit">스토어</h2>
                <div class="right">
                    <a th:href="@{/store}" title="스토어 더보기">
                        스토어 더보기 <i class="iconset ico-more-corss gray"></i>
                    </a>
                </div>
            </div>
            <ul class="giftcon_list_wrap  mt-4">

                <li>
                    <dl class="giftcon_list">
                        <dt>패키지<a th:href="@{/store/list?catNo=1}" alt="패키지" class="btn_more">더보기</a></dt>

                        <dd>
                            <a th:href="@{/store/detail/package?packageNo=5}">
                                <div class="img_wrap" data-scale="false"><img th:src="@{/images/product/패밀리 나초 패키지.png}" alt="패밀리 나초 패키지"></div>
                                <div class="giftcon_info_wrap">
                                    <span>페밀리 나초 패키지</span>
                                    <strong>14,000원</strong>
                                </div>
                            </a>
                        </dd>

                        <dd>
                            <a th:href="@{/store/detail/package?packageNo=4}">
                                <div class="img_wrap" data-scale="false"><img th:src="@{/images/product/패밀리 패키지.png}" alt="우리 패키지"></div>
                                <div class="giftcon_info_wrap">
                                    <span>패밀리 패키지</span>
                                    <strong>61,000원</strong>
                                </div>
                            </a>
                        </dd>

                        <dd>
                            <a th:href="@{/store/detail/package?packageNo=2}">
                                <div class="img_wrap" data-scale="false"><img th:src="@{/images/product/너와 나 패키지.png}" alt="나랑 너 패키지"></div>
                                <div class="giftcon_info_wrap">
                                    <span>나랑 너 패키지</span>
                                    <strong>34,000원</strong>
                                </div>
                            </a>
                        </dd>

                    </dl>
                </li>
                <li>
                    <dl class="giftcon_list">
                        <dt>팝콘/음료<a th:href="@{/store/list?catNo=2}" alt="팝콘/음료" class="btn_more">더보기</a></dt>

                        <dd>
                            <a th:href="@{/store/detail/product?productNo=23}">
                                <div class="img_wrap" data-scale="false"><img th:src="@{/images/product/네가지맛 에이드.png}" alt="CGV 골드클래스"></div>
                                <div class="giftcon_info_wrap">
                                    <span>에이드</span>
                                    <strong>4,500원</strong>
                                </div>
                            </a>
                        </dd>

                        <dd>
                            <a th:href="@{store/detail/product?productNo=25}">
                                <div class="img_wrap" data-scale="false"><img th:src="@{/images/product/콜라 L사이즈.png}" alt="CGV 영화관람권"></div>
                                <div class="giftcon_info_wrap">
                                    <span>콜라 L사이즈</span>
                                    <strong>3,000원</strong>
                                </div>
                            </a>
                        </dd>

                        <dd>
                            <a th:href="@{store/detail/product?productNo=27}">
                                <div class="img_wrap" data-scale="false"><img th:src="@{/images/product/팝콘 L사이즈.png}" alt="4DX관람권"></div>
                                <div class="giftcon_info_wrap">
                                    <span>팝콘 L사이즈</span>
                                    <strong>5,500원</strong>
                                </div>
                            </a>
                        </dd>

                    </dl>
                </li>
                <li>
                    <dl class="giftcon_list">
                        <dt>금액권<a th:href="@{/store/list?catNo=5}" alt="금액권" class="btn_more">더보기</a></dt>

                        <dd>
                            <a th:href="@{/store/detail/product?productNo=30}">
                                <div class="img_wrap" data-scale="false"><img th:src="@{/images/product/2만원권.png}" alt="파코니야 여름을부탁해"></div>
                                <div class="giftcon_info_wrap">
                                    <span>2만원권</span>
                                    <strong>금액충전형</strong>
                                </div>
                            </a>
                        </dd>

                        <dd>
                            <a th:href="@{/store/detail/product?productNo=31}">
                                <div class="img_wrap" data-scale="false"><img th:src="@{/images/product/3만원권.png}" alt="파코니의 썸머파티"></div>
                                <div class="giftcon_info_wrap">
                                    <span>3만원권</span>
                                    <strong>금액충전형</strong>
                                </div>
                            </a>
                        </dd>

                        <dd>
                            <a th:href="@{/store/detail/product?productNo=32}">
                                <div class="img_wrap" data-scale="false"><img th:src="@{/images/product/5만원권.png}" alt="PACONNIE A형"></div>
                                <div class="giftcon_info_wrap">
                                    <span>5만원권</span>
                                    <strong>금액충전형</strong>
                                </div>
                            </a>
                        </dd>

                    </dl>
                </li>

            </ul>
        </div>
    </div>

    <!-- section main-info : 메가박스 안내 -->
    <div id="main_section04" class="section main-info">
      
        <!-- info-notice -->
        <div class="info-notice">
            <div class="wrap" th:each="notice, iterStat : ${notice}" th:if="${iterStat.index < 1}">
                <p class="tit" th:text="${notice.theater == null || notice.theater.name == null ? 'MGV' : notice.theater.name}"></p>
                <p class="link">
                    <a  th:href="@{/support/notice/detail(no=${notice.no})}" title="공지사항 상세보기">
                        <strong th:text="${notice.type == '공지' ? '공지' : '이벤트'}"></strong>
                        <span th:text="${notice.theater == null || notice.theater.name == null ? '[MGV] ' + notice.title : '['+ notice.theater.name + '] ' + notice.title}"></span>
                    </a>
                </p>
                <p class="date" th:text="${#dates.format(notice.updateDate, 'yyyy.MM.dd')}"></p>
                <p class="more">
                    <a href="/support/notice" title="전체공지 더보기">더보기 <i class="iconset ico-arr-right-gray"></i></a>
                </p>
            </div>
        </div>
        <!--// info-notice -->

        <!-- info-link -->
        <div class="info-link">
            <div class="table">
                <div class="cell">
                    <a href="/support">
                        <i class="iconset ico-main-customer"></i>
                        <span>고객센터</span>
                    </a>
                </div>

                <div class="cell">
                    <a href="/support/faq">
                        <i class="iconset ico-main-faq"></i>
                        <span>자주 묻는 질문</span>
                    </a>
                </div>
                <div class="cell">
                    <a href="/support/one">
                        <i class="iconset ico-main-qna"></i>
                        <span>1:1 문의</span>
                    </a>
                </div>
                <div class="cell">
                    <a href="/support/lost">
                        <i class="iconset ico-main-lost"></i>
                        <span>분실물 문의/접수</span>
                    </a>
                </div>

            </div>
        </div>
        <!--// info-link -->
    </div>
    <!--// section main-info : 메가박스 안내 -->
</div>
</body>
</html>