<html xmlns:th="http://www.thymeleaf.org"
   xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
   layout:decorate="~{layout/boardDetail}">
<head th:fragment="extra-head-content">
	<title>게시판</title>
    <link th:href="@{/css/board/detail.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/board/partyBoardDetail.js}"></script>    
</head>

   <div layout:fragment="content" class="container my-3 pt-5">
	 <div class="row mb-3">
		 <div class="col-12 d-flex justify-content-between">
         	<div>
				<h2 class="fw-bold fs-4 p-2 pb-1" th:utext="${board.name}">나랑 인시디어스 보러 갈 사람~~!</h2>
				<p class="p-2" style="font-size : 13px; line-height: 15%;" th:text="${board.schedule.location.name + '/' + board.schedule.theater.name + '/' + board.schedule.movie.title + '/' + board.schedule.date + '/' + board.schedule.start}">지역/극장/영화제목/날짜/시간</p>
			</div>
		 </div>
   	</div>
   
   <div class="row mb-3">
      <div class="col-12">
         <div id="profile" class="pb-1 ">
            <div id="imgbox" class="float-start" >
               <a href="사용자상세정보">
                  <img id="profileimg"  th:src="@{/images/board/sample.png}" alt="프로필사진">
               </a>
            </div>
            
            <div class="boardinfo ps-5">
               <div>
                  <p ><strong th:text="${board.user.id}">작성자아이디</strong></p>
                  <p class="float-start" style="font-size: 12px; line-height: 15%; color: gray" th:utext="|${#dates.format(board.createDate, 'yyyy-MM-dd HH:mm')} / 조회 ${board.readCount}|">등록일자 | 조회 조회수&nbsp;</p>
               </div>


               <div class="d-flex justify-content-end" style="position: relative; bottom:10px;">
                  <p  style="font-size : 12px; "><img alt="댓글이미지" th:src="@{/images/board/comment.png}" width="15px" height="15px;" > <strong id="ajax-comment-count" th:utext="${board.commentCount}">3</strong></p>
               </div>
            </div>
         </div>
         
         <div class="txc-textbox pt-0 " style=" padding: 20px;">
            <p th:utext="${board.content}">파이널 화이팅~~</p>
         </div>
         
         <div class="reload-box d-flex justify-content-center pt-5">
	         <form class=" pe-4 me-3" 
	              th:if="${#authentication.principal.id != board.user.id}"
	              th:action="@{/board/party/changeRequest}"   
	              method="post"
	              sec:authorize="isAuthenticated()"
	              id="request-btn-form"
	             >
	            <input type="hidden" name="request" >
	            <input type="hidden" name="no" th:value="${board.no}" />
	            <input type="hidden" name="id" th:value="${#authentication.principal.id}" />
	        	<button th:if="${join == null || (join != null && #strings.equals(join.request, 'N'))}" class="btn btn-outline-success btn-sm " type="button" id="request-button" data-button-type="plus">파티신청</button>
	            <button th:if="${join != null && #strings.equals(join.request, 'Y')}" class="btn btn-success btn-sm" type="button" id="request-button"  data-button-type="minus">신청취소</button>
	         </form>
       		 <button type="button"
       		 		 class="btn btn-sm btn-secondary"
       		 		 id="party-join-btn"
       		 		 th:if="${#authentication.principal.id == board.user.id}"
       		 		 sec:authorize="isAuthenticated()"
       		 		 >
       		 		 신청자확인
       		 </button>
         </div>
         
         <div class="text-end mt-1 pt-5" id="board-function">
            <a class="pe-1" 
               th:href="@{/board/party/modify(no=${param.no})}"
               sec:authorize="isAuthenticated()"
               th:if="${#authentication.principal.id == board.user.id}">수정</a>
            <a class="pe-1" 
               id = "delete-btn"
               th:href="@{/board/party/delete(no=${param.no})}" 
               sec:authorize="isAuthenticated()"
               th:if="${#authentication.principal.id == board.user.id}">삭제</a>
            <a class="pe-1" th:href="@{/board/party/list(page=${param.page}, rows=${param.rows}, complete=${param.complete}, sort=${param.sort}, theaterNo=${param.theaterNo}, opt=${param.opt}, keyword=${param.keyword})}" >목록</a>
         </div>

      </div>
   </div>
   


    <div class="comment-like pt-5 d-flex justify-content-between">
       	<div class="d-flex justify-content-start">
          <p class="me-3" style="font-size : 12px;"><img class=" me-1" alt="댓글이미지" th:src="@{/images/board/comment.png}" width="15px" height="15px">댓글 <strong id="ajax-comment-count-2" th:utext="${board.commentCount}">3</strong></p>
 		</div>
	    <div class="d-flex justify-content-end ">
	          <button class="btn btn-outline-white btn-sm mb-2" id="link-btn" style="border: none; font-size: 12px" 
	                data-bs-container="body" data-bs-toggle="popover" data-bs-placement="top" data-bs-content="URL이 클립보드에 복사되었습니다."
	                >공유</button>
	          <button class="btn btn-outline-white btn-sm mb-2"  style="border: none; font-size: 12px" id="btn-report" 
	                  data-bs-toggle="modal" data-bs-target="#reportModal"
	                  sec:authorize="isAuthenticated()"
	                  th:if="${#authentication.principal.id != board.user.id}"
	                  >신고</button>
	    </div>
    </div>
            <hr class="mt-0 pt-0"/>

      <!-- 댓글 등록창 -->   
   <div class="row pb-2 pt-1">
         <div class="col-12 CommentWriter" sec:authorize="isAuthenticated()">
         <div class="comment-inbox border p-2 rounded" > 

            <em class="comment_inbox_name" th:text="${#authentication.principal.id}"
               th:value="${#authentication.principal.id}"
               id="login-id">로그인된 아이디</em>
            
            <form id="form-comment" method="post" th:action="@{/board/movie/addComment}" >
               <input type="hidden" name="no" th:value="${board.no}" />
               <input type="hidden" name="id" th:value="${#authentication.principal.id}" />
                <div class="row">
                  <div id="content-box">
                     <textarea rows="2" class="comment_inbox_text" name="content" style="border: none; overflow: hidden; overflow-wrap: break-word; " 
                     placeholder="댓글을 남겨보세요"></textarea>
                  </div>
                  <div class="register-box">
                  <!-- 등록 버튼 -->
                     <button class="btn btn-outline-white btn-sm float-end" id="btn-comment" style="border: none" type="button">등록</button>
                  </div>
               </div>
            </form>      
         </div>
         </div>
      </div>
      
      
  <div class="quick-menu" id="quick-scroll">위로</div>
      
   <div class="row mb-3">
         <div class="col-12">
            <div class="comment-sort mb-5">
               <p class="fs-5 fw-semibold float-start me-2">댓글</p>
               <a href="#" class="comment-tab float-start fw-light me-2" aria-selected ="true" role="button" >등록순</a>
               <a href="" class="comment-tab float-start fw-light" role="button" aria-selected ="true"  >최신순</a>
            </div>
         </div>
   </div>

   <!-- 댓글 표시 부분 -->
   
      
   <!-- 신고 모달 -->
   <div class="modal fade" id="reportModal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header">
                 <h1 class="modal-title fs-5" id="exampleModalLabel">게시물 신고</h1>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
               </div>
               
               <div class="modal-body">
                   <div class="row mb-3">
	                  <div class="col-12">
	                     <p style="font-size : 18px;"><strong>이 게시물을 신고하는 이유</strong></p>
	                     <p style="font-size : 15px;">지식재산권 침해를 신고하는 경우를 제외하고 회원님의 신고는익명으로 처리됩니다. 누군가 위급한 상황에 있다고 생각된다면 즉시 현지 응급 서비스 기관에 연락하시기 바랍니다.</p>
	                     
	                        <form class="border bg-light p-3" method="post" th:action="@{/board/movie/report(boardNo=${param.no})}" id="report-form">
	                           <input type="hidden" name="boardNo" value="${param.no}">
	                           <div class="form-group mb-2" style="width: 33%; padding:5px;">
	                              <label class="form-label">신고이유</label>
	                                  <select class="form-select" name="reasonNo" id="report-select" onchange="toggleContentField()">
	                                      <option value="" id="reason" selected disabled>신고이유</option>
	                                      <option th:each="reason : ${reasons}" 
	                                              th:text="${reason.name}" 
	                                              th:value="${reason.no}" >신고 이유</option>
	                                  </select>
	                           </div>
	                           <div class="form-group mb-2">
	                              <label class="form-label">상세내용</label>
	                              <textarea rows="5" class="form-control" name="reasonContent" disabled></textarea>
	                           </div>
	                           <div class="text-end">
	                              <button type="reset" class="btn btn-secondary btn-sm" >취소</button>
	                              <button type="submit" id="report-submit-btn" class="btn btn-primary btn-sm" >신고</button>
	                           </div>
	                        </form>
	                   </div>
               		</div>
               </div>
          </div>
      </div>
   </div>
   
   <!-- 신청자 확인 모달 -->
   <div class="modal fade" id="join-modal"  aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
               <div class="modal-header" style="background-color: #A06E8D;">
                 <h1 class="modal-title fs-5 fw-semibold" id="exampleModalLabel" style="color: white;">신청자 확인</h1>
                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
               </div>
               <div class="modal-body">
                   <div class="row mb-3">
                   	  <p class="ms-3">※이 파티의 신청자는 <strong th:text="${board.headCount}"></strong>명만 선택하실 수 있습니다.</p>
	                  <div class="col-12 d-flex justify-content-center">
	                  		<input type="hidden" name="headCount" th:value="${board.headCount}">
	                  		<input type="hidden" name="acceptCount" th:value="${board.acceptCount}">
	                  		<div class="join-box pe-1">
	                            <p class="text-center me-3 fs-6 fw-semibold" >신청자 목록</p>
		                           <div class="form-group mb-2 border" id="ready-to-join">
			                        	<form class="p-3 me-3" method="post" th:action="@{/board/movie/join(boardNo=${param.no})}" id="join-form" >
			                            	<div class="d-flex justify-content-between" id="join-box"  th:each="notAccept:${notAccepts}"
			                            		 th:if="${not #lists.isEmpty(notAccepts)}">
		                            			<p class="me-1" th:text="${notAccept.user.id}">신청자 아이디</p>
		                            			<button type="button" class="btn btn-sm btn-outline-dark" id="join-btn" style="height: 23px; font-size: 10px">수락</button>
		                            			<input type="hidden" name="partyId" th:value="${notAccept.user.id}">
					                           	<input type="hidden" name="boardNo" th:value="${param.no}">
			                            	</div>
			                            	<div class="text-center" th:if="${#lists.isEmpty(notAccepts)}" >
			                            		<p>신청자가 없습니다.</p>
			                            	</div>  
			                        	</form>
		                           </div>
	                  		</div>
	                  		<div class="reject-box">
		                        <p class="text-center fs-6 fw-semibold" >수락된 신청자 목록</p>
		                        	<div class="form-group mb-2 border" id="ready-to-reject">
				                        <form class="p-3" method="post" th:action="@{/board/movie/resetJoin(boardNo=${param.no})}" id="resetJoin-form" >
			                              	<div class="d-flex justify-content-between" id="resetJoin-box"  th:each="accept:${accepts}"
			                              		 th:if="${not #lists.isEmpty(accepts)}">
			                            		<p id="accepted-id" th:text="${accept.user.id}">신청자 아이디</p>
			                            		<button type="button" class="btn btn-sm btn-outline-secondary" id="reset-join-btn" style="height: 23px; font-size: 10px">취소</button>
				                           		<input type="hidden" name="partyId" th:value="${accept.user.id}">
						                        <input type="hidden" name="boardNo" th:value="${param.no}">
			                            	</div>
			                            	<div class="text-center" th:if="${#lists.isEmpty(accepts)}">
			                            		<p>수락된 신청자가 없습니다.</p>
			                            	</div>   
				                        </form>
		                           </div>
	                  		</div>
	                   </div>
               		</div>
               </div>
          </div>
      </div>
   </div>
   
</div>         
</html>