<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.mgv.favoritetheater.dao.FavoriteTheaterDao">
	
	<select id="getFavoriteTheaters" parameterType="String" resultType="theater">
	select 
		A.theater_no	as no,
		B.theater_name	as name
	from MGV_FAVORITE_THEATER A, MGV_THEATERS B
	where A.member_id = #{value}
	and A.theater_no = B. theater_no
	order by A.favorite_rank ASC
	</select>
	
	<select id="getFavoriteTheater" parameterType="FavoriteTheater" resultType="FavoriteTheater">
		select 
			A.theater_no	as theaterNo,
			B.theater_name	as theaterName
		from MGV_FAVORITE_THEATER A, MGV_THEATERS B
		where member_id = #{userId}
		and A.theater_no = #{theaterNo}
		and A.theater_no = B. theater_no
	</select>
	
	<delete id="deleteFavoriteTheaters" parameterType="String">
		delete
		from MGV_FAVORITE_THEATER
		where member_id = #{value}
	</delete>
	
	<delete id="deleteFavoriteTheater" parameterType="FavoriteTheater">
		delete
		from MGV_FAVORITE_THEATER
		where member_id = #{userId}
		and theater_no = #{theaterNo}
	</delete>
	
	<insert id="insertFavoriteTheaters" parameterType="FavoriteTheater">
		insert into MGV_FAVORITE_THEATER(member_id, theater_no, favorite_rank)
		values (#{userId}, #{theaterNo}, #{rank})
	</insert>
</mapper>