<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.mgv.theater.dao.TheaterDao">

<resultMap type="kr.co.mgv.theater.vo.Location" id="LocationWithTheaterResultMap">
	<id column="LOCATION_NO" property="no" />
	<result column="LOCATION_NAME" property="name" />
	<collection property="theaters" ofType="kr.co.mgv.theater.vo.Theater">
		<id column="THEATER_NO" property="no" />
		<result column="THEATER_NAME" property="name" />
	</collection>
</resultMap>

<resultMap type="theater" id="TheaterResultMap">
	<id column="THEATER_NO" property="no" />
	<result column="THEATER_NAME" property="name" />
	<result column="THEATER_ADDRESS" property="address" />
	<result column="THEATER_TEL" property="tel" />
	<result column="THEATER_DISABLED" property="disabled" />
	<result column="THEATER_INFO" property="info" />

	<collection property="parkingInfo" ofType="Parkinginfo">
		<id column="PARKING_ID" property="id" />
		<result column="PARKING_INFO" property="info" />
		<result column="PARKING_CONFIRM" property="confirm" />
		<result column="PARKING_CASH" property="cash" />
	</collection>
	
	<collection column="THEATER_NO" property="facilities" ofType="Facility" javaType="List" select="getTheaterFacilitiesByNo">
	</collection>
	
	<collection column="THEATER_NO" property="floorInfos" ofType="FloorInfo" javaType="List" select="getTheaterFloorInfosByNo">
	</collection>
	
</resultMap>
	
	<select id="getTheaters" resultMap="LocationWithTheaterResultMap">
		select 
			A.theater_no,
			A.theater_name,
			B.location_no,
			B.location_name		
		from MGV_THEATERS A, MGV_LOCATION B
		where A.location_no = B.location_no
		order by B.location_no asc;
	</select>
	
	<select id="getTheaterDetailByNo" parameterType="int" resultMap="TheaterResultMap">
		select
			A.THEATER_NO,
			A.THEATER_NAME,
			A.THEATER_ADDRESS,
			A.THEATER_TEL,
			A.THEATER_DISABLED,
			A.THEATER_INFO,
			C.PARKING_INFO,
			C.PARKING_CONFIRM,
			C.PARKING_CASH
		from
			MGV_THEATERS A, MGV_THEATER_PARKING_INFO C  
		where
			A.THEATER_NO = #{value}
			AND A.THEATER_NO = C.THEATER_NO
	</select>
	<select id="getTheaterFacilitiesByNo" parameterType="int" resultType="Facility">
		select
			E.FACILITY_TYPE as type,
			E.FACILITY_NAME as name,
			E.FACILITY_ICON as icon
		from MGV_THEATER_FACILITY_INFO D, MGV_THEATER_FACILITY_TYPE E
		where theater_no = #{value}
		AND D.FACILITY_TYPE = E.FACILITY_TYPE
	</select>
	<select id="getTheaterFloorInfosByNo" parameterType="int" resultType="FloorInfo">
		select
			FLOOR,
			INFO
		from MGV_THEATER_FLOORS_INFO
		where theater_no = #{value}
	</select>
	

</mapper>