<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/user}">

<head th:fragment="extra-head-content">
    <script th:src="@{/js/user/disabled.js}"></script>
    <style>
        .button {
            padding: 1px 10px!important;
        }
    </style>
</head>
<div id="contents" layout:fragment="content" class="disable-form">
    <form id="action-form" method="post" th:action="@{/user/info/disabled}">

        <h2 class="tit">회원탈퇴</h2>

        <p class="reset">[주의] 메가박스 회원탈퇴를 신청하기 전에 안내 사항을 꼭 확인해주세요.</p>

        <div class="user-out mt10">
            <ol>
                <li>
                    <p class="txt">1. 30일간 회원 재가입이 불가능합니다.</p>

                    <ul class="dot-list mt10">
                        <li>회원 탈퇴 후, 30일 경과 후 재가입할 수 있습니다.</li>
                    </ul>
                </li>
                <li>
                    <p class="txt">2. 다음에 경우에 회원 탈퇴가 제한됩니다.</p>

                    <ul class="dot-list mt10">
                        <li>영화예매 내역이 있는 경우</li>
                        <li>모바일오더 주문건이 있는 경우</li>
                    </ul>
                </li>
                <li>
                    <p class="txt">3. 탈퇴 후 삭제 내역</p>
                    <p>(회원 탈퇴하시면 회원정보와 개인 보유 포인트 등 정보가 삭제되며 데이터는 복구되지 않습니다.)</p>

                    <ul class="dot-list mt10">
                        <li>메가박스 멤버십 포인트 및 적립/차감 내역</li>
                        <li>관람권 및 쿠폰</li>
                        <li>영화 관람 내역</li>
                        <li>간편 로그인 연동 정보</li>
                    </ul>
                </li>
                <li>
                    <p class="txt">4. 고객님께서 불편하셨던 점, 아쉬웠던 점을 알려주시면 앞으로 더 나은 모습으로 찾아 뵙겠습니다.</p>

                    <ul class="reason">

                        <li>
                            <input type="radio" name="reason" id="userout01" value="서비스 장애가 잦아서" checked>
                            <label for="userout01">서비스 장애가 잦아서</label>
                        </li>

                        <li>
                            <input type="radio" name="reason" id="userout02" value="이벤트 및 무료서비스 혜택이 적어서">
                            <label for="userout02">이벤트 및 무료서비스 혜택이 적어서</label>
                        </li>

                        <li>
                            <input type="radio" name="reason" id="userout03" value="불만 및 불편사항에 대한 고객응대가 나빠서">
                            <label for="userout03">불만 및 불편사항에 대한 고객응대가 나빠서</label>
                        </li>

                        <li>
                            <input type="radio" name="reason" id="userout04" value="영화관람시 시설 및 가격등의 불만 때문에">
                            <label for="userout04">영화관람시 시설 및 가격등의 불만 때문에</label>
                        </li>

                        <li>
                            <input type="radio" name="reason" id="userout05" value="이용빈도가 낮고 개인정보 유출이 우려되어">
                            <label for="userout05">이용빈도가 낮고 개인정보 유출이 우려되어</label>
                        </li>

                        <li>
                            <input type="radio" name="reason" id="userout06" value="탈퇴 후 재가입을 위해">
                            <label for="userout06">탈퇴 후 재가입을 위해</label>
                        </li>

                        <li>
                            <input type="radio" name="reason" id="userout07" value="기타">
                            <label for="userout07">기타</label>

                            <input type="text" class="input-text w600px ml10" title="기타 입력" id="etcText" autocomplete="off">
                        </li>

                        <li>
                            <input type="radio" name="reason" id="userout08" value="휴면계정 만료">
                            <label for="userout08">휴면계정 만료</label>
                        </li>

                    </ul>
                </li>
                <li>
                    <p class="txt">5. 회원님의 비밀번호를 입력하시고 [탈퇴] 버튼을 클릭해주세요.</p>
                    <span><em class="font-orange">*</em> 는 필수 항목 입니다. 탈퇴 완료 시 <strong style="color: #db0f02">로그아웃</strong> 됩니다.</span>
                    <div class="table-wrap">
                        <table class="board-form">
                            <colgroup>
                                <col style="width:180px;">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <th scope="row">
                                    <label for="pwd_chk">비밀번호 <em class="font-orange">*</em></label>
                                </th>
                                <td>
                                    <input type="password" class="input-text w160px" name="checkPassword">
                                    <span id="pwd-error-text" class="alert"></span>
                                </td>
                            </tr>
                            <input id="ibxSchPwdLoginId" type="hidden" th:value="${user.id}">
                            <input id="ibxSchPwdMbNm" type="hidden" th:value="${user.name}">
                            <tr>
                                <th scope="row"><label>E-mail <em class="font-orange">*</em></label></th>
                                <td>
                                    <input type="hidden" id="userId" th:value="${user.id}">
                                    <input type="text" id="userEmail" name="email" class="input-text w230px" autocomplete="off">
                                    <button id="btnSendAuthMail" type="button" class="button gray w75px ml08" disabled>인증요청</button>
                                    <button id="btnResendAuthMail" type="button" class="button gray w75px ml08" style="display: none;">재전송</button>
                                    <span id="email-error-text" class="alert"></span>
                                </td>
                            </tr>
                            <tr id="auth-number" style="display: none;">
                                <th scope="row"><label for="userAuth">인증번호 <em class="font-orange">*</em></label></th>
                                <td>
                                    <div class="chk-num">
                                        <div class="line">
                                            <input maxlength="8" type="text" id="userAuth" class="input-text w180px" autocomplete="off">

                                            <div class="time-limit" id="schEmailtimer">
                                                3:00
                                            </div>
                                        </div>
                                    </div>

                                    <button id="btnConfirm" type="button" class="button gray w75px ml08" disabled>인증확인</button>
                                    <span id="auth-error-text" class="alert"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </li>
            </ol>
        </div>

        <div class="btn-group" style="display: block;">
            <button class="button large" id="btnCancel">취소</button>
            <button id="btnDisable" class="button purple large" type="submit" disabled>탈퇴</button>
        </div>
    </form>
</div>
