<!DOCTYPE html>
<html layout:decorate="~{layout/default}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="config">
    <title>분실물 문의 상세</title>
</head>
<body>
<div layout:fragment="content" style="margin-top: 100px;">
    <script th:src="@{/js/lostItemDetail.js}"></script>
    <div class="inner-wrap">

        <div id="contents" class="location-fixed">
            <input id="lostItemId" type="hidden" th:value="${item.id}">
            <h2 class="tit">분실물 문의 상세</h2>

            <div class="table-wrap">
                <div class="board-view">
                    <div class="tit-area">
                        <p class="tit" th:text="${item.title}"></p>
                    </div>

                    <div class="info">
                        <p>
                            <span class="tit">작성자</span>
                            <span class="txt" th:text="${item.writer.username}"></span>
                        </p>
                        <p>
                            <span class="tit">구분</span>
                            <span class="txt">분실물</span>
                        </p>
                        <p>
                            <span class="tit">등록일</span>
                            <span class="txt"
                                  th:text="${#temporals.format(item.createDate, 'yyyy.MM.dd HH:mm')}"></span>
                        </p>
                    </div>

                    <div class="cont" th:utext="${item.content}"></div>
                </div>
            </div>

            <div class="prev-next">
                <div class="line prev">
                    <p class="tit">이전</p>
                    <a class="link moveBtn" th:if="${prev.isPresent}" th:text="${prev.get.title}"
                       th:href="${prev.get.id}"></a>
                    <p class="link" th:unless="${prev.isPresent}">이전글이 존재하지 않습니다.</p>
                </div>

                <div class="line next">
                    <p class="tit">다음</p>
                    <a class="link moveBtn" href="#" th:if="${next.isPresent}" th:text="${next.get.title}"
                       th:href="${next.get.id}"></a>
                    <p class="link" th:unless="${next.isPresent}">다음글이 존재하지 않습니다.</p>
                </div>
            </div>

            <div class="btn-group pt40">
                <a href="/center/lost" class="button large listBtn" title="목록">목록</a>
            </div>

            <div class="movie-list-util mt30 oneContent">
                <div class="movie-sorting">
                    <span><button type="button" class="btn sortBtn on" data-cd="">답변 전체
                        <em class="font-gblue" id="cnt1" th:text="${item.comments.size()}"></em> 건</button>
                    </span>
                </div>
            </div>

            <div class="movie-idv-story">
                <ul id="comments">
                    <li class="input-write type01 oneContentTag" style="margin-bottom: 124px;">
                        <div class="story-area">
                            <!-- 프로필영역 -->
                            <div class="user-prof">
                                <div class="prof-img">
                                    <img th:src="${#authorization.expression('hasRole(''ROLE_ADMIN'')') ?
                                    'https://img.megabox.co.kr/static/pc/images/common/ico/ico-mega-profile.png' :
                                    'https://img.megabox.co.kr/static/pc/images/mypage/bg-profile.png'}" alt="MEGABOX">
                                </div>
                                <p class="user-id" sec:authentication="name"></p>
                            </div>
                            <div class="story-box" style="height: auto">
                                <div id="inputComment"></div>
                            </div>
                            <button style="background-color: #4874ff;
                                           color: white;
                                           width: 100px;
                                           padding: 12px 30px;
                                           position: absolute;
                                           z-index: 10;
                                           right: 0;
                                           bottom: 0;
                                           font-size: 15px;"
                                    th:data-id="${item.id}"
                                    class="btn-comment-insert"
                            >작성</button>
                        </div>
                    </li>
                    <li th:each="comment : ${item.comments}"
                        th:class="${comment.writer.roleNames.contains('ROLE_ADMIN') ?
                            'type01 oneContentTag' :
                            'type03'}">
                        <div class="story-area">
                            <div class="user-prof">
                                <div class="prof-img">
                                    <img th:src="${comment.writer.roleNames.contains('ROLE_ADMIN') ?
                                    'https://img.megabox.co.kr/static/pc/images/common/ico/ico-mega-profile.png' :
                                    'https://img.megabox.co.kr/static/pc/images/mypage/bg-profile.png'}" alt="MEGABOX">
                                </div>
                                <p class="user-id" th:text="${comment.writer.username}"></p>
                            </div>
                            <div class="story-box">
                                <div th:class="${comment.writer.roleNames.contains('ROLE_ADMIN') ? 'story-wrap review' : 'story-wrap'}">
                                    <div th:if="${comment.writer.roleNames.contains('ROLE_ADMIN')}" class="tit">답변</div>
                                    <div class="story-cont">
                                        <div th:class="${comment.writer.roleNames.contains('ROLE_ADMIN') ? 'story-txt' : ''}" th:utext="${comment.content}"></div>
                                        <div class="story-util">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="story-date">
                                <div class="review on">
                                    <span th:text="${#temporals.format(comment.createDate, 'yyyy.MM.dd&nbsp;HH:mm')}"></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>